<settings-menu>
</settings-menu>
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>Legacy Mobile Notifications</legend>
        <div class="lmobile-container">
            <div class="col-md-6">
                <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div *ngIf="userList" class="col-md-8">
                            <table class="table table-striped table-hover table-responsive table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            <a>Username/Alias</a>
                                        </th>
                                        <th>
                                            <a>Mobile Devices Registered</a>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userList">
                                        <td>
                                            {{user.username}}
                                        </td>
                                        <td>
                                            {{user.devices}}
                                        </td>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row lmobile-actions">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Users</mat-label>
                                <mat-select id="select" [(ngModel)]="testUserId" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let x of userList" [value]="x.userId">{{x.username}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <div>
                                <button [disabled]="form.invalid" mat-raised-button type="button" (click)="test(form)" mat-raised-button>Send Test Notification</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button [disabled]="form.invalid" mat-raised-button type="button" (click)="remove(form)" mat-raised-button>Remove User</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <div>
                                <button [disabled]="form.invalid" mat-raised-button type="submit" id="save" mat-raised-button>Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-md-6 issue-content">
                <notification-templates [templates]="templates" [showSubject]="false"></notification-templates>
            </div>
        </div>
    </fieldset>
</div>
