
<wiki [url]="'https://github.com/tidusjar/Ombi/wiki/Notification-Template-Variables'" [text]="'Notification Variables'"></wiki>
<br><br>


<ngb-accordion [closeOthers]="true" activeIds="0-header">
    <ngb-panel *ngFor="let template of templates" id="{{template.notificationType}}" title="{{NotificationType[template.notificationType] | humanize}}">
        <ng-template ngbPanelContent>
            <div class="panel panel-default a">
                <div class="panel-body">
                    
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" id="enabled" [(ngModel)]="template.enabled" ng-checked="template.enabled"><label for="enabled">Enable</label>
                        </div>
                    </div>
                    
                    <div class="form-group" *ngIf="showSubject">
                        <label class="control-label">Subject</label>
                        <div>
                            <input type="text" class="form-control form-control-custom" [(ngModel)]="template.subject" value="{{template.subject}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Message</label>
                        <div>
                            <textarea type="text" class="form-control form-control-custom" [(ngModel)]="template.message" value="{{template.message}}"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </ng-template>
    </ngb-panel>
</ngb-accordion>
