
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>Ntfy Notifications</legend>
        <div class="row">
            <div class="col-md-8">
                <form novalidate [formGroup]="form" style="padding-top:2%;" (ngSubmit)="onSubmit(form)">
                    <div class="row">
                        <div>
                            <div class="md-form-field">
                                <mat-slide-toggle formControlName="enabled">Enable</mat-slide-toggle>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="md-form-field">
                            <mat-form-field appearance="outline">
                                <mat-label>Base URL</mat-label>
                                <input matInput formControlName="baseUrl" matTooltip="Enter the URL of your ntfy server">
                                <mat-error *ngIf="form.get('baseUrl').hasError('required')">
                                    Base URL is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Topic</mat-label>
                                <input matInput formControlName="topic" matTooltip="Enter the topic to publish to">
                                <mat-error *ngIf="form.get('topic').hasError('required')">
                                    Topic is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="md-form-field">
                            <mat-form-field appearance="outline">
                                <mat-label>Authorization Header</mat-label>
                                <input matInput formControlName="authorizationHeader" matTooltip="Optional: Bearer token or Basic auth for secured servers">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Priority</mat-label>
                                <mat-select formControlName="priority" matTooltip="The priority you want your ntfy notifications sent as">
                                    <mat-option [value]="5">Max</mat-option>
                                    <mat-option [value]="4">High</mat-option>
                                    <mat-option [value]="3">Default</mat-option>
                                    <mat-option [value]="2">Low</mat-option>
                                    <mat-option [value]="1">Min</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row top-space">
                        <div class="form-group">
                            <div>
                                <button mat-raised-button type="button" class="btn-spacing" color="accent"
                                    (click)="test(form)" [disabled]="form.invalid">Test <div id="spinner"></div>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <button mat-raised-button type="submit" class="btn-spacing" color="primary"
                                    [disabled]="form.invalid">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-4">
                <notification-templates [templates]="templates" [showSubject]="false"></notification-templates>
            </div>

        </div>
    </fieldset>
</div>
