
<settings-menu></settings-menu>
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>Pushover Notifications</legend>
        <div class="col-md-6">
            <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="enable" formControlName="enabled">
                        <label for="enable">Enabled</label>
                    </div>
                </div>

      
                <div class="form-group">
                    <label for="accessToken" class="control-label">Access Token</label>
                   
                        <input type="text" class="form-control form-control-custom " id="accessToken" name="accessToken" [ngClass]="{'form-error': form.get('accessToken').hasError('required')}" formControlName="accessToken" pTooltip="Enter your API Key from Pushover.">
                    <small *ngIf="form.get('accessToken').hasError('required')" class="error-text">The Access Token is required</small>
                </div>

                <div class="form-group">
                    <label for="userToken" class="control-label">User Token</label>
                    <div>
                        <input type="text" class="form-control form-control-custom " id="userToken" name="userToken" formControlName="userToken" pTooltip="Your user or group key from Pushover.">
                    </div>
                </div>

                <div class="form-group">
                    <label for="priority" class="control-label">Priority</label>
                    <div>
                        <select class="form-control form-control-custom " id="priority" name="priority" formControlName="priority" pTooltip="The priority you want your pushover notifications sent as.">
                            <option value="0">Normal</option>
                            <option value="1">High</option>
                            <option value="-1">Low</option>
                            <option value="-2">Lowest</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sound" class="control-label">Sound</label>
                    <div>
                        <select class="form-control form-control-custom " id="sound" name="sound" formControlName="sound" pTooltip="The sound you want your pushover notifications sent with.">
                            <option value="pushover">Pushover</option>
                            <option value="bike">Bike</option>
                            <option value="bugle">Bugle</option>
                            <option value="cashregister">Cash Register</option>
                            <option value="classical">Classical</option>
                            <option value="cosmic">Cosmic</option>
                            <option value="falling">Falling</option>
                            <option value="gamelan">Gamelan</option>
                            <option value="incoming">Incoming</option>
                            <option value="intermission">Intermission</option>
                            <option value="magic">Magic</option>
                            <option value="mechanical">Mechanical</option>
                            <option value="pianobar">Piano Bar</option>
                            <option value="siren">Siren</option>
                            <option value="spacealarm">Space Alarm</option>
                            <option value="tugboat">Tug Boat</option>
                            <option value="alien">Alien Alarm (long)</option>
                            <option value="climb">Climb (long)</option>
                            <option value="persistent">Persistent (long)</option>
                            <option value="echo">Pushover Echo (long)</option>
                            <option value="updown">Up Down (long)</option>
                            <option value="none">None</option>
                        </select>
                    </div>
                </div>

               

                <div class="form-group">
                    <div>
                        <button [disabled]="form.invalid" type="button" (click)="test(form)" class="btn btn-primary-outline">
                            Test
                            <div id="spinner"></div>
                        </button>
                    </div>
                </div>



                <div class="form-group">
                    <div>
                        <button [disabled]="form.invalid" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-6">
            <notification-templates [templates]="templates" [showSubject]="false"></notification-templates>
        </div>
    </fieldset>
</div>