
<settings-menu></settings-menu>
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>Slack Notifications</legend>
        <div class="col-md-6">
            <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

                <div class="form-group">
                    <mat-checkbox id="enable" formControlName="enabled">Enabled</mat-checkbox>
                </div>


                <div class="form-group">

                    <small class="control-label"> Click <a target="_blank" href="https://my.slack.com/services/new/incoming-webhook/">Here</a> and follow the guide. You will then have a Webhook Url</small>
                    <mat-form-field>
                        <mat-label>Webhook Url</mat-label>
                        <input matInput type="text" id="webhookUrl" name="webhookUrl" formControlName="webhookUrl"  [ngClass]="{'form-error': form.get('webhookUrl').hasError('required')}">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Username Override</mat-label>
                        <input matInput type="text" id="username" name="username" formControlName="username" pTooltip="Optional, this will override the username you used for the Webhook. Default is Ombi">
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Channel Override</mat-label>
                        <input matInput type="text" id="channel" name="channel" formControlName="channel" pTooltip="Optional, this will override the channel you used for the Webhook">
                    </mat-form-field>
                </div>

              <div class="form-group">
                <mat-form-field>
                    <mat-label>Emoji Icon Override</mat-label>
                    <input matInput type="text" id="iconEmoji" name="iconEmoji" formControlName="iconEmoji" pTooltip="Optional, this will override the Icon you used for the Webhook">
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field>
                    <mat-label>Url Icon Override</mat-label>
                    <input matInput type="text" id="iconUrl" name="iconUrl" formControlName="iconUrl" pTooltip="Optional, this will override the Icon you used for the Webhook">
                </mat-form-field>
              </div>

                <small>You can find more details about the Slack API <a target="_blank" href="https://api.slack.com/custom-integrations/incoming-webhooks">Here</a></small>


                <div class="form-group">
                    <div>
                        <button [disabled]="form.invalid" mat-raised-button type="button" (click)="test(form)">
                            Test
                            <div id="spinner"></div>
                        </button>
                    </div>
                </div>



                <div class="form-group">
                    <div>
                        <button [disabled]="form.invalid" mat-raised-button type="submit" id="save">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-6">
            <notification-templates [templates]="templates" [showSubject]="false"></notification-templates>
        </div>
    </fieldset>
</div>
