<h1 mat-dialog-title>Issues for {{data.title}}</h1>
<div mat-dialog-content>
  
    <div class="row">
    <div class="col-6 top-spacing" *ngFor="let issue of data.issues">
        <mat-card color="accent">
            <mat-card-header>
              <mat-card-title>{{issue.subject}}</mat-card-title>
              <mat-card-subtitle>{{issue.userReported?.userName}} on {{issue.createdDate | date:short}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{issue.description}}
              </p>
            </mat-card-content>
            <mat-card-actions *ngIf="isAdmin && settings">
              <button mat-raised-button color="accent" *ngIf="issue.status === IssueStatus.Pending && settings.enableInProgress" >{{'Issues.MarkInProgress' | translate }}</button>
              <button mat-raised-button color="accent" *ngIf="issue.status === IssueStatus.Pending && !settings.enableInProgress || issue.status == IssueStatus.InProgress">{{'Issues.MarkResolved' | translate}}</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
</div>
<div mat-dialog-actions>
    <button  mat-raised-button color="warn" (click)="close()">Close</button>
    <button *ngIf="hasRequest"  mat-raised-button color="accent"  (click)="navToRequest()">View Media</button>
</div>
