
$blue: #1976D2;
$pink: #C2185B;
$green:#1DE9B6;
$orange:#F57C00;

.btn-blue {
    background-color: $blue;
}

.btn-pink {
    background-color: $pink;
}

.btn-green {
    background-color: $green;
}

.btn-orange {
    background-color: $orange;
}