$ombi-accent: (
    50: #ecfafe,
    100: #d0f2fe,
    200: #b1e9fd,
    300: #91e0fc,
    400: #7ad9fb,
    500: #62d2fa,
    600: #5acdf9,
    700: #50c7f9,
    800: #46c1f8,
    900: #34b6f6,
    A100: #ffffff,
    A200: #ffffff,
    A400: #d6f1ff,
    A700: #bde8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ombi-primary: (
    50 : #e4e5e6,
    100 : #bbbdc1,
    200 : #8d9297,
    300 : #5f666d,
    400 : #3d454e,
    500 : #1b242f,
    600 : #18202a,
    700 : #141b23,
    800 : #10161d,
    900 : #080d12,
    A100 : #55aaff,
    A200 : #2290ff,
    A400 : #0077ee,
    A700 : #006ad4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ombi-background: (
    50 : #e2e3e4,
    100 : #b7b9bb,
    200 : #878b8e,
    300 : #575d61,
    400 : #333a3f,
    500 : #0f171d,
    600 : #0d141a,
    700 : #0b1115,
    800 : #080d11,
    900 : #04070a,
    A100 : #4fc4ff,
    A200 : #1cb3ff,
    A400 : #009be8,
    A700 : #008ace,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);