@media (max-width: 978px) {
    .top-spacing {
        padding-top: 10%;
    }
}

@media (min-width: 979px) {
    .top-spacing {
        padding-top: 4%;
    }
}

.spinner-container {
    position: relative;
    margin-left: 50%;
}

.bottom-page-gap {
    height: 50px;
}