@media (max-width: 978px) {
    .top-spacing {
        padding-top: 10%;
    }
    .modal-panel {
        max-height: 100vh !important;
        max-width: 100vw !important;
        height: 100%;
    }
}

@media (min-width: 979px) {
    .top-spacing {
        padding-top: 4%;
    }
}

html,
body {
    min-height: 100vh;
    overflow: auto;
}

.spinner-container {
    position: relative;
    margin-left: 50%;
}

.bottom-page-gap {
    height: 50px;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #41927b;
}

.sidenav ::-webkit-scrollbar-track {
    display: none;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    color: black;
}

table {
    width: 100%;
}

.loading-spinner {
    display: flex;
    padding-bottom: 4%;
}