@import '~@angular/material/theming';
@import "./variables.scss";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// Create the theme object (a Sass map containing all of the palettes).


    $mat-light-theme-background: map_merge($mat-light-theme-background, (background: $ombi-background-primary));

    $theme: mat-dark-theme((
        color: (
            primary: $ombi-dark-app-primary,
            accent: $ombi-dark-app-accent,
        )
    ), $ombi-dark-app-accent);

    @include angular-material-theme($theme);

    .mat-table {
        background: $ombi-background-accent;
    }

    .mat-paginator {
        background: $ombi-background-accent;
    }

    .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
        background-color: $ombi-background-accent;
    }

    .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
        color: $ombi-active-text;
        background-color: $ombi-active;
    }

    .mat-menu-panel{
        background: $ombi-background-accent;
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
        color: $ombi-active;
    }
    
    .mat-form-field.mat-focused .mat-form-field-label{
        color: $ombi-active;
    }
    
    .mat-input-element{
        caret-color: $ombi-active;
    }

    .mat-card {
        background: $ombi-background-accent;
    }

    .mat-expansion-panel{
        background: $ombi-background-accent;
    }

    .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent{
        color:$ombi-active-text;
    }

    .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
        background-color: $ombi-background-primary;
    }

    .mat-bottom-sheet-container{
        background: $ombi-background-accent;
    }

    .grow:hover{
        color: $ombi-active;
    }

    .mat-accent.grow:hover{
        color: $ombi-active-text;
    }

    .mat-dialog-container{
        background: $ombi-background-accent;
    }

    .mat-autocomplete-panel{
        background: $ombi-background-accent;
    }

    .mat-form-field.mat-focused .mat-form-field-ripple{
        background-color: $ombi-active;
    }

    @media (hover: none){
        .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
            background: $ombi-background-accent;
        }
    }

    .mat-tooltip{
        background: $ombi-background-accent;
    } 

    //Wizard CSS
    .mat-stepper-horizontal, .mat-stepper-vertical{
        background: $ombi-background-accent;
    }

    .wizard-background{
        background-color: $ombi-background-primary;
        width:100%;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content: center;
    }

    .wizard-inner{
        color:#FFF;
        min-height: 450px;
    }

    .wizard-inner .mat-stepper-horizontal {
        min-height: 450px;
    }

    .mat-step-header .mat-step-icon{
        background-color:$ombi-active;
        color: $ombi-active-text;
    }

    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        background-color: $ombi-active;
    }

    .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab{
        background-color: $ombi-active;
    }

    a.mat-raised-button {
        text-decoration:none;
    }

    hr {
        border-top: 1px solid $accent-dark;
    }

    .form-control{
        background-color: $ombi-background-accent;
        color:#FFF;
        border: 1px solid $ombi-background-accent;
    }

    .form-control:focus{
        background-color: $ombi-background-accent;
        color:#FFF;
        border: 1px solid $ombi-active;
    }


    .alert .glyphicon{
        display: table-cell;
        vertical-align: middle;
        padding-right: 1%;
      }

      .alert div,
      .alert span{
        padding-left: 1%;
        display:table-cell;
      }

      .right-buttons {
          float:right;
      }