<settings-menu></settings-menu>
<div class="small-middle-container">
<wiki [path]="'/settings/landing-page/'"></wiki>
<fieldset *ngIf="settings" class="container">
        <legend>Landing Page Configuration</legend>
        <div class="md-form-field" style="margin-top:1em;"></div>
        <div class="col-12">
                <mat-slide-toggle [(ngModel)]="settings.enabled"> 
                Enable
                </mat-slide-toggle>
            <!--<div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="enable" name="enable" [(ngModel)]="settings.enabled" ng-checked="settings.enabled">
                    <label for="enable">Enable</label>
                </div>
            </div>-->

            <div class="form-group">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Notice Message</mat-label>
                        <textarea matInput  rows="4" type="text" id="NoticeMessage" name="NoticeMessage" placeholder="e.g. The server will be down for maintenance (HTML is allowed)" [(ngModel)]="settings.noticeText">{{settings.noticeText}}</textarea>
                      </mat-form-field>
                    </div>
            </div>

            <p class="form-group">Notice Preview:</p>
            <div class="form-group">
                <div [innerHTML]="settings.noticeText"></div>
            </div>


            <!--<div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="enable" name="enable" [(ngModel)]="settings.timeLimit" ng-checked="settings.timeLimit">
                    <label for="enable">Only show the notification message between the below times</label>
                </div>
            </div>-->




            <!--<p class="form-group">Start Time</p>
            <div class="form-group">
                <p-calendar [(ngModel)]="settings.startDateTime" [showTime]="true"></p-calendar>
            </div>
            <p class="form-group">End Time</p>
            <div class="form-group">
                <p-calendar [(ngModel)]="settings.endDateTime" [showTime]="true"></p-calendar>
            </div>-->



            <div class="form-group">
                <div>
                    <button mat-raised-button (click)="save()" type="submit" id="save" class="mat-stroked-button accent mat-accent">Submit</button>
                </div>
            </div>
        </div>
</fieldset>
</div>
