@using Nancy.Security
<div>
    <h1>Requests</h1>
    <h4>Below you can see yours and all other requests, as well as their download and approval status.</h4>
    @if (Context.CurrentUser.IsAuthenticated())
    {
        <button id="approveAll" class="btn btn-primary" type="submit"><i class="fa fa-plus"></i> Approve All</button>
    }
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        @if (Model.SearchForMovies)
        {
            <li role="presentation" class="active"><a href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab">Movies</a></li>
        }
        @if (Model.SearchForTvShows)
        {
            <li role="presentation"><a href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab">TV Shows</a></li>
        }

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        @if (Model.SearchForMovies)
        {
    <!-- Movie tab -->
            <div role="tabpanel" class="tab-pane active" id="MoviesTab">
                <br />
                <br />
                <!-- Movie content -->
                <div id="movieList">
                </div>
            </div>
        }

        @if (Model.SearchForTvShows)
        {
    <!-- TV tab -->
            <div role="tabpanel" class="tab-pane" id="TvShowTab">
                <br />
                <br />
                <!-- TV content -->
                <div id="tvList">
                </div>
            </div>
        }
    </div>

</div>


<script id="search-template" type="text/x-handlebars-template">
    <div id="{{id}}Template">
        <div class="row">
            <div class="col-sm-2">
                {{#if_eq type "movie"}}
                {{#if posterPath}}
                <img src="http://image.tmdb.org/t/p/w150/{{posterPath}}" alt="poster">
                {{/if}}
                {{/if_eq}}
                {{#if_eq type "tv"}}
                {{#if posterPath}}
                <img width="150" src="http://thetvdb.com/banners/_cache/posters/{{posterPath}}-1.jpg" alt="poster">
                {{/if}}
                {{/if_eq}}
            </div>
            <div class="col-sm-5 ">
                <div>
                    <a href="https://www.themoviedb.org/{{type}}/{{id}}">
                        <h4>{{title}} ({{year}})</h4>
                    </a>
                    <span class="label label-success">{{status}}</span>
                </div>
                <br />
                <p>Release Date: {{releaseDate}}</p>
                <p>
                    Approved:
                    {{#if_eq approved false}}
                    <i class="fa fa-times"></i>
                    {{/if_eq}}
                    {{#if_eq approved true}}
                    <i class="fa fa-check"></i>
                    {{/if_eq}}
                </p>
                <p>
                    Available
                    {{#if_eq available false}}
                    <i class="fa fa-times"></i>
                    {{/if_eq}}
                    {{#if_eq available true}}
                    <i class="fa fa-check"></i>
                    {{/if_eq}}
                </p>
                <p>Requested By: {{requestedBy}}</p>
                <p>Requested Date: {{requestedDate}}</p>
                {{#if otherMessage}}
                <p>Message: {{otherMessage}}</p>
                {{else}}
                <p>Issue: {{issues}}</p>
                {{/if}}

            </div>
            <div class="col-sm-2 col-sm-push-3">
                <br />
                <br />
                {{#if_eq admin true}}
                <form method="POST" action="/requests/delete" id="delete{{requestId}}">
                    <input name="Id" type="text" value="{{requestId}}" hidden="hidden" />
                    <button id="{{requestId}}" style="text-align: right" class="btn btn-danger delete" type="submit"><i class="fa fa-plus"></i> Remove</button>
                </form>
                {{/if_eq}}

                <form method="POST" action="/requests/reportissue/" id="report{{requestId}}">
                    <input name="requestId" type="text" value="{{requestId}}" hidden="hidden" />
                    <div class="dropdown">
                        <button id="{{requestId}}" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-plus"></i> Report Issue
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a id="{{requestId}}" issue-select="0" class="dropdownIssue" href="#">Wrong Audio</a></li>
                            <li><a id="{{requestId}}" issue-select="1" class="dropdownIssue" href="#">No Subtitles</a></li>
                            <li><a id="{{requestId}}" issue-select="2" class="dropdownIssue" href="#">Wrong Content</a></li>
                            <li><a id="{{requestId}}" issue-select="3" class="dropdownIssue" href="#">Playback Issues</a></li>
                            <li><a id="{{requestId}}" issue-select="4" class="dropdownIssue" data-identifier="{{requestId}}" href="#" data-toggle="modal" data-target="#myModal">Other</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            @* // TODO add Issues to the view *@
        </div>
        <hr />
    </div>
</script>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Add issue/comment</h4>
            </div>
            <form method="POST" action="/requests/reportissuecomment" id="commentForm">
                <div class="modal-body">
                    <input name="requestId" class="requestId" type="text" hidden="hidden" value="" />
                    <textarea class="form-control form-control-custom" rows="3" id="commentArea" name="commentArea"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary theSaveButton" data-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/Content/requests.js" type="text/javascript"></script>
