@using Ombi.UI.Helpers
@inherits Ombi.UI.Helpers.AngularViewBase
@Html.LoadUserManagementAssets()


<div id="wrapper" class="toggled" ng-controller="userManagementController" ng-init="init()" ng-cloak>
    <span us-spinner="{radius:30, width:8, length: 16, color: '#ffffff' }"></span>


    <sidebar></sidebar>

    <div>
        <div class="container-fluid">
            <div>
                <br />
                <br />
                <br />
                <div class="col-md-12">
                    <br />
                    <br />
                    <br />
                    
                    <add-User></add-User>


                    <table-Component></table-Component>
                </div>
            </div>
        </div>
    </div>
</div>

