
<img class="landing-header" src="/images/logo.png" width="300" />
<div class="landing-block shadow">
    <div class="media">
        <div id="contentBody" class="media-body">
            <h4 class="media-heading landing-title wizard-heading" id="statusTitle">Please choose your media server</h4>
            <div class="form-group">
                <div class="row">
                    <a (click)="emby()" id="embyImg">
                        <img class="wizard-img" src="/images/emby-logo-dark.jpg" />
                    </a>
                </div>
                <div class="row">
                    <a (click)="plex()" id="plexImg">
                        <img class="wizard-img" src="/images/plex-logo-reversed.png" />
                    </a>
                </div>
                <div class="row">
                    <button (click)="skip()" class="btn btn-primary-outline wizard-img" id="plexImg">
                        Skip
                    </button>
                </div>

            </div>
        </div>
        </div>
</div>


