<div *ngIf="!artist" class="justify-content-md-center top-spacing loading-spinner">
    <mat-spinner [color]="'accent'"></mat-spinner>
</div>

<div *ngIf="artist" class="dark-theme">

    <top-banner [title]="artist.name" [background]="getBackground()" [tagline]="artist.disambiguation"></top-banner>

    <section id="info-wrapper">
        <div class="small-middle-container">

            <div class="row">

                <media-poster [posterPath]="artist.poster"></media-poster>

                <!--Next to poster-->
                <div class="col-12 col-lg-3 col-xl-3 media-row">

                    <!-- <social-icons [homepage]="artist.links.homePage" [doNotAppend]="true" [imdbId]="artist.links.imdb" [twitter]="artist.links.twitter" [facebook]="artist.links.facebook" [instagram]="artist.links.instagram"></social-icons> -->

                </div>

                <div class="col-12 col-lg-6 col-xl-6 media-row">
                    <button mat-raised-button *ngIf="artist.monitored" class="btn-spacing" color="primary"
                      color="accent" [disabled]>
                      <i class="fa-lg fas fa-check"></i> {{'Common.Monitored' | translate }}</button>
                    <button mat-raised-button *ngIf="!artist.monitored && selectedAlbums.length === 0" class="btn-spacing" color="primary" (click)="requestAllAlbums()">
            <i class="fas fa-plus"></i> {{ 'Common.Request' | translate }}</button>
                </div>
            </div>

            <div class="row">

                <!-- <div class="col-12 col-md-2">

                    <mat-card class="mat-elevation-z8">
                        <mat-card-content class="medium-font">
                            <artist-information-panel [artist]="artist"></artist-information-panel>
                        </mat-card-content>
                    </mat-card>


                </div> -->

                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12">
                            <mat-card class=" mat-elevation-z8 spacing-below">
                                <mat-card-content>
                                    {{artist.overview}}
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <artist-release-panel (onAlbumSelect)="albumSelected($event)" (albumLoad)="albumLoad($event)" *ngIf="artist.releaseGroups?.length > 0" [releases]="artist.releaseGroups"></artist-release-panel>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12">
                            <div class="issuesPanel" *ngIf="artist.requestId">
                                <issues-panel [requestId]="artist.requestId" [isAdmin]="isAdmin"></issues-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>




        <div class="bottom-page-gap">
        </div>
    </section>








</div>