  <!-- <mat-form-field class="example-full-width">
    <input type="text" placeholder="Excluded Keyword IDs for Movie & TV Suggestions" matInput
        formControlName="input" [matAutocomplete]="auto"
        matTooltip="Prevent movies with certain keywords from being suggested. May require a restart to take effect.">
    <mat-autocomplete  autoActiveFirstOption
        #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredTags" [value]="option">
            {{option.name}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field> -->


<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Keywords</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let word of form.controls.keywords.value"
      [removable]="true"
      (removed)="remove(word)">
      {{word.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Search Keyword"
      #keywordInput
      [formControl]="control"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"/>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let word of filteredKeywords | async" [value]="word">
      {{word.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

