<p-growl [value]="notificationService.messages"  [life]="1000"></p-growl>

<nav *ngIf="showNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">Ombi</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [routerLinkActive]="['active']" [routerLink]="['/search']"><i class="fa fa-search"></i> Search</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a [routerLinkActive]="['active']" [routerLink]="['/requests']"><i class="fa fa-plus"></i> Requests</a></li>
            </ul>

            
            <ul class="nav navbar-nav navbar-right">
                    <li><a [routerLinkActive]="['active']" [routerLink]="['/Settings/Ombi']"><i class="fa fa-cog"></i> Settings</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Welcome {{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a [routerLink]="['/user/changepassword']"><i class="fa fa-key"></i> Change Password</a></li>
                        <li><a (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
</div>
    </div>
</nav>


<div class="container" style="padding-top: 5%">
    <router-outlet></router-outlet>
</div>


