    <form method="POST" id="passwordForm">

        <div>
            <div>
                <label> Password </label>
            </div>
            <div>
                <input id="password" class="form-control form-control-custom" name="Password" type="password" placeholder="Password" />
            </div>
        </div>
        <br />


        <button id="passwordBtn" class="btn btn-success-outline" type="submit"><i class="fa fa-user fa-fw"></i> Sign In</button>
    </form>

