
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">Ombi</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a [routerLink]="['/search']"><i class="fa fa-search"></i> Search</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li ><a [routerLink]="['/settings/ombi']"><i class="fa fa-search"></i> Settings</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container" style="padding-top: 5%">
    <router-outlet></router-outlet>
</div>


