

<form [formGroup]="form" *ngIf="form">
  <h1 id="advancedOptionsTitle">{{'MediaDetails.AdvancedOptions' | translate }}</h1>
  <div class="alert alert-info" role="alert">
    {{'MediaDetails.AutoApproveOptions' | translate }}
  </div>

  <div style="max-width: 0; max-height: 0; overflow: hidden;">
      <input autofocus="true" />
  </div>

<!-- User area -->
<h3>{{'MediaDetails.RequestOnBehalf' | translate }}</h3>
<mat-form-field class="example-full-width" appearance="outline" floatLabel=auto>
  <mat-label>{{ 'MediaDetails.PleaseSelectUser' | translate}}</mat-label>
  <input id="requestOnBehalfUserInput"
         type="text"
         matInput
         formControlName="username"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{displayFn(option)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<!-- End User area -->


<hr />

  <!-- Sonarr -->
  <div *ngIf="data.type === RequestType.tvShow">
  <div>
    <h3>Sonarr Overrides</h3>
    <mat-form-field appearance="outline" floatLabel=auto>
        <mat-label>{{'MediaDetails.QualityProfilesSelect' | translate }}</mat-label>
        <mat-select id="sonarrQualitySelect" formControlName="sonarrPathId">
            <mat-option id="sonarrQualitySelect{{profile.id}}" *ngFor="let profile of sonarrProfiles" value="{{profile.id}}">{{profile.name}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div >
    <mat-form-field appearance="outline" floatLabel=auto>
        <mat-label>{{'MediaDetails.RootFolderSelect' | translate }}</mat-label>
        <mat-select id="sonarrFolderSelect" formControlName="sonarrFolderId">
            <mat-option id="sonarrFolderSelect{{profile.id}}" *ngFor="let profile of sonarrRootFolders" value="{{profile.id}}">{{profile.path}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
</div>
  <!-- End Sonarr-->

  <!-- Radarr -->
  <div *ngIf="data.type === RequestType.movie && radarrEnabled">
  <div>
    <h3>Radarr Overrides</h3>
      <mat-form-field appearance="outline" floatLabel=auto>
          <mat-label>{{'MediaDetails.QualityProfilesSelect' | translate }}</mat-label>
          <mat-select id="radarrQualitySelect" formControlName="radarrPathId">
              <mat-option id="radarrQualitySelect{{profile.id}}" *ngFor="let profile of radarrProfiles" value="{{profile.id}}">{{profile.name}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
  <div mat-dialog-content>
      <mat-form-field appearance="outline" floatLabel=auto>
          <mat-label>{{'MediaDetails.RootFolderSelect' | translate }}</mat-label>
          <mat-select id="radarrFolderSelect" formControlName="radarrFolderId">
              <mat-option id="radarrFolderSelect{{profile.id}}" *ngFor="let profile of radarrRootFolders" value="{{profile.id}}">{{profile.path}}</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
</div>
  <!-- End Radarr-->


<div mat-dialog-actions>
  <button mat-raised-button id="cancelButton" [mat-dialog-close]="" color="warn">{{ 'Common.Cancel' | translate }}</button>
  <button mat-raised-button id="requestButton" (click)="submitRequest()" color="accent">{{ 'Common.Request' | translate }}</button>
</div>
</form>

