<div *ngIf="tv">

    <top-banner [background]="tv.background" [available]="tv.available" 
        [title]="tv.title" [releaseDate]="tv.firstAired" [tagline]="tv.certification"></top-banner>

    <section id="info-wrapper">
        <div class="small-middle-container">
            <div class="row">
                <div class="col-md-2 col-sm-3 hidden-xs">
                    <div class="sidebar sidebar-poster affixable affix-top">
                        <div class="poster">
                            <img class="real" [src]="tv.images.medium" alt="Poster" style="display: block;">
                        </div>
                        <!--Underneith poster-->
                        <br />
                    </div>
                </div>

                <!--Next to poster-->
                <div class="col-10 col-lg-3 col-xl-3 media-row">

                        <social-icons [homepage]="tv.homepage" [tvdbId]="tv.id" [hasTrailer]="tv.trailer"
                                (openTrailer)="openDialog()" [imdbId]="tv.imdbId" [available]="tv.available"
                                [plexUrl]="tv.plexUrl" [embyUrl]="tv.embyUrl"></social-icons>
               
                </div>

                <div class="col-12 col-lg-7 col-xl-7 media-row">

                    <button *ngIf="!tv.fullyAvailable" mat-raised-button class="btn-spacing mat-warn"
                        (click)="request()"><i class="fa fa-plus"></i>
                        {{ 'Common.Request' | translate }}</button>

                    <button *ngIf="tv.fullyAvailable" mat-raised-button class="btn-spacing mat-primary" [disabled]>
                        <i class="fa fa-check"></i> {{'Common.Available' | translate }}</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-2">

                    <mat-card class="mat-elevation-z8">
                        <mat-card-content class="medium-font">
                            <tv-information-panel [tv]="tv"></tv-information-panel>
                        </mat-card-content>
                    </mat-card>

                </div>


                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12">
                            <mat-card class="mat-elevation-z8 spacing-below">
                                <mat-card-content>
                                    {{tv.overview}}
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12">
                            <mat-card class="mat-elevation-z8 spacing-below">
                                <mat-card-header>Cast</mat-card-header>
                                <mat-card-content>
                                    <p-carousel [value]="tv.cast" [numVisible]="5" easing="easeOutStrong">
                                        <ng-template let-item pTemplate="item">
                                            <div class="row justify-content-md-center">
                                                <div class="col-12">
                                                    <img class="cast-profile-img" *ngIf="item.character.image.medium"
                                                        [src]="item.character.image.medium">
                                                    <!-- TODO get profile image default -->
                                                </div>
                                                <div class="col-12">
                                                    <span><strong>Character:</strong> {{item.character.name}}</span>
                                                </div>
                                                <div class="col-12">
                                                    <span><strong>Actor:</strong> {{item.person.name}}</span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-carousel>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>

                </div>


            </div>


            <div class="row card-spacer media-row">


                <div class="col-12 col-md-9">

                </div>
            </div>
            <div class="row card-spacer media-row">
                <div class="col-12 col-md-3"></div>

                <!-- <div class="col-12 col-md-9">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Recommendations
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.recommendations.results.length > 0">

                                <div class="col-md-2" *ngFor="let r of tv.recommendations.results">
                                    <div class="sidebar affixable affix-top preview-poster">
                                        <div class="poster">
                                            <a [routerLink]="'/details/tv/'+r.id">
                                                <img class="real grow" matTooltip="{{r.title}}"
                                                    src="https://image.tmdb.org/t/p/w300/{{r.poster_path}}" alt="Poster"
                                                    style="display: block;">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Similar
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.similar.results.length > 0">

                                <div class="col-md-2" *ngFor="let r of tv.similar.results">
                                    <div class="sidebar affixable affix-top preview-poster">
                                        <div class="poster ">
                                            <a [routerLink]="'/details/tv/'+r.id">
                                                <img class="real grow" matTooltip="{{r.title}}"
                                                    src="https://image.tmdb.org/t/p/w300/{{r.poster_path}}" alt="Poster"
                                                    style="display: block;">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Videos
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.videos.results.length > 0">

                                <div class="col-md-6" *ngFor="let video of tv.videos.results">
                                    <iframe width="100%" height="315px"
                                        [src]="'https://www.youtube.com/embed/' + video.key | safe" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div> -->
            </div>
        </div>




        <div class="bottom-page-gap">
        </div>
    </section>








</div>