<div class="form-group">
    <div>
        <input type="text" id="search" class="form-control form-control-custom" placeholder="Search" (keyup)="search($event)">
    </div>
</div>
<br />

<div infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="100"
     (scrolled)="loadMore()">


    <div *ngFor="let request of movieRequests">


        <div class="row backdrop" [style.background-image]="request.backgroundPath">
            <div class="col-sm-2  small-padding">

                <img class="img-responsive poster" src="https://image.tmdb.org/t/p/w150/{{request.posterPath}}" alt="poster">

            </div>

            <div class="col-sm-5  small-padding">
                <div>
                    <a href="http://www.imdb.com/title/{{request.imdbId}}/" target="_blank">
                        <h4 class="request-title">{{request.title}} ({{request.releaseDate | date: 'yyyy'}})</h4>
                    </a>
                </div>
                <br />
                <div>
                    <span>{{ 'Requests.RequestedBy' | translate }} </span>
                    <span *ngIf="!isAdmin">{{request.requestedUser.userName}}</span>
                    <span *ngIf="isAdmin && request.requestedUser.alias">{{request.requestedUser.alias}}</span>
                    <span *ngIf="isAdmin && !request.requestedUser.alias">{{request.requestedUser.userName}}</span>
                </div>
                <div>
                    <span>{{ 'Requests.Status' | translate }} </span>
                    <span class="label label-success" id="requestedStatusLabel">{{request.status}}</span>
                </div>

                <div>
                    <span>{{ 'Requests.RequestStatus' | translate }} </span>
                    <span *ngIf="request.available" class="label label-success" id="availableLabel" [translate]="'Common.Available'"></span>
                    <span *ngIf="request.approved && !request.available" id="processingRequestLabel" class="label label-info" [translate]="'Common.ProcessingRequest'"></span>
                    <span *ngIf="request.denied" class="label label-danger" id="requestDeclinedLabel" [translate]="'Common.RequestDenied'"></span>
                    <span *ngIf="request.deniedReason" title="{{request.deniedReason}}"><i class="fa fa-info-circle"></i></span>
                    <span *ngIf="!request.approved && !request.availble && !request.denied" id="pendingApprovalLabel" class="label label-warning" [translate]="'Common.PendingApproval'"></span>

                </div>
                <div *ngIf="request.denied" id="requestDenied">
                    {{ 'Requests.Denied' | translate }} <i style="color:red;" class="fa fa-check"></i>

                </div>


                <div id="releaseDate">{{ 'Requests.ReleaseDate' | translate }} {{request.releaseDate | date}}</div>
                <div id="requestedDate">{{ 'Requests.RequestedDate' | translate }} {{request.requestedDate | date}}</div>
                <br />
                <div *ngIf="isAdmin">
                    <div *ngIf="request.qualityOverrideTitle">{{ 'Requests.QualityOverride' | translate }} <span>{{request.qualityOverrideTitle}} </span></div>
                    <div *ngIf="request.rootPathOverrideTitle">{{ 'Requests.RootFolderOverride' | translate }} <span>{{request.rootPathOverrideTitle}} </span></div>
                </div>

            </div>
            <div class="col-sm-3 col-sm-push-3  small-padding">
                <div *ngIf="isAdmin">
                    <div *ngIf="!request.approved">
                        <form>
                            <button (click)="approve(request)" style="text-align: right" class="btn btn-sm btn-success-outline approve" type="submit"><i class="fa fa-plus"></i> {{ 'Common.Approve' | translate }}</button>
                        </form>

                        <!--Radarr Root Folder-->
                        <div *ngIf="radarrRootFolders" class="btn-group btn-split">
                            <button type="button" class="btn btn-sm btn-warning-outline"><i class="fa fa-plus"></i> {{ 'Requests.ChangeRootFolder' | translate }}</button>
                            <button type="button" class="btn btn-warning-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let folder of radarrRootFolders"><a href="#" (click)="selectRootFolder(request, folder, $event)">{{folder.path}}</a></li>
                            </ul>
                        </div>

                        <!--Radarr Quality Profiles -->
                        <div *ngIf="radarrProfiles" class="btn-group btn-split">
                            <button type="button" class="btn btn-sm btn-warning-outline"><i class="fa fa-plus"></i> {{ 'Requests.ChangeQualityProfile' | translate }}</button>
                            <button type="button" class="btn btn-warning-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li *ngFor="let profile of radarrProfiles"><a href="#" (click)="selectQualityProfile(request, profile, $event)">{{profile.name}}</a></li>
                            </ul>
                        </div>

                        <div *ngIf="!request.denied">
                            <button type="button" (click)="deny(request)" class="btn btn-sm btn-danger-outline deny"><i class="fa fa-times"></i> {{ 'Requests.Deny' | translate }}</button>
                        </div>
                    </div>
                    <form>
                        <button (click)="removeRequest(request)" style="text-align: right" class="btn btn-sm btn-danger-outline delete"><i class="fa fa-minus"></i> {{ 'Requests.Remove' | translate }}</button>
                    </form>

                    <form>
                        <button *ngIf="request.available" (click)="changeAvailability(request, false)" style="text-align: right" value="false" class="btn btn-sm btn-info-outline change"><i class="fa fa-minus"></i> {{ 'Requests.MarkUnavailable' | translate }}</button>
                        <button *ngIf="!request.available" (click)="changeAvailability(request, true)" style="text-align: right" value="true" class="btn btn-sm btn-success-outline change"><i class="fa fa-plus"></i> {{ 'Requests.MarkAvailable' | translate }}</button>
                    </form>



                </div>
                    
                <div class="dropdown" *ngIf="issueCategories && issuesEnabled">
                    <button class="btn btn-sm btn-primary-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i> Report Issue
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let cat of issueCategories"><a [routerLink]="" (click)="reportIssue(cat, request)">{{cat.value}}</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <br/>
        <br/>




    </div>
</div>


<issue-report [movie]="true" [visible]="issuesBarVisible" (visibleChange)="issuesBarVisible = $event;" [title]="issueRequest?.title"
[issueCategory]="issueCategorySelected" [id]="issueRequest?.id" [providerId]=""></issue-report>
