<div class="form-group">
    <div>
        <input type="text" id="search" class="form-control form-control-custom" placeholder="Search" (keyup)="search($event)">
    </div>
</div>
<br />

<div infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="100"
     (scrolled)="loadMore()">


    <div *ngFor="let request of tvRequests">


        <div class="row">
            <div class="col-sm-2">

                <img class="img-responsive poster" src="{{request.posterPath}}" alt="poster">

            </div>

            <div class="col-sm-5 ">
                <div>
                    <a href="http://www.imdb.com/title/{{request.imdbId}}/" target="_blank">
                        <h4 class="request-title">{{request.title}} ({{request.releaseDate | date: 'yyyy'}})</h4>
                    </a>
                </div>
                <br />
                <div>
                    <span>Status: </span>
                    <span class="label label-success">{{request.status}}</span>
                </div>

                <div>
                    <span>Request status: </span>
                    <span *ngIf="request.available" class="label label-success">Available</span>
                    <span *ngIf="request.approved && !request.available" class="label label-info">Processing Request</span>
                    <span *ngIf="request.denied" class="label label-danger">Request Denied</span>
                    <span *ngIf="request.deniedReason" title="{{request.deniedReason}}"><i class="fa fa-info-circle"></i></span>
                    <span *ngIf="!request.approved && !request.availble && !request.denied" class="label label-warning">Pending Approval</span>

                </div>
                <div>Release Date: {{request.releaseDate | date}}</div>
                <br />
                <div>Requested Date: {{request.requestedDate | date}}</div>
            </div>
            <div class="col-sm-3 col-sm-push-3">

                <button [routerLink]="[request.id]" style="text-align: right" class="btn btn-sm btn-success-outline" type="submit"><i class="fa fa-plus"></i> View</button>
            </div>
        </div>
        <hr />
    </div>
</div>
