table.ui-widget-content {
    border: 1px solid #1f1f1f !important;
    background: #1f1f1f !important;
}
.ui-widget-content {
     color: #ffffff; 
}
.ui-state-default.ui-unselectable-text{
    display:none;
}
.ui-treetable-toggler.fa.fa-fw.ui-c.fa-caret-right,
.ui-treetable-toggler.fa.fa-fw.ui-c.fa-caret-down {
    display: none;
}

th {
    text-align: left !important;
}