
<!--Search-->
<form>
    <div class="row">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>

                <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm">

            </div>
        </div>
    </div>
</form>

<!-- Table -->
<table class="table table-striped table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>
                <a href="#IDoNotExist" ng-click="sortType = 'username'; sortReverse = !sortReverse">
                    Username
                    <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#IDoNotExist" ng-click="sortType = 'alias'; sortReverse = !sortReverse">
                    Alias
                    <span ng-show="sortType == 'alias' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'alias' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a href="#IDoNotExist" ng-click="sortType = 'emailAddress'; sortReverse = !sortReverse">
                    Email
                    <span ng-show="sortType == 'emailAddress' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'emailAddress' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                Permissions
            </th>
            <th ng-hide="hideColumns">
                <a href="#IDoNotExist" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                    User Type
                    <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>

            <th ng-hide="hideColumns">
                <a href="#IDoNotExist" ng-click="sortType = 'lastLoggedIn'; sortReverse = !sortReverse">
                    Last Logged In
                    <span ng-show="sortType == 'lastLoggedIn' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'lastLoggedIn' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="u in users | orderBy:sortType:sortReverse | filter:searchTerm">
            <td>
                {{u.username}}
            </td>
            <td>
                {{u.alias}}
            </td>
            <td>
                {{u.emailAddress}}
            </td>
            <td>
                {{u.permissionsFormattedString}}
            </td>
            <td ng-hide="hideColumns">
                {{u.type === 1 ? 'Local User' : 'Plex User'}}
            </td>
            <td ng-hide="hideColumns" ng-bind="u.lastLoggedIn === minDate ? 'Never' : formatDate(u.lastLoggedIn)"></td>
            <td>
                <a href="#IDontExist" ng-click="selectUser(u.id)" class="btn btn-sm btn-info-outline">Details/Edit</a>
            </td>
        </tr>
    </tbody>
</table>