<div class="spinner-container">
  <mat-spinner *ngIf="loading" [color]="'accent'"></mat-spinner>
</div>
<div *ngIf="!loading" mat-dialog-content class="background">

  <div class="row">
    <div class="col-12 action-buttons-right">
      <button (click)="requestAllSeasons()" color="primary" mat-raised-button class="btn-spacing" 
      matTooltip="{{'MediaDetails.EpisodeSelector.AllSeasonsTooltip' | translate}}">{{'Search.TvShows.AllSeasons' | translate }}</button>

        <button (click)="requestFirstSeason()" color="accent" mat-raised-button class="btn-spacing"
        matTooltip="{{'MediaDetails.EpisodeSelector.FirstSeasonTooltip' | translate}}">{{ 'Search.TvShows.FirstSeason' | translate }}</button>
          <button (click)="requestLatestSeason()" color="warn" mat-raised-button class="btn-spacing"
          matTooltip="{{'MediaDetails.EpisodeSelector.LatestSeasonTooltip' | translate}}">{{ 'Search.TvShows.LatestSeason' | translate }}</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12" *ngFor="let season of series.seasonRequests">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox *ngIf="!season.seasonAvailable" (click)="$event.stopPropagation();" (change)="seasonChanged($event, season)">
              Season {{season.seasonNumber}}</mat-checkbox>
            <span *ngIf="season.seasonAvailable">Season {{season.seasonNumber}}</span>
          </mat-panel-title>
          <mat-panel-description>
            Description
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row" *ngFor="let ep of season.episodes">
          <div class="col-1">
            <div *ngIf="!ep.available && !ep.requested && !ep.approved">
              <mat-checkbox *ngIf="!ep.selected" [ngModel]="ep.selected" (click)="addRequest(ep)"></mat-checkbox>
              <mat-checkbox *ngIf="ep.selected" [ngModel]="ep.selected" (click)="removeRequest(ep)"></mat-checkbox>
            </div>
          </div>
          <div class="col-1">
            {{ep.episodeNumber}}
          </div>
          <div class="col-3">
            {{ep.title}}
          </div>
          <div class="col-2" *ngIf="ep.airDateDisplay != 'Unknown'">
            {{ep.airDate | amLocal | amDateFormat: 'L' }}
          </div>
          <div class="col-2" *ngIf="ep.airDateDisplay == 'Unknown'">
            {{ep.airDateDisplay }}
          </div>
          <div class="col-3">
            <ng-template [ngIf]="ep.available"><span class="label label-success" id="availableLabel">{{'Common.Available' | translate}}</span></ng-template>
            <ng-template [ngIf]="ep.requested && ep.approved && !ep.available "><span class="label label-info" id="processingRequestLabel">{{'Common.ProcessingRequest' | translate}}</span></ng-template>
            <ng-template [ngIf]="ep.selected"><span class="label label-info" id="selectedLabel">Selected</span></ng-template>
            <ng-template [ngIf]="ep.requested && !ep.approved && !ep.available && !ep.selected"><span class="label label-warning"
                id="pendingApprovalLabel">{{'Common.PendingApproval' | translate}}</span>
            </ng-template>
            <ng-template [ngIf]="!ep.requested && !ep.available && !ep.approved && !ep.selected"><span class="label label-danger"
                id="notRequetsedLabel">Not Requested</span></ng-template>
          </div>

        </div>


      </mat-expansion-panel>



    </div>


  </div>
</div>
<div mat-dialog-actions>
  <div class="action-buttons-right">

    <button (click)="submitRequests()" mat-raised-button class="btn-spacing  btn-orange">{{
      'Common.Request' | translate }}</button>


  </div>
</div>
