@using System.Linq
@using Ombi.UI.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Ombi.Core.SettingModels.NewletterSettings>
@Html.Partial("Shared/Partial/_Sidebar")

<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>Newsletter Settings</legend>

            <!-- Email Nofication Section -->
            <div class="form-group">
                <div class="checkbox">

                    <small>Note: This will require you to setup your email notifications</small>
                    <br />
                    @if (Model.SendRecentlyAddedEmail)
                    {
                        <input type="checkbox" id="SendRecentlyAddedEmail" name="SendRecentlyAddedEmail" checked="checked"><label for="SendRecentlyAddedEmail">Enable newsletter</label>
                    }
                    else
                    {
                        <input type="checkbox" id="SendRecentlyAddedEmail" name="SendRecentlyAddedEmail"><label for="SendRecentlyAddedEmail">Enable newsletter</label>
                    }


                </div>
            </div>
            <div class="form-group">

              <br>
                <label for="CustomUsers" class="control-label">Email Addresses to Send to (For users that are not in your User Management section)</label>
              <small>You can add multiple email address by using the ; delimiter</small>
<div>
                    <input type="text" class="form-control form-control-custom " placeholder="first@address.com;second@address.com" id="CustomUsers" name="CustomUsers" value="@Model.CustomUsers">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button id="recentlyAddedBtn" class="btn btn-primary-outline">Send test email to Admin <div id="spinner"></div></button>
                </div>
            </div>

            <br />
            <br />
            <div class="form-group">
                <div>
                    <button type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
            <!-- Email Nofication Section -->

        </fieldset>

    </form>
</div>


<script>
    $(function () {


        var base = '@Html.GetBaseUrl()';
        $('#save').click(function (e) {
            e.preventDefault();

            var $form = $("#mainForm");
            var data = $form.serialize();

            $.ajax({
                type: $form.prop("method"),
                data: data,
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify(response.message, "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });

        $('#recentlyAddedBtn').click(function (e) {
            e.preventDefault();
            var base = '@Html.GetBaseUrl()';
            var url = createBaseUrl(base, '/admin/recentlyAddedTest');
            $('#spinner').attr("class", "fa fa-spinner fa-spin");
            $.ajax({
                type: "post",
                url: url,
                dataType: "json",
                success: function (response) {
                    if (response) {
                        generateNotify(response.message, "success");
                        $('#spinner').attr("class", "fa fa-check");
                    } else {

                        generateNotify(response.message, "danger");
                        $('#spinner').attr("class", "fa fa-times");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                    $('#spinner').attr("class", "fa fa-times");
                }
            });
        });

    });
</script>
