$form-color: #4e5d6c;
$form-color-lighter: #637689;
$primary-colour: #df691a;
$primary-colour-outline: #ff761b;
$info-colour: #5bc0de;
$warning-colour: #f0ad4e;
$danger-colour: #d9534f;
$success-colour: #5cb85c;
$i:
!important
;

@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 48em) {
    .home {
        padding-top: 1rem;
    }
}

@media (min-width: 48em) {
    .home {
        padding-top: 4rem;
    }
}

.btn {
    border-radius: .25rem $i;
}

.multiSelect {
    background-color: $form-color;
}

.form-control-custom {
    background-color: $form-color $i;
    color: white $i;
    border-radius: 0;
    box-shadow: 0 0 0 !important;
}


h1 {
    font-size: 3.5rem $i;
    font-weight: 600 $i;
}

.request-title {
    margin-top: 0 $i;
    font-size: 1.9rem $i;
}

p {
    font-size: 1.1rem $i;
}

label {
    display: inline-block $i;
    margin-bottom: .5rem $i;
    font-size: 16px $i;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #4e5d6c;
}

.navbar .nav a .fa,
.dropdown-menu a .fa {
    font-size: 130%;
    top: 1px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

.dropdown-menu a .fa {
    top: 2px;
}

.btn-danger-outline {
    color: $danger-colour $i;
    background-color: transparent;
    background-image: none;
    border-color: $danger-colour $i;
}

.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active,
.btn-danger-outline:hover,
.open > .btn-danger-outline.dropdown-toggle {
    color: #fff $i;
    background-color: $danger-colour $i;
    border-color: $danger-colour $i;
}


.btn-primary-outline {
    color: $primary-colour-outline $i;
    background-color: transparent;
    background-image: none;
    border-color: $primary-colour-outline $i;
}

.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active,
.btn-primary-outline:hover,
.open > .btn-primary-outline.dropdown-toggle {
    color: #fff $i;
    background-color: $primary-colour $i;
    border-color: $primary-colour $i;
}

.btn-info-outline {
    color: $info-colour $i;
    background-color: transparent;
    background-image: none;
    border-color: $info-colour $i;
}

.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active,
.btn-info-outline:hover,
.open > .btn-info-outline.dropdown-toggle {
    color: #fff $i;
    background-color: $info-colour $i;
    border-color: $info-colour $i;
}

.btn-warning-outline {
    color: $warning-colour $i;
    background-color: transparent;
    background-image: none;
    border-color: $warning-colour $i;
}

.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active,
.btn-warning-outline:hover,
.open > .btn-warning-outline.dropdown-toggle {
    color: #fff $i;
    background-color: $warning-colour $i;
    border-color: $warning-colour $i;
}

.btn-success-outline {
    color: $success-colour $i;
    background-color: transparent;
    background-image: none;
    border-color: $success-colour $i;
}

.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active,
.btn-success-outline:hover,
.open > .btn-success-outline.dropdown-toggle {
    color: #fff $i;
    background-color: $success-colour $i;
    border-color: $success-colour $i;
}

#movieList .mix {
    display: none;
}

#tvList .mix {
    display: none;
}

$border-radius: 10px;

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: $form-color;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
    background-color: $form-color-lighter;
}

.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}

.scroll-top-wrapper i.fa {
    line-height: inherit;
}


.no-search-results {
    text-align: center;
}

.no-search-results .no-search-results-icon {
    font-size: 10em;
    color: $form-color;
}

.no-search-results .no-search-results-text {
    margin: 20px 0;
    color: #ccc;
}

.form-control-withbuttons {
    padding-right: 105px;
}

.input-group-addon .btn-group {
    position: absolute;
    right: 45px;
    z-index: 2;
    top: 6px;
}

.input-group-addon .btn-group .btn {
    border: 1px solid rgba(255,255,255,.7) !important;
    padding: 3px 12px;
    color: rgba(255,255,255,.7) !important;
}
