@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 48em) {
    .home {
        padding-top: 1rem;
    }
}

@media (min-width: 48em) {
    .home {
        padding-top: 4rem;
    }
}


.multiSelect {
    background-color: #4e5d6c;
}

.form-control-custom {
    background-color: #4e5d6c !important;
    color: white !important;
}


h1 {
    font-size: 3.5rem !important;
    font-weight: 600 !important;
}

p {
    font-size: 1.1rem !important;
}

label {
    display: inline-block !important;
    margin-bottom: .5rem !important;
    font-size: 16px !important;
}
