$primary-colour: #df691a;
$primary-colour-outline: #ff761b;
$bg-colour: #333333;
$bg-colour-disabled: #252424;
$form-color: #4e5d6c;
$form-color-lighter: #637689;
$info-colour: #5bc0de;
$warning-colour: #f0ad4e;
$danger-colour: #d9534f;
$success-colour: #5cb85c;
$placeholder-colour: #3b3b3b;

body, html {
    height: 100% !important;
    background-repeat: no-repeat !important;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)) !important;
}

img.center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

div.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.card-container.card {
    max-width: 500px;
    padding: 45px 45px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
 

.white-checkbox {
    color:white;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
/*
 * Card component
 */
.card {
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)) !important;*/
    background-color: $bg-colour;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.profile-img-custom {
    width: 100%;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img-card {
    width: 100%;
    margin: 0 auto 10px;
    display: block;
}
/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-control {
    color: black;
    background-color: white !important;
}

.reauth-email {
    display: block;
    color: white;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
    text-align: center;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}


// Placeholders

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $placeholder-colour;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $placeholder-colour;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $placeholder-colour;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder-colour;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholder-colour;
}


.full-width {
    width: 100%;
}

@media (max-width: 570px) {
    .small-middle-container{
        margin: auto;
        overflow: auto;
    }
}
@media (min-width: 571px) {
    .small-middle-container{
        margin: auto;
        width: 25%;
        overflow: auto;
    }
}

.top-margin {
    margin-top:10%;
}

.login-buttons {
    text-align: center;
}
.login-card {
    background: #424242;
}
