@import "~styles/variables.scss";

body, html {
    height: 100% !important;
    background-repeat: no-repeat !important;
}

img.center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.login-gradient-bar{
    background: linear-gradient(-10deg, transparent 20%, rgba(0,0,0,0.6) 20.0%, rgba(0,0,0,0.6) 80.0%, transparent 60%),transparent;
    height:100%;
    width:100%;
    position: absolute;
}

div.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.card-container.card {
    max-width: 500px;
    padding: 45px 45px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
 

.white-checkbox {
    color:white;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.profile-img-custom {
    width: 100%;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img-card {
    width: 100%;
    margin: 0 auto 10px;
    display: block;
}
/*
 * Form styles
 */

.reauth-email {
    display: block;
    color: white;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
    text-align: center;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}

.full-width {
    width: 100%;
}

@media (max-width: 570px) {
    .small-middle-container{
        margin: auto;
        overflow: auto;
        width:auto;
    }
}
@media (min-width: 571px) {
    .small-middle-container{
        margin: auto;
        overflow: auto;
    }
}

.login-buttons {
    text-align: center;
}

::ng-deep button#sign-in{
    color: $ombi-active-text;
}

::ng-deep .login-card .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
    color: $ombi-active;
}

::ng-deep .login-card .mat-form-field.mat-focused .mat-form-field-label{
    color: $ombi-active;
}

::ng-deep .login-card .mat-input-element{
    caret-color: $ombi-active;
}

.small-middle-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.login-card.mat-card{
    background-color: rgba(0,0,0,0.6);
    padding:60px 40px;
}

.login-card H1.login_logo{
    display:flex;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    color:$ombi-active;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 10em;
    width:100%;
    margin-bottom:70px;
}

@media (max-width: 600px){
    .login-card H1.login_logo{
        font-size:20vw;
    }
}