<!-- <div *ngIf="!request">Nothing</div>

<div id="request{{request.requestId}}" class="ombi-card dark-card c" [style.display]="hide ? 'none' : 'block'">
    <div class="card-top-info">
        <div class="top-left" id="type{{request.requestId}}-{{RequestType[request.requestType]}}">
            {{ 'Common.' + RequestType[request.requestType] }}
        </div>
    </div>
    <ombi-image [src]="request.posterPath" [type]="request.requestType" id="cardImage" class="image" alt="{{request.title}}"></ombi-image>
        <div [ngClass]="request.posterPath.includes('images/') ? 'middle-show' : 'middle'">
            <a class="poster-overlay">
                <div class="summary">
                    <div class="title" id="title{{request.requestId}}">{{request.title}}</div>
                    <div class="small-text ellipsis" id="overview{{request.requestId}}">{{request.overview}}</div>
                </div>
            </a>
        </div>
        <div [ngClass]="request.posterPath.includes('images/') ? 'button-request-container-show' : 'button-request-container'" class="row" *ngIf="!request.available && !request.approved && !request.requested">

            <div *ngIf="is4kEnabled && request.requestType === RequestType.movie;then show4K else regular"></div>
            <ng-template #show4K>
                <div class="button-request poster-overlay">
                    <button [matMenuTriggerFor]="menu" id="requestButton{{request.requestId}}{{request.requestType}}" mat-raised-button class="btn-ombi full-width poster-request-btn">
                        <i *ngIf="!loading" class="fa-lg fas fa-cloud-download-alt"></i>
                        <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
                        {{'Common.Request' }}
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item  class="btn-ombi full-width poster-request-btn" (click)="submitRequest(false)">{{'Common.Request' }}</button>
                        <button mat-menu-item  class="btn-ombi full-width poster-request-btn" (click)="submitRequest(true)">{{'Common.Request4K' }}</button>
                      </mat-menu>
                </div>
            </ng-template>
            <ng-template #regular>
                <div class="button-request poster-overlay">
                    <button id="requestButton{{request.requestId}}{{request.requestType}}" *ngIf="requestable" mat-raised-button class="btn-ombi full-width poster-request-btn" (click)="submitRequest(false)">
                        <i *ngIf="!loading" class="fa-lg fas fa-cloud-download-alt"></i>
                        <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
                        {{'Common.Request' }}
                    </button>
                </div>
            </ng-template>



        </div>
</div> -->

<div class="detailed-container" (click)="click()" [style.background-image]="background">
    <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 posterColumn">
            <ombi-image [src]="request.posterPath" [type]="request.type" class="poster" alt="{{request.title}}">
            </ombi-image>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
            <div class="row">
                <div class="col-12 title">
                    <div class="text-right year"><sup>{{request.releaseDate | date:'yyyy'}}</sup></div>
                    <h3>{{request.title}}</h3>
                </div>
                <div class="col-12" *ngIf="request.username">
                    <p>Requested By: {{request.username}}</p>
                </div>
                <div class="col-12">
                    <p>On: {{request.requestDate | amFromUtc | amLocal | amUserLocale | amDateFormat: 'l LT'}}</p>
                </div>
                <div class="col-12">
                    <p>Status: <span class="badge badge-{{getClass(request)}}">{{getStatus(request) | translate}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>