<settings-menu></settings-menu>
<fieldset *ngIf="form" class="small-middle-container">
  <legend>LDAP Settings</legend>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form)"
    class="md-form-field"
  >
    <div class="form-group">
      <mat-checkbox formControlName="isEnabled">
        LDAP Enabled
      </mat-checkbox>

      <mat-checkbox formControlName="createUsersAtLogin">
        Create Users at Login
      </mat-checkbox>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Hostname</mat-label>
        <input matInput required formControlName="hostname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Port</mat-label>
        <input matInput type="number" required formControlName="port">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Base DN</mat-label>
        <input matInput required formControlName="baseDn">
      </mat-form-field>

      <mat-checkbox formControlName="useSsl">
        Use SSL
      </mat-checkbox>
      <mat-checkbox formControlName="useStartTls">
        Use StartTLS
      </mat-checkbox>
      <mat-checkbox formControlName="skipSslVerify">
        Skip SSL Verification
      </mat-checkbox>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Bind User DN</mat-label>
        <input matInput required formControlName="bindUserDn">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Bind User Password</mat-label>
        <input matInput required type="password" formControlName="bindUserPassword">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Username Attribute</mat-label>
        <input matInput required formControlName="usernameAttribute">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Search Filter</mat-label>
        <input matInput required formControlName="searchFilter">
      </mat-form-field>
    </div>

    <div class="form-group">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="form.invalid"
      >
          Submit
      </button>
    </div>
  </form>
</fieldset>