<div *ngIf="tvShows" class="row">
        <div class="col-lg-2 col-md-4 col-6" *ngFor="let tv of tvShows">
            <mat-card>
    
                <img mat-card-image src="{{tv.banner}}" alt="{{tv.title}}">
                <mat-card-content>
    
                    <h5>{{tv.title}}</h5>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">Request</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>