
<style>
    .landing-box {
        background: #333333 !important;
        border-radius: 2%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        box-shadow: 5px 3px 5px black;
    }

    .dragula-container {
        padding-bottom: 30px;
    }

    .gu-mirror {
        margin-left: 100px !important;
        transform: rotate(4deg);
        -moz-transform: rotate(4deg);
        -webkit-transform: rotate(4deg);
        text-align: center;
    }

</style>

<div *ngIf="tvRequests">
    <div class="col-md-4">
        <h4 class="text-center">New Requests</h4>
        <div class="landing-box">
            <div class="dragula-container" [dragula]='"requests-bag"' [dragulaModel]="tvRequests.new">
                <request-card *ngFor="let item of tvRequests.new" [request]="item"></request-card>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4 class="text-center">Approved Requests</h4>
        <div class="landing-box">
            <div class="dragula-container" [dragula]='"requests-bag"' [dragulaModel]="tvRequests.approved">
                <request-card *ngFor="let item of tvRequests.approved" [request]="item"></request-card>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4 class="text-center">Available</h4>
        <div class="landing-box">
            <div class="dragula-container" [dragula]='"requests-bag"' [dragulaModel]="tvRequests.available">
                <request-card *ngFor="let item of tvRequests.available" [request]="item"></request-card>
            </div>
        </div>
    </div>
</div>
