<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Ombi</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/discover">Discover</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/search">Search</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/requests">Requests</a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="sticky-header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <!-- Search Bar -->

      <app-nav-search></app-nav-search>
      

    </mat-toolbar>

    <!-- Page -->
    <div [ngClass]="{'container top-spacing': showNav}">
      <router-outlet></router-outlet>
    </div>

    
  </mat-sidenav-content>
</mat-sidenav-container>