@import "~styles/variables.scss";
.sidenav-container {
    min-height: 100vh;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.middle {
    display: flex;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.quater-width {
    width: 25%;
}

.autocomplete-img {
    vertical-align: middle;
    height: 63px;
}

.mat-option {
    height: 50px;
    line-height: 50px;
    padding: 0px 5px;
}

::ng-deep .dark .active-list-item {
    background: $accent-dark !important;
    color:black !important;
    font-weight:500;
}

.slide-menu {
    width: 100%;
}

::ng-deep .smaller-panel {
    max-width: 170px !important;
}

.mat-drawer-content {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    height: 100%;
    /* overflow: auto; */
}

.profile-img-container {
    margin: 20px auto 10px;
    overflow: hidden;
    text-align: center;
    width: 80%;
}
.profile-img {
    float: left;
    height: 40px;
    margin-right: 15px;
}
.profile-info {
    overflow: hidden;
    text-align: left;
}
.profile-info > h3 {
    font-size: 15px;
    text-transform: capitalize;
    // color: #333;
    margin-bottom: 2px;
}
.profile-info > p {
    // color: #333;
    font-size: 11px;
    margin-top: 5px;
}

.profile-img img {
    width: 45px;
}


.full {
    width: 100%;
}
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
// New CSS for new style //

.sidenav-container .sidenav{
    background: $ombi-background-accent;
    color:#FFF;
    font-family: 'Montserrat', sans-serif;

    .application-name{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: $ombi-active;
        align-items:center;
        justify-content: center;
        font-weight: 700;
        font-size:36px;
        padding:40px 20px;
        height:auto;
    }

    .outer-profile {
        background: inherit;
        box-shadow:none;
    }

    .mat-list-item{
        color:#FFF;
        font-family:Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding:10px 20px;
        height:auto;
        width:20rem;
        margin-bottom:0.5rem;
    }
    
    .active-list-item{
        color:$ombi-background-accent;
        background: $ombi-active;
        border-radius:0px 30px 30px 0px;
        padding:10px 20px;
        height:auto;
        width:20rem;
    }
}

.outer-profile .profile-img-container {
    background: inherit;
}

.content-container{
    background: $ombi-background-primary;
    color:#FFF;

    .top-bar-container{
        background: $ombi-background-primary;
        color:$ombi-background-primary-accent;
    }

}

.top-search-bar{
    margin-left: 30px;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row{
    height:auto;
}

.top-search-bar{
    height:84px;
}