@import "~styles/variables.scss";
.sidenav-container {
    min-height: 100vh;
}

.sidenav {
    width: 220px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.middle {
    display: flex;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.quater-width {
    width: 25%;
}

.autocomplete-img {
    vertical-align: middle;
    height: 63px;
}

.mat-option {
    height: 50px;
    line-height: 50px;
    padding: 0px 5px;
}

.active-list-item {
    background: $accent !important;
    color:white;
}

::ng-deep .dark .active-list-item {
    background: $accent-dark !important;
    color:black !important;
    font-weight:500;
}

// Changed color with !important and changed the font weight
/*.active-list-item-dark {
    background: $accent-dark !important;
    color:black !important;
    font-weight:500;
}*/

// changed bottom to 10px so when you overlay a link it won't get blocked by URL
.bottom-nav-link {
    bottom: 10px;
    position: absolute !important;
    //background-color:#E84C3D;
}

/*bottom-nav-link:hover{
    background-color:rgb(226, 52, 36) !important;
}*/