$ombi-primary:#3f3f3f;
$ombi-primary-darker:#2b2b2b;
$ombi-accent: #258a6d;
@media (max-width: 767px) {
    .quater-width {
        width: 15em !important;
    }
}

.quater-width {
    width: 25em;
}

.autocomplete-img {
    vertical-align: middle;
    height: 63px;
}

.mat-option {
    height: 50px;
    line-height: 50px;
    padding: 0px 5px;
}

.search-bar {
    background-color: $ombi-primary-darker;
    border: solid 1px $ombi-primary-darker;
}

.search-bar:focus {
    background-color: white;
}

::ng-deep .mat-form-field-underline{
    bottom:0.5em;
}