<form [formGroup]='searchForm' class="search-wrapper" [class.expanded]="isExpanded">
    <button type="button" class="search-icon-btn" (click)="toggleSearch()" aria-label="Search">
        <i class="fas fa-search"></i>
    </button>
    <input
        #searchInput
        id="nav-search"
        class="search-input"
        [placeholder]="isExpanded ? ('NavigationBar.Search' | translate) : ''"
        formControlName="input"
        (blur)="onBlur()"
        autocomplete="off"
        spellcheck="false">
    <button type="button" class="search-clear-btn" *ngIf="searchForm.get('input')?.value" (click)="clearSearch()" aria-label="Clear search">
        <i class="fas fa-times"></i>
    </button>
</form>
