$ombi-primary:#3f3f3f;
$ombi-primary-darker:#2b2b2b;
$ombi-accent: #258a6d;
@media (max-width: 767px) {
    .quater-width {
        width: 15em !important;
    }
}

.quater-width {
    width: 25em;
}

.autocomplete-img {
    vertical-align: middle;
    height: 63px;
}

.mat-option {
    height: 75px;
    line-height: 50px;
    padding: 0px 0px;
}

.search-bar {
    background-color: $ombi-primary-darker;
    border: solid 1px $ombi-primary-darker;
}

.search-bar:focus {
    background-color: white;
}


::ng-deep .top-search-bar .mat-form-field-underline{
    display:none;
}

::ng-deep .top-search-bar .mat-form-field-flex{
    border: 1px solid #35465c;
    border-radius:30px;
    margin-top:20px;
    height:50px;
}

::ng-deep .top-search-bar .mat-form-field-infix{
    margin-left:20px;
    border-top:0px;
    margin-top:5px;
}

::ng-deep .top-search-bar .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom:0px;
}

.option-img {
    vertical-align: middle;
    margin-right: 8px;
  }

.options {
    margin-bottom: 5px;
}

::ng-deep .discoverResults{
    margin-top:40px;
}

::ng-deep button:focus{
    outline:none;
}

::ng-deep .col-2.top-filter{
    margin-top:10px;
}