<!--<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Help it. By<br>little actions.</h2>
            <a href="/funds" class="btn btn-outline btn-xl page-scroll">How I can?!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>-->

<section id="donate" class="cta-donate">
    <div class="cta-content-donate">
        <div class="container">
            <h2>Give me happiness.</h2>
            <h3 style="color:white">Make a donation now, clicking the button below!.</h3>
 <a href="https://www.paypal.me/PlexRequestsNet/25" target="_blank" class="btn btn-outline btn-xl page-scroll">Donate</a>
        </div>
    </div>
    <div class="overlay-donate"></div>
</section>

