<section id="donate" class="cta-donate">
    <div class="cta-content-donate">
        <div class="container">
            <h2>Give me happiness.</h2>
            <h3 style="color:white">Make a donation now, by buttons below.</h3>
            <a href="https://blockchain.info/address/1B9rDoFCndbsKXL9QiefUcUGUbJH9Y1i6M" style="margin-bottom: 2em;" class="btn btn-outline btn-xl page-scroll">Donate <i class="fa fa-bitcoin fa-2x"></i>!</a>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="3KWMZMMU5TZ8U" />
                <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate" />
                <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
    <div class="overlay-donate"></div>
</section>
