<!--<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Help it. By<br>little actions.</h2>
            <a href="/funds" class="btn btn-outline btn-xl page-scroll">How I can?!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>-->

<section id="donate" class="cta-donate">
    <div class="cta-content-donate">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
            <h2><i class="fa fa-heart" aria-hidden="true"></i> Ombi?</h2>
            <h3 style="color:white">Help us keep this going! Donate as much or as little as you want!</h3>
             <a href="https://www.paypal.me/PlexRequestsNet/25" target="_blank" class="btn btn-outline btn-xl page-scroll">Donate</a>
              </div>
            </div>
        </div>
    </div>
    <div class="overlay-donate"></div>
</section>

