<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">So what is Ombi you ask!?</h2>
                  <p>Ombi allows you to host your own Plex Request and user management system. 
                        <br />If you are sharing your Plex server with other users, allow them to request new content using an easy to manage interface!
                        <br />Manage all your requests for Movies and TV with ease, leave notes for the user and get notification when a user requests something.
                        <br />Allow your users to post issues against their requests so you know there is a problem with the audio etc.
                        <br />Even automatically sent them weekly newsletters of new content that has been added to your Plex server!</p>

  <a href="https://github.com/tidusjar/Ombi" class="btn-social btn-outline"  target="_blank"><i class="fa fa-fw fa-github"></i></a>
            </div>
        </div>
    </div>
</section>
