<section id="whatisombi" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">What is Ombi?</h2>
                  <p>Ombi is a self-hosted web application that automatically gives your shared Plex or Emby users the ability to request content by themselves! Ombi can be linked to multiple TV Show, Movie and Music DVR tools to create a seamless end-to-end experience for your users.</p>

<h2><a href="https://github.com/tidusjar/Ombi" class="btn btn-outline btn-xl" target="_blank">Install</a></h2>
            </div>
        </div>
    </div>
</section>
