<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Make your good deed of the day!</h2>
                <p>It supports the development of this theme via one of the good deeds that can help to improve it!</p>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">Antonio, I'll help</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">I'm selfish</a>
                </div>
            </div>
        </div>
    </div>
</section>
