<footer>
    <div id="contact" class="container">
        <p>&copy; 2017 by <a target="_blank" rel="nofollow" href="https://linkedin.com/in/jamiearees">Jamie Rees</a> hosted on <a target="_blank" rel="nofollow" href="https://github.com/tidusjar/ombi">Github</a>. All Rights Reserved.</p>
        <ul class="list-inline">
             <li>
                    <a class="page-scroll" href="#why">What's Ombi?</a>
                </li>
               <li>
                    <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a href="https://github.com/tidusjar/Ombi#installation">Install Instructions</a>
                </li>
                <li>
                    <a href="https://github.com/tidusjar/Ombi#feature-requests">Feature Requests</a>
                </li>
                <li>
                    <a href="https://github.com/tidusjar/Ombi/issues/new">Submit Bug</a>
                </li>
                <li>
                    <a href="https://github.com/tidusjar/Ombi/wiki/FAQ">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="#donate">Donate</a>
                </li>
                <li>
                    <a href="https://forums.ombi.io/">Forum</a>
                </li>
       </ul>
    </div>
</footer>
