<section id="donate" class="cta-donate">
    <div class="cta-content-donate">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Do you <i class="fa fa-heart" aria-hidden="true"></i> Ombi?</h3>
                <h3 class="section-heading">Please considering donating as much or as little as you want to help us keep Ombi going. Everything helps!</h3>
                <a href="https://www.paypal.me/PlexRequestsNet/25" target="_blank" class="btn btn-outline btn-xl page-scroll">via PayPal <i class="fa fa-cc-paypa" aria-hidden="true"></a>
                <a href="https://www.patreon.com/tidusjar" target="_blank" class="btn btn-outline btn-xl page-scroll">via Patreon <i class="fa fa-usd" aria-hidden="true"></a>
              </div>
            </div>
        </div>
    </div>
</section>

