<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Your personal media assistant!</h1>
                        <p>A simple way for your shared media users to request and download content - automatically! Learn how to get up and running in 5 minutes, below.</p>
                        <a href="#why" class="btn btn-filled btn-xl page-scroll">Learn More</a>
                        <a href="https://github.com/tidusjar/Ombi/releases/latest" class="btn btn-outline btn-xl page-scroll">Install</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <img src="img/MockUp.png" class="img-responsive" alt="">
         <!-- Old code for iPhone mock-up
                      <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                 Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! 
                              <img src="img/search.png" class="img-responsive" alt="">
                                </div>
                            <div class="button">
                                 You can hook the "home button" to some JavaScript events or just remove it 
                             </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</header>
