<header>
    <section id="header">
    <div class="container">
              <div class="header-content">
                  <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="{{ site.baseurl }}/img/headerimg.png" class="img-responsive img-center" alt="">
                      </div>
                      <div class="col-lg-12 text-center">
                        <h1>Your personal media assistant!</h1>
                        <p>A simple way for your shared media users to request and download content - automatically!<br>
                           Learn how to get up and running in 5 minutes, below.</p>
                        <a href="#why" class="btn btn-filled btn-xl page-scroll">Learn More &darr;</a>
                        <a href="https://github.com/tidusjar/Ombi/releases/latest" class="btn btn-outline btn-xl page-scroll">Install</a>
                      </div>
                    </div>
                </div>
            </div>
    </section>
</header>
