<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" />
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="/">Blog</a></li>
          <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="/blog/">Blog</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
          {% for social in site.social %}
            {% if social.url %}
                <li><a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}>
                  <i class="fa fa-{{ social.icon }}"></i>
                </a></li>
                {% endif %}
              {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
