<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Install Ombi in minutes!</h2>
                <p><a href="https://github.com/tidusjar/Ombi">Click here and follow the simple instructions to install Ombi.</a></p>
                <p><a href="https://www.paypal.me/PlexRequestsNet/25">If you love Ombi, please consider helping us out by donating!</a></p>
            </div>
        </div>
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                           <div class="project-category">
                                Search
                            </div>
                            <div class="project-name">
                                Ombi figures out what you're typing and fills in the rest.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                            <div class="project-category">
                                On the Go
                            </div>
                            <div class="project-name">
                                Users can use any device to add movies to your queue
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                        <div class="project-category">
                                Seasons or Episodes?
                            </div>
                            <div class="project-name">
                                Users can select whether they want full seasons or just certain episodes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                             <div class="project-category">
                                Be in the know
                            </div>
                            <div class="project-name">
                                Admins get notified when a new show is requested, or when users report errors
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                             <div class="project-category">
                                Manage issues
                            </div>
                            <div class="project-name">
                                Easily manage all content issues from within Ombi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Port6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content text-muted">
                             <div class="project-category">
                                Customizable
                            </div>
                            <div class="project-name">
                                You can change the theme, name, add even add a landing page
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
