<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Check out the screenshots below!</h2>
                <p>Sold, yet? Install Ombi and get up and running in minutes!</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/LaptopDesk.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-category">
                                Twitter
                            </div>
                            <div class="project-name">
                                Share the project via Twitter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Desktop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category">
                                Twitter
                            </div>
                            <div class="project-name">
                                Share the project via Twitter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/SettingsLaptop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        <div class="project-category">
                                Twitter
                            </div>
                            <div class="project-name">
                                Share the project via Twitter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/smartmockups0 (1).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/smartmockups0.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="imgOld/moviesearch.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
