<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Check out these screenshots below! <i style="color:#ffffff" class="fa fa-smile-o"></i></h2>
                <p>Sold, yet? Install Ombi and get up and running in minutes!</p>
                <hr>
                {% if site.data-ad-client %}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- jekynewage -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="{{ site.data-ad-client }}"
                    data-ad-slot="{{ site.data-ad-slot }}"
                    data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/LaptopDesk.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/Desktop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/SettingsLaptop.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                        TEST TEST TEST
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/smartmockups0 (1).png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="img/smartmockups0.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#Ombi" class="portfolio-box">
                    <img src="imgOld/moviesearch.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
