
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">See below for some of Ombi's amazing features</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/OmbiPortrait.mp4" class="img-responsive" alt=""> </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-energy text-primary"></i>
                                    <h3>Integration</h3>
                                    <p class="text-muted">Adds content to Sonarr, Radarr, Headphones and more</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-bell text-primary"></i>
                                    <h3>Notifications</h3>
                                    <p class="text-muted">Get notified when users request content via your favourite notification app</p>
                                </div>
                            </div>    
                             <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-wrench text-primary"></i>
                                    <h3>Customization</h3>
                                    <p class="text-muted">Change the theme, site name, landing page message and even add your own 'donate' link</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Responsive</h3>
                                    <p class="text-muted">Users can access Ombi through any device - the UI adapts to their screen</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-heart text-primary"></i>
                                    <h3>Free</h3>
                                    <p class="text-muted">Ombi is free and open source, with no ads! If you're happy with Ombi, please <a href="https://www.paypal.me/PlexRequestsNet/25">click here to donate!</a></p>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="feature-item">
                                    <i class="icon-flag text-primary"></i>
                                    <h3>Content Reporting</h3>
                                    <p class="text-muted">Built-in content issue reporting and management</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </section>
