
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Give and receive</h2>
                        <p class="text-muted">Anyone who decides to help, they will, as far as possible and my abilities, to help each other with:</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-cup text-primary"></i>
                                    <h3>Free consultation</h3>
                                    <p class="text-muted">I can put at your disposal the knowledge of web marketing and grow hacking acquired through years of study and adapt them to your business ideas, advising how best to act in your specific case.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-mustache text-primary"></i>
                                    <h3>Crypto coin help</h3>
                                    <p class="text-muted">I can help you find the best tools on the web to work with the crypto coins, make payments, purchases, trading and exchange them for money.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-energy text-primary"></i>
                                    <h3>Helping with development</h3>
                                    <p class="text-muted">To the best of my knowledge, I can help you build your business on the internet if you're a small business, an entrepreneur, a freelancer or a student.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-social-twitter text-primary"></i>
                                    <h3>Social Sharing</h3>
                                    <p class="text-muted">To share on my network who you are, what you do and what do you do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
