/wwwroot/css/**
/wwwroot/fonts/**
/wwwroot/lib/**
/wwwroot/maps/**
/wwwroot/dist/**
/wwwroot/*.js.map
/wwwroot/*.js

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
#/typings
/systemjs.config.js*
/Logs/**
