<p-carousel [value]="cast" easing="easeOutStrong" [responsiveOptions]="responsiveOptions" [numVisible]="6">
    <ng-template let-item pTemplate="item">
        <div class="cast-card">
            <div class="cast-image-wrap">
                <ng-container *ngIf="item.image || item.profile_path; else placeholderIcon">
                    <a [routerLink]="'/discover/actor/' + item.id" [attr.aria-label]="item.name || item.person">
                        <ombi-image class="cast-profile-img" src="https://image.tmdb.org/t/p/w300{{item.image || item.profile_path}}"></ombi-image>
                    </a>
                </ng-container>
                <ng-template #placeholderIcon>
                    <i class="fa-solid fa-user-large fa-2xl cast-placeholder-icon" aria-hidden="true"></i>
                </ng-template>
            </div>
            <div class="cast-name">
                <strong>{{item.name || item.person}}</strong>
            </div>
            <div class="cast-character" *ngIf="item.character">
                <small>{{item.character}}</small>
            </div>
        </div>
    </ng-template>
</p-carousel>
