<p-carousel [value]="cast" easing="easeOutStrong" [responsiveOptions]="responsiveOptions" [numVisible]="6">
    <ng-template let-item pTemplate="item">
        <div class="cast-card">
            <div class="cast-image-wrap">
                <a *ngIf="item.image" [routerLink]="'/discover/actor/' + item.id">
                    <ombi-image class="cast-profile-img" src="https://image.tmdb.org/t/p/w300{{item.image}}"></ombi-image>
                </a>
                <a *ngIf="item.profile_path" [routerLink]="'/discover/actor/' + item.id">
                    <ombi-image class="cast-profile-img" src="https://image.tmdb.org/t/p/w300{{item.profile_path}}"></ombi-image>
                </a>
                <i *ngIf="!item.image && !item.profile_path" class="fa-solid fa-user-large fa-2xl cast-placeholder-icon" aria-hidden="true"></i>
            </div>
            <div class="cast-name">
                <strong>{{item.name || item.person}}</strong>
            </div>
            <div class="cast-character" *ngIf="item.character">
                <small>{{item.character}}</small>
            </div>
        </div>
    </ng-template>
</p-carousel>
