<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        @if (Context.Request.Path == "/admin")
        {
            <a class="list-group-item active" href="/admin">Plex Request Settings</a>
        }
        else
        {
            <a class="list-group-item" href="/admin">Plex Request Settings</a>
        }
        @if (Context.Request.Path == "/admin/authentication")
        {

            <a class="list-group-item active" href="/admin/authentication">Authentication</a>
        }
        else
        {

            <a class="list-group-item" href="/admin/authentication">Authentication</a>
        }

        @if (Context.Request.Path == "/admin/plex")
        {
            <a class="list-group-item active" href="/admin/plex">Plex Settings</a>
        }
        else
        {
            <a class="list-group-item" href="/admin/plex">Plex Settings</a>
        }
        @if (Context.Request.Path == "/admin/couchpotato")
        {
            <a class="list-group-item active" href="/admin/couchpotato">CouchPotato Settings</a>
        }
        else
        {

            <a class="list-group-item" href="/admin/couchpotato">CouchPotato Settings</a>
        }
        @if (Context.Request.Path == "/admin/sonarr")
        {
            <a class="list-group-item active" href="/admin/sonarr">Sonarr Settings</a>
        }
        else
        {
            <a class="list-group-item" href="/admin/sonarr">Sonarr Settings</a>
        }
        @*<a class="list-group-item" href="/admin/sickbeard">Sickbeard Settings</a>*@

        @if (Context.Request.Path == "/admin/emailnotification")
        {
            <a class="list-group-item active" href="/admin/emailnotification">Email Notifications</a>
        }
        else
        {
            <a class="list-group-item" href="/admin/emailnotification">Email Notifications</a>
        }
    </div>
</div>