@using System.Linq
@using PlexRequests.Core.Models
@using PlexRequests.UI.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<PlexRequests.Core.SettingModels.NewletterSettings>
@Html.Partial("_Sidebar")

<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>Newsletter Settings</legend>
            
            <!-- Email Nofication Section -->
            <div class="form-group">
                <div class="checkbox">

                    <small>Note: This will require you to setup your email notifications</small>
                    @if (Model.SendRecentlyAddedEmail)
                    {
                        <input type="checkbox" id="SendRecentlyAddedEmail" name="SendRecentlyAddedEmail" checked="checked"><label for="SendRecentlyAddedEmail">Send out a weekly email of recently added content to all your Plex 'Friends'</label>
                    }
                    else
                    {
                        <input type="checkbox" id="SendRecentlyAddedEmail" name="SendRecentlyAddedEmail"><label for="SendRecentlyAddedEmail">Send out a weekly email of recently added content to all your Plex 'Friends'</label>
                    }

                </div>
                <button id="recentlyAddedBtn" class="btn btn-primary-outline">Send test email to Admin</button>
            </div>
          
            <br/>
            <br />
            <div class="form-group">
                <div>
                    <button type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
            <!-- Email Nofication Section -->
           
        </fieldset>
    </form>
</div>


<script>
    $(function () {


        var base = '@Html.GetBaseUrl()';
        $('#save').click(function (e) {
            e.preventDefault();

            var $form = $("#mainForm");
            var data = $form.serialize();

            $.ajax({
                type: $form.prop("method"),
                data: data,
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify(response.message, "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });

        $('#recentlyAddedBtn').click(function (e) {
            e.preventDefault();
            var base = '@Html.GetBaseUrl()';
            var url = createBaseUrl(base, '/admin/recentlyAddedTest');

            $.ajax({
                type: "post",
                url: url,
                dataType: "json",
                success: function (response) {
                    if (response) {
                        generateNotify(response.message, "success");
                    } else {

                        generateNotify(response.message, "danger");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });

    });
</script>