@Html.Partial("_Sidebar")
@{
    int port;
    if (Model.Port == 0)
    {
        port = 3579;
    }
    else
    {
        port = Model.Port;
    }

}
<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" action="/admin" id="mainForm">
        <fieldset>
            <legend>Request Plex Settings</legend>
            <div class="form-group">
                <label for="portNumber" class="control-label">Port</label>

                <div>
                    <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="@port">
                </div>
            </div>
            <small class="control-label">You will have to restart after changing the port.</small>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.SearchForMovies)
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies" checked="checked"><text>Search for Movies</text>
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies"><text>Search for Movies</text>
                        }
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.SearchForTvShows)
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows" checked="checked"><text>Search for TV Shows</text>
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows"><text>Search for TV Shows</text>
                        }
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @if (Model.RequireApproval)
                        {
                            <input type="checkbox" id="RequireApproval" name="RequireApproval" checked="checked"><text>Require approval of requests</text>
                        }
                        else
                        {
                            <input type="checkbox" id="RequireApproval" name="RequireApproval"><text>Require approval of requests</text>
                        }
                    </label>

                </div>
            </div>

            <div class="form-group">
                <label for="WeeklyRequestLimit" class="control-label">Weekly Request Limit</label>
                <div>
                    <label>
                        <input type="number" id="WeeklyRequestLimit" name="WeeklyRequestLimit" class="form-control form-control-custom " value="@Model.WeeklyRequestLimit">
                    </label>
                </div>
            </div>

            <div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>