@Html.Partial("/Admin/_Sidebar")
@{
    int port;
    var authToken = string.Empty;
    if (Model.Port == 0)
    {
        port = 3579;
    }
    else
    {
        port = Model.Port;
    }

}
<div class="col-sm-8">
    <form class="form-horizontal" method="POST" action="/admin" id="mainForm">
        <fieldset>
            <legend>Request Plex Settings</legend>
            <div class="form-group">
                <label for="portNumber" class="col-lg-2 control-label">Port</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="@port">
                </div>
            </div>
            <small class="col-lg-10 col-lg-offset-2">You will have to restart after changing the port.</small>
            <div class="form-group">
                <label for="SearchForMovies" class="col-lg-2 control-label">Search for Movies</label>
                <div class="col-lg-10 checkbox">
                    <label>
                        @if (Model.SearchForMovies)
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies" checked="checked">
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForMovies" name="SearchForMovies">
                        }
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="SearchForTvShows" class="col-lg-2 control-label">Search for TV Shows</label>
                <div class="col-lg-10 checkbox">
                    <label>
                        @if (Model.SearchForTvShows)
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows" checked="checked">
                        }
                        else
                        {
                            <input type="checkbox" id="SearchForTvShows" name="SearchForTvShows">
                        }
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="WeeklyRequestLimit" class="col-lg-2 control-label">Weekly Request Limit</label>
                <div class="col-lg-10">
                    <label>
                        <input type="number" id="WeeklyRequestLimit" name="WeeklyRequestLimit" class="form-control form-control-custom " value="@Model.WeeklyRequestLimit">
                    </label>
                </div>
            </div>

            <div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>