@Html.Partial("_Sidebar")

<div class="col-sm-8 col-sm-push-1">
    <fieldset>
        <legend>Status</legend>


        <div class="form-group">
            <label for="portNumber" class="control-label">Latest Version</label>

            <div class="">
                <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="@port">
            </div>
        </div>


    </fieldset>
</div>