@import "~styles/variables.scss";
.poster {
    max-width: 100%;
    border-radius: 2%;
}

.details {
    padding: 2%;
    border-radius: 10px;
    background: $backgroundTint;
    div.dark & {
        background: $backgroundTint-dark;
    }
}

.details strong {
    font-weight: bold;
}


h3 strong {
    font-weight: bold;
}

.action-buttons-right {
    width: 100%;
    text-align: right;
}

.btn-spacing {
    margin-right: 1%;
}

.media-icons {
    color: $primary;
    padding: 2%;
    div.dark & {
        color: $warn-dark;
    }
}

.overview {
    height:300px;
    overflow-y: auto;
}