<p-skeleton id="cardLoading{{result.id}}"  *ngIf="!fullyLoaded" width="100%" height="315px"></p-skeleton>

<div id="result{{result.id}}" *ngIf="fullyLoaded" class="ombi-card dark-card c" [style.display]="hide ? 'none' : 'block'">
    <div class="card-top-info">
        <div class="top-left" id="type{{result.id}}">
            {{RequestType[result.type] | humanize}}
        </div>
        <div class="{{getStatusClass()}} top-right" id="status{{result.id}}">
            <span class="indicator"></span><span class="indicator-text" id="availabilityStatus{{result.id}}">{{getAvailbilityStatus()}}</span>
        </div>
    </div>
        <img [routerLink]="generateDetailsLink()" id="cardImage" src="{{result.posterPath}}" class="image"
            alt="{{result.title}}">
        <div class="middle">
            <a class="poster-overlay" [routerLink]="generateDetailsLink()">
                <div class="summary">
                    <div class="title" id="title{{result.id}}">{{result.title}}</div>
                    <div class="small-text ellipsis" id="overview{{result.id}}">{{result.overview}}</div>
                </div>
            </a>
        </div>
        <div class="row button-request-container" *ngIf="!result.available && !result.approved && !result.requested">
            <div class="button-request poster-overlay">
                <button id="requestButton{{result.id}}{{result.type}}" mat-raised-button class="btn-green full-width poster-request-btn" (click)="request($event)">
                    <i *ngIf="!loading" class="fa-lg fas fa-cloud-download-alt"></i>
                    <i *ngIf="loading" class="fas fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
                </button>
            </div>
        </div>
</div>