$ombi-primary:#3f3f3f;
$card-background: #2b2b2b;
#cardImage {
    border-radius: 5px 5px 0px 0px;
}

.dark-card {
    border-radius: 8px;
}

.card-spacing {
    margin-top: 10%;
}


.rating {
    position: absolute;
    font-weight: bold;
}

$border-width: 3px;

.available {
    border-bottom: $border-width #1DE9B6 solid;
}

.approved {
    border-bottom: $border-width #ff5722 solid;
}

.requested {
    border-bottom: $border-width #ffd740 solid;
}
.notrequested {
    border-bottom: $border-width #303030 solid;
}

.expand {
    text-align: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

::ng-deep mat-dialog-container.mat-dialog-container {
    // background-color: $ombi-primary;
    // color: white;
    border-radius: 2%
}
