@using Ombi.Core.Settings
@using Ombi.Helpers
@using Ombi.Settings.Settings.Models
@inject ISettingsService<OmbiSettings> Settings
@inject ISettingsService<CustomizationSettings> CustomizationSettings
@{
    var s = await Settings.GetSettingsAsync();
    var customization = await CustomizationSettings.GetSettingsAsync();
    var baseUrl = s?.BaseUrl ?? string.Empty;

    if (!baseUrl.EndsWith("/"))
    {
        baseUrl = baseUrl.TrimEnd('/');
    }
    if (baseUrl.StartsWith("/"))
    {
        baseUrl = baseUrl.TrimStart('/');
    }

    var appName = customization.ApplicationName;
    if (string.IsNullOrEmpty(appName))
    {
        appName = "Ombi";
    }


}
<!DOCTYPE html>
<html>
<head>
    <!--





                                              bbbbbbbb
         OOOOOOOOO                            b::::::b              iiii
       OO:::::::::OO                          b::::::b             i::::i
     OO:::::::::::::OO                        b::::::b              iiii
    O:::::::OOO:::::::O                        b:::::b
    O::::::O   O::::::O   mmmmmmm    mmmmmmm   b:::::bbbbbbbbb    iiiiiii
    O:::::O     O:::::O mm:::::::m  m:::::::mm b::::::::::::::bb  i:::::i
    O:::::O     O:::::Om::::::::::mm::::::::::mb::::::::::::::::b  i::::i
    O:::::O     O:::::Om::::::::::::::::::::::mb:::::bbbbb:::::::b i::::i
    O:::::O     O:::::Om:::::mmm::::::mmm:::::mb:::::b    b::::::b i::::i
    O:::::O     O:::::Om::::m   m::::m   m::::mb:::::b     b:::::b i::::i
    O:::::O     O:::::Om::::m   m::::m   m::::mb:::::b     b:::::b i::::i
    O::::::O   O::::::Om::::m   m::::m   m::::mb:::::b     b:::::b i::::i
    O:::::::OOO:::::::Om::::m   m::::m   m::::mb:::::bbbbbb::::::bi::::::i
     OO:::::::::::::OO m::::m   m::::m   m::::mb::::::::::::::::b i::::::i
       OO:::::::::OO   m::::m   m::::m   m::::mb:::::::::::::::b  i::::::i
         OOOOOOOOO     mmmmmm   mmmmmm   mmmmmmbbbbbbbbbbbbbbbb   iiiiiiii







         -->
    @*<!-- Start SmartBanner configuration -->
          <meta name="smartbanner:title" content="Smart Application">
          <meta name="smartbanner:author" content="SmartBanner Contributors">
          <meta name="smartbanner:price" content=" ">
          <meta name="smartbanner:price-suffix-apple" content=" On the App Store">
          <meta name="smartbanner:price-suffix-google" content=" In Google Play">
          <meta name="smartbanner:icon-apple" content="http://a3.mzstatic.com/us/r30/Purple60/v4/c1/3b/b0/c13bb085-64c0-cc90-f97a-521b96963986/icon350x350.jpeg">
          <meta name="smartbanner:icon-google" content="http://lh3.ggpht.com/f4oX61ljZ6x8aYDELZOgxlvdUEu73-wSQ4fy5bx6fCRISnZP8T353wdaM43RO_DbGg=w300">
          <meta name="smartbanner:button" content="View">
          <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/us/genre/ios/id36?mt=8">
          <meta name="smartbanner:button-url-google" content="https://play.google.com/store">
          <meta name="smartbanner:enabled-platforms" content="android,ios">e.com/store/apps/details?id=com.tidusjar.Ombi">
        <meta name="smartbanner:enabled-platforms" content="android,ios">
        <!-- End SmartBanner configuration -->*@
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Ombi, media request tool">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@appName</title>
    <meta property="og:title" content="@appName" />
    <meta property="og:image" content="~/images/logo.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <meta property="og:site_name" content="@appName" />
    <base href="/@baseUrl" />
    <!--<link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="~/images/favicon/safari-pinned-tab.svg" color="#df691a">
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#df691a">
    <meta name="msapplication-config" content="~/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#df691a">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">  
    <link rel="stylesheet" href="/loading.css" />
    <script src="//maps.google.com/maps/api/js?libraries=visualization&key=AIzaSyBDar8LXU5vbURGTMcNLI0f9AsoSnpiV3I" async defer></script>

    @if (s?.CollectAnalyticData ?? true)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89270627-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-89270627-3');
        </script>
    }


</head>
<body>
    @{
        if (customization.CustomCss.HasValue())
        {
            <style>
                @Html.Raw(customization.CustomCss)
            </style>
        }
    }
    <app-ombi><p class="loading">Loading<span>.</span><span>.</span><span>.</span></p></app-ombi>
</body>
</html>
