.section {
    margin: 20px;
}
::ng-deep .p-carousel-indicators {
    display: none !important;
    }

h2{
    margin-top:40px;
    margin-left:40px;
    font-size: 24px;
}

.loading-container {
    display: flex;
    gap: 10px;
    padding: 0 20px;
    margin-top: 20px;
}

.loading-container .col-2 {
    flex: 0 0 auto;
    width: calc(10% - 9px);
}

@media (max-width: 768px) {
    .loading-container .col-2 {
        width: calc(50% - 5px);
    }
}

@media (max-width: 480px) {
    .loading-container .col-2 {
        width: calc(100% - 0px);
    }
}