//@import "~primeng/resources/themes/omega/theme.scss";

/*@import './Themes/plex.scss';*/

/*$fa-font-path: "../fonts/lib";
@import "../bower_components/font-awesome/scss/font-awesome.scss";*/

@import '../bootstrap.css';