.app-loading-container {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .app-loading {
        margin: auto;
        font-size: 2em;
    }

    .app-loading-one {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.0s;
        animation: app-loading-dot 1.3s infinite;
        animation-delay: 0.0s;
    }

    .app-loading-two {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.2s;
        animation: app-loading-dot 1.3s infinite;
        animation-delay: 0.2s;
    }

    .app-loading-three {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.3s;
        animation: app-loading-dot 1.3s infinite;
        animation-delay: 0.3s;
    }

    @-webkit-keyframes app-loading-dot {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes app-loading-dot {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}