
<settings-menu></settings-menu>

<div class="small-middle-container">
<table class="table table-striped table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <td>Title</td>
            <td>Type</td>
            <td>Retry Count</td>
            <td>Error Description</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vm">
            <td class="vcenter">
                {{v.title}}
            </td>
            <td>{{RequestType[v.type] | humanize}}</td>
            <td class="vcenter">{{v.retryCount}}</td>
            <td class="vcenter"> <i [pTooltip]="v.error" class="fa fa-info-circle"></i></td>
            <td class="vcenter"><button type="button" class="mat-focus-indicator mat-flat-button mat-button-base mat-warn" (click)="remove(v)">Remove</button></td>
        </tr>
    </tbody>
</table>
</div>
