<settings-menu></settings-menu>

<fieldset *ngIf="form">
    <legend>Ombi Configuration</legend>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="portNumber" class="control-label">Port</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" formControlName="port" pTooltip="You will have to restart after changing the port.">
            </div>
        </div>

        <!--<div *ngIf="form.invalid && form.dirty" class="alert alert-danger">
            <div>The External URL is incorrect</div>
        </div>
        <div class="form-group">
            <label for="externalUrl" class="control-label">External Url</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="externalUrl" name="externalUrl" placeholder="http://ombi.io/" formControlName="externalUrl" tooltipPosition="top" pTooltip="This will be the link that will be in any emails/notifications sent to the users.">
            </div>
        </div>-->
        
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="allowExternalUsersToAuthenticate" allowExternalUsersToAuthenticate="allowExternalUsersToAuthenticate" formControlName="allowExternalUsersToAuthenticate"
                       pTooltip="This will allow Plex Friends and Emby users to log into Ombi.">
                <label for="allowExternalUsersToAuthenticate">Allow media server users to authenticate</label>
            </div>
        </div>

        <div class="form-group">
            <label for="ApiKey" class="control-label">Api Key</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-custom" id="ApiKey" name="ApiKey" formControlName="apiKey">

                <div class="input-group-addon">
                    <div (click)="refreshApiKey()" id="refreshKey" class="fa fa-refresh" title="Reset API Key" pTooltip="This will invalidate the old API key"></div>
                </div>

                <div class="input-group-addon">
                    <div class="fa fa-clipboard"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="CollectAnalyticData" name="CollectAnalyticData" formControlName="collectAnalyticData">
                <label for="CollectAnalyticData">Allow us to collect anonymous analytical data e.g. browser used</label>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button [disabled]="form.invalid" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>
    </form>
</fieldset>