<settings-menu></settings-menu>

<wiki [url]="'https://github.com/tidusjar/Ombi/wiki/Ombi-Settings'"></wiki>
<fieldset *ngIf="form">
    <legend>Ombi Configuration</legend>
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

        <!--<div class="form-group">
            <label for="portNumber" class="control-label">Port</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" formControlName="port" pTooltip="You will have to restart after changing the port.">
            </div>
        </div>-->

        <!--<div *ngIf="form.invalid && form.dirty" class="alert alert-danger">
            <div>The External URL is incorrect</div>
        </div>
        <div class="form-group">
            <label for="externalUrl" class="control-label">External Url</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="externalUrl" name="externalUrl" placeholder="http://ombi.io/" formControlName="externalUrl" tooltipPosition="top" pTooltip="This will be the link that will be in any emails/notifications sent to the users.">
            </div>
        </div>-->
        <div class="col-md-6">

            <div class="form-group">
                <label for="baseUrl" class="control-label">Base Url</label>
                <div>
                    <input type="text" class="form-control form-control-custom" id="baseUrl" name="baseUrl"
                        formControlName="baseUrl">
                </div>
            </div>

            <div class="form-group">
                <label for="ApiKey" class="control-label">Api Key</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-custom" id="ApiKey" name="ApiKey"
                        formControlName="apiKey" readonly="readonly" #apiKey>

                    <div class="input-group-addon">
                        <div (click)="refreshApiKey()" id="refreshKey" class="fa fa-refresh" title="Reset API Key"
                            pTooltip="This will invalidate the old API key"></div>
                    </div>

                    <div class="input-group-addon">
                        <div ngxClipboard [ngxClipboard]="apiKey" class="fa fa-clipboard" (cbOnSuccess)="successfullyCopied()"></div>
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="doNotSendNotificationsForAutoApprove" name="doNotSendNotificationsForAutoApprove"
                        formControlName="doNotSendNotificationsForAutoApprove">
                    <label for="doNotSendNotificationsForAutoApprove">Do not send Notifications if a User has the Auto
                        Approve permission</label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="hideRequestsUsers" name="hideRequestsUsers" formControlName="hideRequestsUsers">
                    <label for="hideRequestsUsers">Hide requests from other users</label>
                </div>
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="ignoreCertificateErrors" name="ignoreCertificateErrors" formControlName="ignoreCertificateErrors">
                    <label for="ignoreCertificateErrors" tooltipPosition="top" pTooltip="Enable if you are having connectivity problems over SSL">Ignore
                        any certificate errors</label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" id="CollectAnalyticData" name="CollectAnalyticData" formControlName="collectAnalyticData">
                    <label for="CollectAnalyticData" tooltipPosition="top" pTooltip="This will allow us to have a better understanding of the userbase so we know what we should be supporting">Allow
                        us to collect anonymous analytical data e.g. browser used</label>
                </div>
            </div>

            <div class="form-group" *ngIf="langauges">
                <label for="select" class="control-label">Language</label>
                <div id="profiles">
                    <select formControlName="defaultLanguageCode" class="form-control form-control-custom" id="select">
                        <option *ngFor="let lang of langauges" value="{{lang.code}}">{{lang.nativeName}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button [disabled]="form.invalid" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>