
<mat-form-field  appearance="outline" floatLabel=auto class="example-chip-list">
  <mat-label>{{ "MediaDetails.Genres" | translate }}</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    @for (word of form.controls.genreIds.value; track word.id) {
      <mat-chip
        [removable]="true"
        (removed)="remove(word)">
        {{word.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    }
    <input
      [placeholder]="'Search.SearchGenre' | translate"
      #keywordInput
      [formControl]="control"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"/>
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (word of filteredKeywords | async; track word.id) {
      <mat-option [value]="word">
        {{word.name}}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>

