<settings-menu></settings-menu>

<wiki [url]="'https://github.com/tidusjar/Ombi/wiki/Ombi-Settings'"></wiki>
<fieldset *ngIf="form" class="container">
    <legend>Ombi Configuration</legend>

    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">

        <div class="col-12">

            <mat-form-field>
                <input matInput placeholder="Base Url" formControlName="baseUrl">
            </mat-form-field>



            <div class="form-group">
                <label for="ApiKey" class="control-label">Api Key</label>
                <div class="input-group">
                    <input type="text" class="form-control form-control-custom" id="ApiKey" name="ApiKey" formControlName="apiKey" readonly="readonly" #apiKey>

                    <div class="input-group-addon">
                        <div (click)="refreshApiKey()" id="refreshKey" class="fa fa-refresh" title="Reset API Key" pTooltip="This will invalidate the old API key"></div>
                    </div>

                    <div class="input-group-addon">
                        <div ngxClipboard [ngxClipboard]="apiKey" class="fa fa-clipboard" (cbOnSuccess)="successfullyCopied()"></div>
                    </div>
                </div>
            </div>
            <br />
            <div>
                <mat-checkbox formControlName="doNotSendNotificationsForAutoApprove">
                    Do not send Notifications if a User has the Auto Approve permission</mat-checkbox>
            </div>
            <div>
                <mat-checkbox formControlName="hideRequestsUsers">
                    Hide requests from other users
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox formControlName="ignoreCertificateErrors" matTooltip="Enable if you are having connectivity problems over SSL">
                    Ignore any certificate errors (Please restart after changing)
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox formControlName="collectAnalyticData" matTooltip="This will allow us to have a better understanding of the userbase so we know what we should be supporting">
                    Allow us to collect anonymous analytical data e.g. browser used
                </mat-checkbox>
            </div>
            <div>
                <mat-checkbox formControlName="disableHealthChecks">
                    Disable the health checks page
                    <a href="/healthchecks-ui" target="_blank">/healthchecks-ui</a>
                </mat-checkbox>
            </div>
            <div>
                <mat-form-field *ngIf="langauges">
                    <mat-select placeholder="Language" formControlName="defaultLanguageCode">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let lang of langauges" [value]="lang.code">
                            {{lang.nativeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <div>
                    <button mat-raised-button [disabled]="form.invalid" type="submit" id="save" color="accent">Submit</button>
                </div>
            </div>
        </div>
    </form>
</fieldset>