@import "~styles/shared.scss";
.small-middle-container {
    margin: auto;
    width: 95%;
    margin-top: 10px;
}

textarea {
    min-height: 100px;
    height: auto;
    max-height: 800px;
}

.row {
    display: block;
}

button, [type="button"]{
    padding: 0;
    border: none;
    background: transparent;
    color: white;
}

::ng-deep .mat-form-field-suffix .mat-icon{
    font-size:120%;
}