<settings-menu></settings-menu>

<div class="small-middle-container">
  <legend>Features</legend>

  <div class="row" style="margin-top:3em">
    <div class="col">
      <div *ngFor="let feature of features">
        <div class="row">
          <div class="col-1">
            <mat-slide-toggle [checked]="feature.enabled" (change)="updateFeature($event, feature)" id="enable{{feature.name}}"></mat-slide-toggle>
          </div>
          <div class="col-2">
            <h3>{{feature.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
