<div *ngIf="form">

    <h3>Hello {{form.value.username}}!</h3>
    <div class="col-md-6">
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="modal-body" style="margin-top:45px;">
                <div class="form-group">
                    <label for="emailAddress" class="control-label">Email Address</label>
                    <div>
                        <input type="text" formControlName="emailAddress" class="form-control form-control-custom " id="emailAddress" name="emailAddress">
                    </div>
                </div>
                <div class="form-group">
                    <label for="currentPassword" class="control-label">Current Password</label>
                    <div>
                        <input type="password" formControlName="currentPassword" class="form-control form-control-custom " id="currentPassword" name="currentPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">New Password</label>
                    <div>
                        <input type="password" formControlName="password" class="form-control form-control-custom " id="password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirm New Password</label>
                    <div>
                        <input type="password" formControlName="confirmNewPassword" class="form-control form-control-custom " id="confirmPassword"
                            name="confirmPassword">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" data-test="submitbtn" class="btn btn-primary-outline" [disabled]="form.invalid">Save</button>

            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div *ngIf="form.invalid && form.dirty" class="alert alert-danger">
            <div *ngIf="form.get('emailAddress').hasError('email')">Email address format is incorrect</div>
            <div *ngIf="form.get('password').hasError('required')">The Password is required</div>
            <div *ngIf="form.get('confirmNewPassword').hasError('required')">The Confirm New Password is required</div>
            <div *ngIf="form.get('currentPassword').hasError('required')">Your current password is required</div>
        </div>
    </div>
</div>
