<div *ngIf="tv">


    <section id="summary-wrapper">
        <div class="full-screenshot enabled" [style.background-image]="tv.background"></div>
        <div class="shadow-base" [ngClass]="tv.available ? 'available-bottom-border' : ''"></div>

        <div class="container summary">
            <div class="container">
                <div class="row">
                    <div
                        class="col-xl-12 col-lg-11 offset-lg-1 col-md-8 offset-md-4 col-sm-7 offset-sm-5 col-6 offset-6">
                        <h1>{{tv.title}} <span *ngIf="tv.firstAired"
                                class="grey-text align-middle">({{tv.firstAired  | amLocal | amDateFormat: 'YYYY'}})</span>
                        </h1>

                        <h5 class="tagline grey-text">{{tv.certification}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="info-wrapper">
        <div class="small-middle-container">
            <div class="row">
                <div class="col-md-2 col-sm-3 hidden-xs">
                    <div class="sidebar sidebar-poster affixable affix-top" style="width: 173px;">
                        <div class="poster">
                            <img class="real" [src]="tv.images.medium" alt="Poster" style="display: block;">
                        </div>
                        <!--Underneith poster-->
                        <br />
                    </div>
                </div>

                <!--Next to poster-->
                <div class="col-10 col-lg-3 col-xl-3 media-row">

                    <a *ngIf="tv.homepage" class="media-icons" h href="{{tv.homepage}}" target="_blank">
                        <i matTooltip="Homepage" class="fa fa-home fa-2x grow"></i>
                    </a>

                    <a *ngIf="tv.id" href="https://www.thetvdb.org/tv/{{tv.id}}" class="media-icons" target="_blank">
                        <i matTooltip="The TV DB" class="fa fa-tv fa-2x grow"></i>
                    </a>

                    <a *ngIf="tv.trailer" class="media-icons" (click)="openDialog()"><i matTooltip="Trailer"
                            class="fa fa-youtube-play fa-2x grow"></i></a>

                    <a *ngIf="tv.imdbId" class="media-icons" href="https://imdb.com/title/{{tv.imdbId}}"
                        target="_blank">
                        <i matTooltip="Imdb" class="fa fa-imdb fa-2x grow"></i>
                    </a>



                </div>

                <div class="col-12 col-lg-7 col-xl-7 media-row">
                 
                        <button *ngIf="!tv.fullyAvailable" mat-raised-button class="btn-spacing mat-warn" (click)="request()"
                            ><i class="fa fa-plus"></i>
                            {{ 'Common.Request' | translate }}</button>

                        <button *ngIf="tv.fullyAvailable" mat-raised-button class="btn-spacing mat-primary"  [disabled]>
                            <i class="fa fa-check"></i> {{'Common.Available' | translate }}</button>


                        <span *ngIf="tv.available">
                            <a *ngIf="tv.plexUrl" mat-raised-button style="text-align: right"
                                class="btn-spacing btn-greem" href="{{tv.plexUrl}}" target="_blank"><i
                                    class="fa fa-eye"></i> {{'Search.ViewOnPlex' |
                            translate}}</a>
                            <a *ngIf="tv.embyUrl" mat-raised-button class="mat-accent btn-spacing" href="{{tv.embyUrl}}"
                                target="_blank"><i class="fa fa-eye"></i> {{'Search.ViewOnEmby' |
                            translate}}</a>
                        </span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-3">
                    <!-- <button *ngIf="tv.belongsToCollection" mat-raised-button
                        class="btn-spacing-below full-width mat-elevation-z8">{{tv.belongsToCollection.name}}</button> -->

                    <mat-card class="card-full mat-elevation-z8">
                        <mat-card-content>
                            <div>
                                <span><strong>First Aired:</strong>
                                    {{tv.firstAired | date: 'mediumDate'}}</span></div>

                            <div>
                                <span *ngIf="tv.rating"><strong>Rating:</strong> {{tv.rating}}/10</span>
                            </div>
                            <div>
                                <span><strong>Status:</strong> {{tv.status}}</span>
                            </div>
                            <div>
                                <span><strong>Runtime:</strong> {{tv.runtime}} Minutes</span>
                            </div>
                            <div>
                                <span *ngIf="tv.status"><strong>Status:</strong> {{tv.status}}</span>
                            </div>

                            <div>
                                <span *ngIf="tv.genre"><strong>Genres:</strong>
                                    <span *ngFor="let genre of tv.genre">
                                        {{genre}} |
                                    </span>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>



                </div>
                <div class="col-12 col-md-9">
                    <mat-card class="card-full mat-elevation-z8">
                        <mat-card-content>
                            {{tv.overview}}
                        </mat-card-content>
                    </mat-card>
                </div>


            </div>


            <div class="row card-spacer media-row">
                <!-- <div class="col-12 col-md-3">
                    <mat-card class="mat-elevation-z8 keywords-panel">
                        <mat-card-content>
                            <div>
                                <span>
                                    <strong>Keywords/Tags:</strong>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let keyword of tv.keywords.keywordsValue">
                                            {{keyword.name}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div> -->

                <div class="col-12 col-md-9">
                    <mat-card class="card-full mat-elevation-z8">
                        <mat-card-header>Cast</mat-card-header>
                        <mat-card-content>
                            <p-carousel [value]="tv.cast" [numVisible]="5" easing="easeOutStrong">
                                <ng-template let-item pTemplate="item">
                                    <div class="row justify-content-md-center">
                                        <div class="col-12">
                                            <img class="cast-profile-img" *ngIf="item.character.image.medium"
                                                [src]="item.character.image.medium">
                                            <!-- TODO get profile image default -->
                                        </div>
                                        <div class="col-12">
                                            <span><strong>Character:</strong> {{item.character.name}}</span>
                                        </div>
                                        <div class="col-12">
                                            <span><strong>Actor:</strong> {{item.person.name}}</span>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-carousel>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row card-spacer media-row">
                <div class="col-12 col-md-3"></div>

                <!-- <div class="col-12 col-md-9">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Recommendations
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.recommendations.results.length > 0">

                                <div class="col-md-2" *ngFor="let r of tv.recommendations.results">
                                    <div class="sidebar affixable affix-top preview-poster">
                                        <div class="poster">
                                            <a [routerLink]="'/details/tv/'+r.id">
                                                <img class="real grow" matTooltip="{{r.title}}"
                                                    src="https://image.tmdb.org/t/p/w300/{{r.poster_path}}" alt="Poster"
                                                    style="display: block;">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Similar
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.similar.results.length > 0">

                                <div class="col-md-2" *ngFor="let r of tv.similar.results">
                                    <div class="sidebar affixable affix-top preview-poster">
                                        <div class="poster ">
                                            <a [routerLink]="'/details/tv/'+r.id">
                                                <img class="real grow" matTooltip="{{r.title}}"
                                                    src="https://image.tmdb.org/t/p/w300/{{r.poster_path}}" alt="Poster"
                                                    style="display: block;">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Videos
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="row card-spacer" *ngIf="tv.videos.results.length > 0">

                                <div class="col-md-6" *ngFor="let video of tv.videos.results">
                                    <iframe width="100%" height="315px"
                                        [src]="'https://www.youtube.com/embed/' + video.key | safe" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div> -->
            </div>
        </div>




        <div class="bottom-page-gap">
        </div>
    </section>








</div>