
    <section id="summary-wrapper">
        <div class="full-screenshot enabled" [style.background-image]="background"></div>
        <div class="shadow-base" [ngClass]="available ? 'available-bottom-border' : ''"></div>

        <div class="container summary">
            <div class="container">
                <div class="row">
                    <div
                        class="col-xl-11 col-lg-8 offset-xl-1 offset-lg-4 col-md-8 col-sm-7 col-12 offset-md-4 offset-sm-5 mobile-top-text">
                        <h1 class="large-text">{{title}} <span *ngIf="releaseDate" class="grey-text align-middle">
                            ({{releaseDate | amLocal | amDateFormat: 'YYYY'}})</span>
                        </h1>

                        <h2 class="tagline grey-text">{{tagline}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>