<settings-menu></settings-menu>
<div class="small-middle-container">
<wiki [path]="'/settings/voting/'"></wiki>

<fieldset>
    <legend>Vote</legend>
    <form *ngIf="form" novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="md-form-field" style="margin-top:1em;"></div>
            <div class="form-group">
                <div class="checkbox">
                    <mat-slide-toggle id="enable" formControlName="enabled" ng-checked="form.enabled">Enable</mat-slide-toggle>
                </div>
            </div>

            <p>Vote limits tell Ombi how many votes the request needs before approval.</p>
            <p>e.g. If the Movie vote limit is 10, it requires 10 Upvotes from 10 different users before it will be approved.</p>
            <div class="form-group">
                <label for="movieVoteMax" class="control-label">Movie Vote Limit</label>
                <input type="number" class="form-control form-control-custom form-small" min="1" id="movieVoteMax" [ngClass]="{'form-error': form.get('movieVoteMax').hasError('min')}"
                    formControlName="movieVoteMax" ng-checked="form.movieVoteMax">
                    
                    <small *ngIf="form.get('movieVoteMax').hasError('min')" class="error-text">The limit needs to be greater than or equal to 1</small>
            </div>
            <div class="form-group">
                <label for="musicVoteMax" class="control-label">Music Vote Limit</label>
                <input type="number" class="form-control form-control-custom form-small" min="1" id="musicVoteMax"  [ngClass]="{'form-error': form.get('movieVoteMax').hasError('min')}"
                    formControlName="musicVoteMax" ng-checked="form.musicVoteMax">
                    <small *ngIf="form.get('movieVoteMax').hasError('min')" class="error-text">The limit needs to be greater than or equal to 1</small>
            </div>
            <div class="form-group">
                <label for="tvShowVoteMax" class="control-label">TV Show Vote Limit</label>
                <input type="number" class="form-control form-control-custom form-small" min="1" id="tvShowVoteMax"  [ngClass]="{'form-error': form.get('movieVoteMax').hasError('min')}"
                    formControlName="tvShowVoteMax" ng-checked="form.tvShowVoteMax">
                    <small *ngIf="form.get('movieVoteMax').hasError('min')" class="error-text">The limit needs to be greater than or equal to 1</small>
            </div>

            <div class="form-group">
                <div>
                    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid" class="mat-focus-indicator mat-stroked-button accent mat-accent mat-raised-button mat-button-base" ng-reflect-disabled="false">
                        <span class="mat-button-wrapper">Submit</span><div matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                        <div class="mat-button-focus-overlay"></div></button><div class="md-form-field" style="margin-top:1em;"></div>
                </div>
            </div>
     

    </form>
</fieldset>
</div>