
<settings-menu></settings-menu>
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>SickRage Settings</legend>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12">
                    <div style="float:right;text-align:left;">
                        <div class="md-form-field">
                            <mat-slide-toggle id="enable" formControlName="enabled">Enable</mat-slide-toggle>
                        </div>
                        <div class="md-form-field">
                            <mat-slide-toggle formControlName="ssl">SSL</mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 col-sm-12">
                    <label for="select" class="control-label"><h3>SickRage Server Configuration</h3></label>
                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>SickRage Hostname or IP</mat-label>
                            <input matInput id="Ip" name="Ip" placeholder="Example: localhost" formControlName="ip">
                            <mat-error>The IP/Hostname is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>Port</mat-label>
                            <input matInput id="port" name="port" placeholder="Example: 8081" formControlName="port">
                            <mat-error>The Port is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>SickRage API Key</mat-label>
                            <input matInput id="apiKey" name="apiKey" placeholder="API Key" formControlName="apiKey">
                            <mat-error>The API Key is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>SickRage Base URL</mat-label>
                            <input matInput id="SubDir" name="SubDir" placeholder="Example: /sickrage" formControlName="subDir">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5 col-4 col-sm-12">
                    <div class="form-group">
                        <label for="select" class="control-label"><h3>SickRage Quality Profiles</h3></label>
                        <div id="profiles">
                            <div class="md-form-field" style="display:contents;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quality Profiles</mat-label>
                                    <mat-select formControlName="qualityProfile">
                                      <mat-option *ngFor="let quality of qualities" value="{{quality.value}}">{{quality.display}} </mat-option>
                                    </mat-select>
                                    <mat-error>A Default Quality Profile is required</mat-error>
                                  </mat-form-field>
                            </div>
                        </div>                      
                    </div>

                    <div class="form-group">
                        <div>
                            <button mat-raised-button type="button" (click)="test(form)" class="mat-stroked-button">Test Connectivity
                            <span id="spinner"> </span></button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            <button mat-raised-button type="submit" class="mat-stroked-button accent mat-accent">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
