$ombi-accent: (
    50 : #e5f1ed,
    100 : #bedcd3,
    200 : #92c5b6,
    300 : #66ad99,
    400 : #469c83,
    500 : #258a6d,
    600 : #218265,
    700 : #1b775a,
    800 : #166d50,
    900 : #0d5a3e,
    A100 : #90ffd2,
    A200 : #5dffbd,
    A400 : #2affa8,
    A700 : #10ff9e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ombi-primary: (
    50 : #e8e8e8,
    100 : #c5c5c5,
    200 : #9f9f9f,
    300 : #797979,
    400 : #5c5c5c,
    500 : #3f3f3f,
    600 : #393939,
    700 : #313131,
    800 : #292929,
    900 : #1b1b1b,
    A100 : #f07575,
    A200 : #eb4747,
    A400 : #ff0000,
    A700 : #e60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

