<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.40.0" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net46" />
  <package id="NUnit" version="3.2.0" targetFramework="net46" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
</packages>