$primary-colour: #df691a;
$primary-colour-outline: #ff761b;
$bg-colour: #333333;
$bg-colour-disabled: #252424;
$i:!important;

.form-control-custom {
    background-color: $bg-colour $i;
}

.form-control-custom-disabled {
    background-color: $bg-colour-disabled $i;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: $primary-colour;
}

.scroll-top-wrapper {
    background-color: $bg-colour;
}

.scroll-top-wrapper:hover {
    background-color: $primary-colour;
}

body {
    font-family: Open Sans Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #eee;
    background-color: #1f1f1f;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #333;
}

.table-hover > tbody > tr:hover {
    background-color: #282828;
}

fieldset {
    padding: 15px;
}

legend {
    border-bottom: 1px solid #333333;
}

.form-control {
    color: #fefefe;
    background-color: #333;
    border-radius: 5px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -0px;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: -15px;
}

.dropdown-menu {
    background-color: #282828;
}

.dropdown-menu .divider {
    background-color: #333333;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #333;
}

.input-group-addon {
    background-color: #333333;

}

.right-radius {
    border-radius: 0px 5px 5px 0px;
}
.left-radius {
    border-radius: 5px 0px 0px 5px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #df691a;
}

.nav-tabs > li > a:hover {
    border-color: #df691a #df691a transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #df691a;
    border: 1px solid #df691a;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #df691a;
}

/*.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 21px;
    z-index: 1000;
    padding: 0px 3px;
    font-size: 24px;
    background-color: #000;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
}*/


.navbar-default {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
}

.navbar-default .navbar-brand {
    color: #DF691A;
}

.nav-tabs {
    border-bottom: 1px solid $bg-colour-disabled;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F0ad4e;
    background-color: #282828;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #282828;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #df691a;
    color: #fff;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #282828;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #333;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #fefefe;
    background-color: #333333;
}

.list-group-item {
    background-color: #282828;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    background-color: #333333;
}

.input-addon,
.input-group-addon {
    color: #df691a;
}

.modal-header,
.modal-footer {
    background-color: #282828;
}

.modal-content {
    position: relative;
    background-color: #282828;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    color: #ebebeb;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $bg-colour;
    border-radius: 10px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    background-color: $bg-colour;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-bottom: 6px solid $bg-colour $i;
}

#sidebar-wrapper {
    background: $bg-colour-disabled;
}

#cacherRunning {
    background-color: $bg-colour;
    text-align: center;
    font-size: 15px;
    padding: 3px 0;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: $bg-colour;
    border-color: $bg-colour-disabled;
}



.card-header {
    background-color: $bg-colour;
    color: #ebebeb;
    padding: 10px 15px;
    border-bottom: 1px solid #1f1f1f;
}
.card-header > a {
    color: white;
}

.card-block {
    background: $bg-colour-disabled;
}

.panel {
    margin-bottom: 21px;
    background-color: $bg-colour-disabled;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.ui-widget-content {
    border: 1px solid #1f1f1f !important;
    background: #1f1f1f !important;
}
.ui-widget-content {
     color: #ffffff; 
}


.ui-inputtext {
    background: $bg-colour;
    color:white;
}
.ui-autocomplete-input-token input{
    color:white;
}

.ui-state-default {
    border: 2px solid $bg-colour-disabled;
}

.ui-button {
    background: $primary-colour $i;
    border: 1px solid $primary-colour-outline $i;
} 

.ui-dialog-titlebar{
    background:$bg-colour-disabled;
    color:white;
}

.ui-state-active{
    color:$primary-colour $i;
}

.ui-radiobutton-box .ui-widget .ui-state-default {
    border-width: 2px;
    border-style: solid;
    border-color: $primary-colour-outline;
    border-image: initial;
}

.ui-radiobutton, .ui-radiobutton-label{
    vertical-align: baseline;
}

.side-back {
    padding-top:5%;    
    box-shadow: 0px 0px 3.5em #000000;
}

.side-small {
    width:20em $i;
}

.ui-widget-overlay .ui-sidebar-mask {
    background: black;
}

.myBg {
    width: 100%;
    height: 100%;
    position: absolute;
 }
 .album-bg {
    width: 92%;
    height: 100%;
    position: absolute;
 }
 .tint {
    width: 100%;
    height: 100%;
    position: absolute;
 }
 .album-tint {
    width: 92%;
    height: 100%;
    position: absolute;
 }
 table.table > thead > tr > th.active {
    background-color: $primary-colour;
}