<div>
    <span *ngIf="tv.rating">
        <img style="width: 4em;" src="{{baseUrl}}/images/tvm-logo.png"> {{tv.rating}}/10
    </span>
    <span *ngIf="ratings?.score && ratings?.class">
        <img class="rating-small" src="{{baseUrl}}/images/{{ratings.class === 'rotten' ? 'rotten-rotten.svg' : 'rotten-fresh.svg'}}"> {{ratings.score}}%
    </span>

    <div *ngIf="streams?.length > 0">
        <hr>
        <strong>{{'MediaDetails.StreamingOn' | translate }}:</strong>
        <div>
        <span *ngFor="let stream of streams">
            <img class="stream-small" [matTooltip]="stream.streamingProvider" src="https://image.tmdb.org/t/p/original{{stream.logo}}">
        </span>
        </div>
    </div>
    <hr>
    <div *ngIf="tv.status">
        <strong>{{'MediaDetails.Status' | translate }}:</strong>
            {{tv.status}}
    </div>
    <strong>First Aired:</strong>
        {{tv.firstAired | date: 'mediumDate'}}
</div>

<div *ngIf="seasonCount">
    <strong>Seasons:</strong>
        {{seasonCount}}
</div>
<div *ngIf="totalEpisodes">
    <strong>Episodes:</strong>
        {{totalEpisodes}}
</div>

<div *ngIf="advancedOptions && request?.rootPathOverrideTitle">
    <strong>{{'MediaDetails.RootFolderOverride' | translate }}:</strong>
    <div>{{request.rootPathOverrideTitle}}</div>
</div>
<div *ngIf="advancedOptions && request?.qualityOverrideTitle">
    <strong>{{'MediaDetails.QualityOverride' | translate }}:</strong>
    <div>{{request.qualityOverrideTitle}}</div>
</div>

<div>
    <strong>{{'MediaDetails.Runtime' | translate }}:</strong>
        {{'MediaDetails.Minutes' | translate:{ runtime: tv.runtime} }}
</div>

<div *ngIf="tv.network">
    <strong>Network:</strong>
        {{tv.network.name}}
</div>

<div *ngIf="tv.genre">
    <strong>{{'MediaDetails.Genres' | translate }}:</strong>
    <div>
        <span *ngFor="let genre of tv.genre">
            {{genre}} |
        </span>
    </div>
</div>

