@using PlexRequests.UI.Helpers

@inherits PlexRequests.UI.Helpers.AngularViewBase

@Html.LoadTableAssets()
@{
    var baseUrl = Html.GetBaseUrl().ToHtmlString();
    var url = string.Empty;
    if (!string.IsNullOrEmpty(baseUrl))
    {
        url = "/" + baseUrl;
    }
}
<script src="/Content/app/controllers/userManagement/userManagementController.js"></script>
<script src="/Content/app/services/userManagement/userManagementService.js"></script>
<div ng-controller="userManagementController" ng-init="getUsers()">
    
    <br>
    <br>
    <fieldset>
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>User T</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users">
                <td>
                    {{u.username}}
                </td>
                <td>
                    {{u.emailAddress}}
                </td>
                <td>
                    {{u.claims}}
                </td>
                <td>
                    {{u.type == 0 ? 'Local User' : 'Plex User'}}
                    {{u.type}}
                </td>
            </tr>
            </tbody>

        </table>


        <form ng-submit="addUser()">
            <div class="form-group">
                <input id="username" type="text" placeholder="user" ng-model="user.username" class="form-control-custom"/>
            </div>
            <div class="form-group">
                <input id="password" type="password" placeholder="password" ng-model="user.password" class="form-control-custom"/>
            </div>
            <input type="submit" class="btn btn-success-outline" value="Add"/>
        </form>
    </fieldset>
</div>


