<ul class="nav nav-tabs">
    
    <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Ombi']">Ombi</a></li>

    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cogs" aria-hidden="true"></i> Configuration <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Customization']">Customization</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/LandingPage']">Landing Page</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Issues']">Issues</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/UserManagement']">User Importer</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Authentication']">Authentication</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Vote']">Vote</a></li>
        </ul>
    </li>

    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-server" aria-hidden="true"></i> Media Server <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Plex']">Plex</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Emby']">Emby</a></li>
        </ul>
    </li>

    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-television" aria-hidden="true"></i> TV <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Sonarr']">Sonarr</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/DogNzb']">DogNzb</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/SickRage']">SickRage</a></li>
        </ul>
    </li>

    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-film" aria-hidden="true"></i> Movies <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/CouchPotato']">CouchPotato</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/DogNzb']">DogNzb</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Radarr']">Radarr</a></li>
            <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Watcher']">Watcher</a></li>-->
        </ul>
    </li>

    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-music" aria-hidden="true"></i> Music <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Lidarr']">Lidarr</a></li>
        </ul>
    </li>


    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o" aria-hidden="true"></i> Notifications <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Mobile']">Mobile</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Email']">Email</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/MassEmail']">Mass Email</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Newsletter']">Newsletter</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Discord']">Discord</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Slack']">Slack</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Pushbullet']">Pushbullet</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Pushover']">Pushover</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Mattermost']">Mattermost</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Telegram']">Telegram</a></li>
        </ul>
    </li>


    <li class="dropdown" [routerLinkActive]="['active']">
        <a href="ignore($event)" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-tachometer" aria-hidden="true"></i> System <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/About']">About</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/FailedRequests']">Failed Requests</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Update']">Update</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Jobs']">Jobs</a></li>
            <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Logs']">Logs (Not available)</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/Settings/ScheduledJobs']">Scheduled Jobs (Not available)</a></li> -->
        </ul>
    </li>

</ul>

<hr/>
