@using Ombi.UI.Helpers
@Html.Partial("Shared/Partial/_Sidebar")

<div class="col-sm-8 col-sm-push-1">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>Pushbullet Notifications</legend>

            <div class="form-group">
                <div class="checkbox">
                    
                        @if (Model.Enabled)
                        {
                            <input type="checkbox" id="Enabled" name="Enabled" checked="checked"><label for="Enabled">Enabled</label>
                        }
                        else
                        {
                            <input type="checkbox" id="Enabled" name="Enabled"><label for="Enabled">Enabled</label>
                        }
          
                </div>
            </div>
            
            <div class="form-group">
                <label for="AccessToken" class="control-label">Access Token</label>
                <small class="control-label">You can get this by navigating to <a href="https://www.pushbullet.com/#settings">Pushbullet</a></small>
                <div class="">
                    <input type="text" class="form-control form-control-custom " id="AccessToken" name="AccessToken"  value="@Model.AccessToken">
                </div>
            </div>

            <div class="form-group">
                <label for="DeviceIdentifier" class="control-label">Device Identifier</label>
                <small class="control-label">This is optional, if left blank we will send a Push notification to all devices.</small>
                <div class="">
                    <input type="text" class="form-control form-control-custom " id="DeviceIdentifier" name="DeviceIdentifier" value="@Model.DeviceIdentifier">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button id="testPushbullet" type="submit" class="btn btn-primary-outline">Test <div id="spinner"></div></button>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button id="save" type="submit" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    $(function () {
        var base = '@Html.GetBaseUrl()';
        $('#save').click(function (e) {

            $('#spinner').attr("class", "fa fa-spinner fa-spin");
            e.preventDefault();

            var $form = $("#mainForm");
            $.ajax({
                type: $form.prop("method"),
                data: $form.serialize(),
                url: $form.prop("action"),
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify(response.message, "success");
        				$('#spinner').attr("class", "fa fa-check");
                    } else {
                        generateNotify(response.message, "warning");
        				$('#spinner').attr("class", "fa fa-times");
                    }
                },
                error: function (e) {
                    console.log(e);
        				$('#spinner').attr("class", "fa fa-times");
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });

        $('#testPushbullet').click(function (e) {
            e.preventDefault();

            var url = createBaseUrl(base, '/admin/testpushbulletnotification');
            var $form = $("#mainForm");
            $.ajax({
                type: $form.prop("method"),
                data: $form.serialize(),
                url: url,
                dataType: "json",
                success: function (response) {
                    if (response.result === true) {
                        generateNotify(response.message, "success");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });
    });
</script>