<p-growl [value]="notificationService.messages" ></p-growl>

<nav *ngIf="showNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div *ngIf="customizationSettings">
                <div *ngIf="customizationSettings.applicationName; then aplicationNameBlock; else ombiBlock"></div>
                <ng-template #aplicationNameBlock><a class="navbar-brand" [routerLink]="['/']">{{customizationSettings.applicationName}}</a></ng-template>
                <ng-template #ombiBlock><a class="navbar-brand" [routerLink]="['/']">Ombi</a></ng-template>
            </div>
            
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a  [routerLink]="['/search']"><i class="fa fa-search"></i> Search</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/requests']"><i class="fa fa-plus"></i> Requests</a></li>
            </ul>
            <ul *ngIf="isAdmin || isPowerUser" class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a  [routerLink]="['/usermanagement']"><i class="fa fa-user"></i> User Management</a></li>
            </ul>

            
            <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="isAdmin" [routerLinkActive]="['active']"><a [routerLink]="['/Settings/Ombi']"><i class="fa fa-cog"></i> Settings</a></li>
                <li  [routerLinkActive]="['active']" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Welcome {{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/user/changepassword']"><i class="fa fa-key"></i> Change Password</a></li>
                        <li [routerLinkActive]="['active']"><a (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
</div>
    </div>
</nav>


<div class="container" style="padding-top: 5%">
    <router-outlet></router-outlet>
</div>


