@import "~styles/variables.scss";

.small-middle-container{
	margin: auto;
	width: 85%;
}

//Kinda restyled the entire calendar
::ng-deep .dark .fc th {
	background-color:#545454 !important;
    color: #FFF;
    border: 1px solid #303030;
}

::ng-deep .dark .fc td.ui-widget-content{
	background-color:#424242 !important;
    color: #FFF;
    border: 1px solid #303030;
}

::ng-deep .dark .fc td.fc-head-container {
    border: 1px solid #303030;
}

::ng-deep .dark fc-day-grid-event fc-h-event fc-event fc-start fc-end{
    background:$accent-dark !important;
}

::ng-deep .ui-button {
	margin-top:10px !important;
	text-transform: uppercase;
	text-decoration: none;
	padding: 8px;
	border: 1px solid rgb(221, 221, 221) !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	background-color: $accent !important;
	}

::ng-deep .dark .ui-button {
	background-color: $accent-dark !important;
	border: 1px solid #494949 !important;
	color: #494949 !important;
}
	
::ng-deep .dark .ui-button:enabled:hover {
	color: #303030 !important;
	background: $accent-dark !important;
	border-color: $accent-dark !important;
	transition: all 0.4s ease 0s;
	}

::ng-deep .input-group-addon{
    margin-left:10px;
}

::ng-deep .fc .fc-event{
	background: $accent !important;
	color:#FFF !important;
	font-size:0.9em;
	font-weight:400;
	border: 0px solid !important;
}

::ng-deep .dark .fc .fc-event{
	background:$accent-dark !important;
	color:#303030 !important;
	font-size:0.9em;
	font-weight:400;
}

::ng-deep .fc-header-toolbar{
	display:block;
}

::ng-deep .fc-left{
	float:left;
}

::ng-deep .fc-right{
	float:right;
}

::ng-deep .fc-center{
	margin-left:44%;
	padding-top: 10px;
}