<div class="example-table-container mat-elevation-z8 ">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <table mat-table [dataSource]="dataSource" class="table" matSort matSortActive="requestedDate"
    matSortDisableClear matSortDirection="desc">


    <ng-container matColumnDef="requestedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Requested By </th>
      <td mat-cell *matCellDef="let element"> {{element.requestedUser?.userAlias}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} ({{element.releaseDate | amLocal | amDateFormat:
        'YYYY'}}) </td>
    </ng-container>

    <ng-container matColumnDef="requestedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Request Date </th>
      <td mat-cell *matCellDef="let element"> {{element.requestedDate | amLocal | amDateFormat: 'LL'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>


    <ng-container matColumnDef="requestStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Request Status </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.approved && !element.available">{{'Common.ProcessingRequest' | translate}}</div>
        <div *ngIf="element.requested && !element.approved && !element.available">{{'Common.PendingApproval' |
          translate}}
        </div>
        <div *ngIf="!element.requested && !element.available && !element.approved">{{'Common.NotRequested' |
          translate}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
