@import "~styles/variables.scss";

.dark .mat-header-cell {
	background: $accent-dark !important;
	font-size: 1em;
	font-weight: bold;
	color: #303030;
}

.mat-form-field {
	float:right;
}

/*::ng-deep .dark .mat-form-field-label{
	font-size: 1.2em;
}*/

::ng-deep .mat-form-field-infix {
	width: 10em;
	margin-top:1em;
}

::ng-deep .dark .mat-tab-label-active{
	background: $accent-dark !important;
	color: #303030 !important;
	font-weight:bold;
}

::ng-deep .mat-tab-label{
	opacity: 1;
}