<div *ngIf="form && customizationSettings">
        <div class="bg" [style.background-image]="background"></div>
    <div class="container" id="login">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <div *ngIf="!customizationSettings.logo"><img id="profile-img" class="profile-img-card" src="{{baseUrl}}/images/logo.png" /></div>
            <div *ngIf="customizationSettings.logo"><img id="profile-img" class="center" [src]="customizationSettings.logo" /></div>
            <p id="profile-name" class="profile-name-card"></p>


            <div *ngIf="form.value.password !== form.value.confirmPassword" class="alert alert-danger">The passwords do not match</div>
            <div *ngIf="form.invalid && form.dirty" class="alert alert-danger">

                <div *ngIf="form.get('password').hasError('required')">The Password is required</div>
                <div *ngIf="form.get('email').hasError('required')">The Email is required</div>
                <div *ngIf="form.get('confirmPassword').hasError('required')">The Confirm Password is required</div>
            </div>

            <form class="form-signin" novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email Address" autofocus>
                <input type="password" class="form-control" formControlName="password" placeholder="New Password">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password">
                <button class="btn btn-success-outline" [disabled]="form.invalid" type="submit">Reset Password</button>

            </form>
        </div>
        <!-- /card-container -->
    </div>
    <!-- /container -->
</div>