
.grow-social {
    transition: all .2s ease-in-out;
}
.grow-social:hover {
    transform: scale(1.1);
    color: black;
}

.media-icons.plex {
    color: #feb801 !important;
}

.media-icons.emby {
    color: #52b54a !important;
}