<div *ngIf="artist">
    <div>
        <strong>{{ 'MediaDetails.Music.Type' | translate }}</strong>
        <div>{{artist.type}}</div>
    </div>
    <div>
        <strong>{{ 'MediaDetails.Music.Country' | translate }}</strong>
        <div>{{artist.country}}</div>
    </div>
    <div>
        <strong>{{ 'MediaDetails.Music.StartDate' | translate }}</strong>
        <div>{{artist.startYear}}</div>
    </div>
    <div *ngIf="artist.endYear">
        <strong>{{ 'MediaDetails.Music.EndDate' | translate }}</strong>
        <div>{{artist.endYear}}</div>
    </div>
</div>