<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <targets async="true">
    
    <target name="filelog" xsi:type="File" fileName="logs/${shortdate}.log"
    layout="${date} ${logger} ${level}: ${message}" />


  <target name="Database" xsi:type="Database"
         dbProvider="Mono.Data.Sqlite.SqliteConnection, Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" keepConnection="false"
         connectionString="Data Source=PlexRequests.sqlite, version=3"
         commandText="INSERT into Logs(Date, Level, Logger, Callsite, Message, Exception) 
          values(@Date, @Loglevel, @Logger, @Callsite, @Message, @Exception)">
    <parameter name="@Date" layout="${longdate}"/>
    <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
    <parameter name="@Logger" layout="${logger}"/>
    <parameter name="@Callsite" layout="${callsite:filename=true}"/>
    <parameter name="@Message" layout="${message}"/>
    <parameter name="@Exception" layout="${exception:format=tostring}"/>
  </target>
    
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="filelog" />
    <logger name="*" minlevel="Trace" writeTo="Database" />
  </rules>
</nlog>