<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net452" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net452" />
  <package id="Dapper" version="1.42" targetFramework="net46" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net46" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net46" />
  <package id="Nancy" version="1.4.3" targetFramework="net452" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Validation.FluentValidation" version="1.4.1" targetFramework="net46" />
  <package id="Nancy.Viewengines.Razor" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
  <package id="NLog" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" requireReinstallation="True" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net46" requireReinstallation="True" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.0.0" targetFramework="net452" />
  <package id="TMDbLib" version="0.9.0.0-alpha" targetFramework="net452" />
</packages>