<div *ngIf="landingPageSettings && customizationSettings">
    
    <div *ngIf="customizationSettings.logo" class="landing-logo">
        <img [src]="customizationSettings.logo" />
    </div>

    <h1>Hey! Welcome back to {{customizationSettings.applicationName}}</h1>

    <h3 *ngIf="landingPageSettings.noticeEnabled" [innerHtml]="landingPageSettings.noticeText" style="background-color: {{landingPageSettings.noticeBackgroundColor}}"></h3>
    <div class="col-md-3 landing-box">
        <div>
            Request Something
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1 landing-box">
        <div>
            View all your requests
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1 landing-box">
        <div>
            Report an issue
        </div>
    </div>



</div>
