<div *ngIf="movie">
    <span *ngIf="movie.voteAverage"
        matTooltip="{{'MediaDetails.Votes' | translate }}  {{movie.voteCount | thousandShort: 1}}">
        <img class="rating-small" src="{{baseUrl}}/images/tmdb-logo.svg"> {{movie.voteAverage | number:'1.0-1'}}/10
    </span>
    <span *ngIf="ratings?.critics_rating && ratings?.critics_score">
        <img class="rating-small"
            src="{{baseUrl}}/images/{{ratings.critics_rating === 'Rotten' ? 'rotten-rotten.svg' : 'rotten-fresh.svg'}}">
        {{ratings.critics_score}}%
    </span>
    <span *ngIf="ratings?.audience_rating && ratings?.audience_score">
        <img class="rating-small"
            src="{{baseUrl}}/images/{{ratings.audience_rating === 'Upright' ? 'rotten-audience-fresh.svg' : 'rotten-audience-rotten.svg'}}">
        {{ratings.audience_score}}%
    </span>
    <div *ngIf="streams?.length > 0">
        <hr>
        <strong>{{'MediaDetails.StreamingOn' | translate }}:</strong>
        <div>
        <span *ngFor="let stream of streams">
            <img class="stream-small" [matTooltip]="stream.streamingProvider" src="https://image.tmdb.org/t/p/original{{stream.logo}}">
        </span>
        </div>
    </div>
    <hr>
    <div>
        <strong>{{'MediaDetails.Status' | translate }}:</strong>
        {{movie.status}}
    </div>
    <div>
        <strong>{{'MediaDetails.Availability' | translate }}:</strong>
        <span *ngIf="movie.available"> {{'Common.Available' | translate}}</span>
        <span *ngIf="!movie.available"> {{'Common.NotAvailable' | translate}}</span>

    </div>

    <div *ngIf="!movie.available">
        <strong>{{'MediaDetails.RequestStatus' | translate }}</strong>
        <div *ngIf="movie.approved && !movie.available">{{'Common.ProcessingRequest' | translate}}</div>
        <div *ngIf="movie.requested && !movie.approved && !movie.available">{{'Common.PendingApproval' | translate}}
        </div>
        <div *ngIf="!movie.requested && !movie.available && !movie.approved">{{'Common.NotRequested' | translate}}
        </div>
    </div>

    <div *ngIf="request">
        <strong>{{'Requests.RequestedBy' | translate }}:</strong>
        {{request.requestedUser.userAlias}}
    </div>

    <div *ngIf="request">
        <strong>{{'Requests.RequestDate' | translate }}:</strong>
        {{request.requestedDate | date}}
    </div>


    <div *ngIf="movie.quality">
        <strong>{{'MediaDetails.Quality' | translate }}:</strong>
        <div>{{movie.quality | quality}}</div>
    </div>

    <div *ngIf="advancedOptions && request && request.rootPathOverrideTitle">
        <strong>{{'MediaDetails.RootFolderOverride' | translate }}</strong>
        <div>{{request.rootPathOverrideTitle}}</div>
    </div>
    <div *ngIf="advancedOptions && request && request.qualityOverrideTitle">
        <strong>{{'MediaDetails.QualityOverride' | translate }}</strong>
        <div>{{request.qualityOverrideTitle}}</div>
    </div>



    <hr>

    <strong>{{'MediaDetails.TheatricalRelease' | translate }}:</strong>
    {{movie.releaseDate | date: 'mediumDate'}}

    <div *ngIf="movie.digitalReleaseDate">
        <strong>{{'MediaDetails.DigitalRelease' | translate }}:</strong>
        {{movie.digitalReleaseDate | date: 'mediumDate'}}
    </div>

    <div *ngIf="movie.voteCount">
        <strong>{{'MediaDetails.Votes' | translate }}:</strong>
        {{movie.voteCount | thousandShort: 1}}
    </div>
    <div>
        <strong>{{'MediaDetails.Runtime' | translate }}:</strong>
        {{'MediaDetails.Minutes' | translate:{runtime: movie.runtime} }}
    </div>
    <div *ngIf="movie.revenue">
        <strong>{{'MediaDetails.Revenue' | translate }}:</strong>
        {{movie.revenue | currency: 'USD'}}
    </div>
    <div *ngIf="movie.budget">
        <strong>{{'MediaDetails.Budget' | translate }}:</strong>
        {{movie.budget | currency: 'USD'}}
    </div>

    <hr />
    <div class="genre-button-container" *ngIf="movie.genres">
        <strong>{{'MediaDetails.Genres' | translate }}:</strong>
        <div>
            <mat-chip-list>
                <mat-chip selected *ngFor="let genre of movie.genres">
                    {{genre.name}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <hr />
    <div class="keyword-button-container" *ngIf="movie?.keywords?.keywordsValue?.length > 0">
        <strong>{{'MediaDetails.Keywords' | translate }}:</strong>
        <mat-chip-list>
            <mat-chip selected *ngFor="let keyword of movie.keywords.keywordsValue">
                {{keyword.name}}
            </mat-chip>
        </mat-chip-list>
    </div>