<div class="spinner-container">
<mat-spinner *ngIf="loading" [color]="'accent'"></mat-spinner>
</div>
<div *ngIf="!loading" mat-dialog-content class="background">
    <div class="row">
        <div class="col-4">
            <img id="cardImage" src="{{data.posterPath}}" class="poster" alt="{{data.title}}">
        </div>
        <div class="col-8">

            <div class="row">
                <div class="col-12">
                    <h3><strong>{{data.title}}</strong></h3>
                </div>

            </div>
            <div class="row top-spacing details">
                <div class="col-6">
                    <strong>Availability: </strong>      <small>                 <ng-template [ngIf]="data.available"><span class="label label-success" id="availableLabel"
                        [translate]="'Common.Available'"></span></ng-template>
                        <ng-template [ngIf]="!data.available"><span class="label label-success" id="availableLabel"
                            [translate]="'Common.NotAvailable'"></span></ng-template></small>
                </div>
                <div class="col-6">
                    <strong *ngIf="movie">Studio: </strong> 
                    <small *ngIf="movie">{{movie.productionCompanies[0].name}}</small>
                    <strong *ngIf="tv">Network: </strong> 
                    <small *ngIf="tv">{{tv.network.name}}</small>
                </div>
                <div class="col-6" *ngIf="!data.available">
                    <strong>Request Status: </strong> <small>
                    <ng-template [ngIf]="data.approved && !data.available"><span class="label label-info"
                            id="processingRequestLabel" [translate]="'Common.ProcessingRequest'"></span></ng-template>
                    <ng-template [ngIf]="data.requested && !data.approved && !data.available"><span class="label label-warning"
                            id="pendingApprovalLabel" [translate]="'Common.PendingApproval'"></span></ng-template>
                    <ng-template [ngIf]="!data.requested && !data.available && !data.approved"><span
                            class="label label-danger" id="notRequestedLabel" [translate]="'Common.NotRequested'"></span></ng-template>
                        </small>
                </div>
                <div class="col-6">
                    <strong *ngIf="movie">Director: </strong> 
                    <small *ngIf="movie">{{movie.credits.crew[0].name}}</small>
                    <strong *ngIf="tvCreator">Director: </strong> 
                    <small *ngIf="tvCreator">{{tvCreator}}</small>
                </div>
                <div class="col-6">
                    <strong *ngIf="movie">In Cinemas: </strong> 
                    <small *ngIf="movie">{{movie.releaseDate | amLocal | amDateFormat: 'LL'}}</small>
                    <strong *ngIf="tv">First Aired: </strong> 
                    <small *ngIf="tv">{{tv.firstAired | amLocal | amDateFormat: 'LL'}}</small>
                </div>
                <div class="col-6">
                    <strong *ngIf="movie">Writer: </strong> 
                    <small *ngIf="movie">{{movie.credits.crew[1].name}}</small>
                    <strong *ngIf="tv">Exec Producer: </strong> 
                    <small *ngIf="tv">{{tvProducer}}</small>
                </div>
            </div>

            <div class="row top-spacing">
                <div class="col-12">
                    {{data.overview}}
                </div>
            </div>


        </div>

    </div>
</div>
<div mat-dialog-actions>
    <div class="action-buttons-right">
            <div class="col-md-12">
        <button mat-raised-button (click)="onNoClick()" class="request-btn">
            <mat-icon>add</mat-icon>
            Request
        </button>
    </div>
</div>

</div>