@use "./styles/shared.scss" as *;
.small-middle-container {
    margin: auto;
    width: 95%;
    margin-top: 10px;
}

.description {
    color: #aaa;
    margin-bottom: 1.5rem;
}

mat-form-field {
    max-width: 300px;
    margin-bottom: 0.5rem;
}
