<settings-menu></settings-menu>
    <fieldset *ngIf="settings">
        <legend>Customization</legend>

        <div class="form-group">
            <label for="applicationName" class="control-label">Application Name</label>
            <div>
                <input type="text" [(ngModel)]="settings.applicationName" class="form-control form-control-custom " id="applicationName" name="applicationName" placeholder="Ombi" value="{{settings.applicationName}}">
            </div>
        </div>
        
        <div class="form-group">
            <label for="logo" class="control-label">Custom Logo</label>
            <div>
                <input type="text" [(ngModel)]="settings.logo" class="form-control form-control-custom " id="logo" name="logo" value="{{settings.logo}}">
            </div>
        </div>
        <small>This will be used on all of the notifications e.g. Newsletter, email notification and also the Landing page</small>
        

        <div class="form-group">
            <label for="logo" class="control-label">Logo Preview:</label>
            <div>
                <img *ngIf="settings.logo" [src]="settings.logo" style="width: 300px"/>
            </div>
        </div>


        <div class="form-group">
            <div>
                <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>
    </fieldset>