<settings-menu></settings-menu>
<wiki [url]="'https://github.com/tidusjar/Ombi/wiki/Customization-Settings'"></wiki>

<fieldset *ngIf="settings">
    <legend>Customization</legend>
    <div class="col-md-6">
        <div class="form-group">
            <label for="applicationName" class="control-label">Application Name</label>
            <div>
                <input type="text" [(ngModel)]="settings.applicationName" class="form-control form-control-custom " id="applicationName" name="applicationName" placeholder="Ombi" value="{{settings.applicationName}}">
            </div>
        </div>

        <div class="form-group">
            <label for="applicationurl" class="control-label">Application URL</label>
            <div>
                <input type="text" [(ngModel)]="settings.applicationurl" class="form-control form-control-custom " id="applicationurl" name="applicationurl" placeholder="http://ombi.io/" value="{{settings.applicationurl}}">
            </div>
        </div>

        <div class="form-group">
            <label for="logo" class="control-label">Custom Logo</label>
            <div>
                <input type="text" [(ngModel)]="settings.logo" class="form-control form-control-custom " id="logo" name="logo" value="{{settings.logo}}" tooltipPosition="top" pTooltip="Use a URL e.g. www.google.com/logo.png">
            </div>
        </div>



        <div class="form-group">
            <div>
                <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div *ngIf="settings.logo"  class="form-group">
            <label for="logo" class="control-label">Logo Preview:</label>
            <div>
                <img [src]="settings.logo" style="width: 300px" />
            </div>
        </div>

    </div>
</fieldset>