<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.0-beta8" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.3.6" targetFramework="net45" />
  <package id="Polly-Signed" version="4.3.0" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net45" />
  <package id="TMDbLib" version="0.9.0.0-alpha" targetFramework="net45" />
  <package id="TraktApiSharp" version="0.8.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
</packages>