<div>
    <h1>Search</h1>
    <h4>Want to watch something that is not currently on Plex?! No problem! Just search for it below and request it!</h4>
    <br />
    <!-- Nav tabs -->
    <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
        @if (Model.SearchForMovies)
        {
            <li role="presentation" class="active"><a href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab">Movies</a></li>
        }
        @if (Model.SearchForTvShows)
        {
            <li role="presentation"><a href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab">TV Shows</a></li>
        }

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        @if (Model.SearchForMovies)
        {
            <!-- Movie tab -->
            <div role="tabpanel" class="tab-pane active" id="MoviesTab">
                <div class="input-group">
                    <input id="movieSearchContent" type="text" class="form-control form-control-custom">
                    <div class="input-group-addon">
                        <i id="movieSearchButton" class="fa fa-search"></i>
                    </div>
                </div>
                <br />
                <br />
                <!-- Movie content -->
                <div id="movieList">
                </div>
            </div>
        }


        @if (Model.SearchForTvShows)
        {
    <!-- TV tab -->
            <div role="tabpanel" class="tab-pane" id="TvShowTab">
                <div class="input-group">
                    <input id="tvSearchContent" type="text" class="form-control form-control-custom">
                    <div class="input-group-addon">
                        <i id="tvSearchButton" class="fa fa-search"></i>
                    </div>
                </div>
                <br />
                <br />
                <!-- TV content -->
                <div id="tvList">
                </div>
            </div>
        }
    </div>


</div>

<script id="search-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-sm-2">

            {{#if_eq type "movie"}}
            {{#if posterPath}}
            <img class="img-responsive" src="http://image.tmdb.org/t/p/w150/{{posterPath}}" alt="poster">
            {{/if}}
            {{/if_eq}}
            {{#if_eq type "tv"}}
            {{#if posterPath}}
            <img class="img-responsive" width="150" src="{{posterPath}}" alt="poster">
            {{/if}}
            {{/if_eq}}

        </div>
        <div class="col-sm-5 ">
            <div>
                {{#if_eq type "movie"}}
                <a href="https://www.themoviedb.org/movie/{{id}}/" target="_blank">
                    <h4>{{title}} ({{year}})</h4>
                </a>
                {{else}}
                <a href="http://www.imdb.com/title/{{imdb}}/" target="_blank">
                    <h4>{{title}} ({{year}})</h4>
                </a>
                {{/if_eq}}
            </div>
            <p>{{overview}}</p>
        </div>
        <div class="col-sm-2 col-sm-push-3">
            <form method="POST" action="/search/request/{{type}}" id="form{{id}}">
                <input name="{{type}}Id" type="text" value="{{id}}" hidden="hidden" />                
                {{#if_eq type "movie"}}
                <button id="{{id}}" style="text-align: right" class="btn btn-primary-outline requestMovie" type="submit"><i class="fa fa-plus"></i> Request</button>
                {{/if_eq}}
                {{#if_eq type "tv"}}
                <div class="dropdown">
                    <button id="{{id}}" class="btn btn-primary-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i> Request
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a id="{{id}}" season-select="0" class="dropdownTv " href="#">All Seasons</a></li>
                        <li><a id="{{id}}" season-select="1" class="dropdownTv" href="#">First Season</a></li> 
                        <li><a id="{{id}}" season-select="2" class="dropdownTv" href="#">Latest Season</a></li>
                    </ul>
                </div>
                {{/if_eq}}
                <br />
                <br />
                <br />
                {{#if voteAverage}}

                <small class="row">Vote Average: {{voteAverage}}</small>
                <small class="row">Vote Count: {{voteCount}}</small>
                {{/if}}
            </form>
        </div>

    </div>
    <hr />
</script>


<script src="/Content/search.js" type="text/javascript"></script>
