<settings-menu>
</settings-menu>
<div>
<wiki [path]="'/settings/dognzb/'"></wiki>
<div *ngIf="form" class="small-middle-container">
    <fieldset>
        <legend>DogNzb Settings</legend>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)" style="padding-top:2%;">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12">
                        <div class="md-form-field">
                            <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 col-sm-12">
                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>DogNzb API Key</mat-label>
                            <input matInput id="apiKey" name="apiKey" placeholder="API Key" formControlName="apiKey">
                            <mat-error>The API Key is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="md-form-field">
                        <mat-slide-toggle id="movies" formControlName="movies">Movies</mat-slide-toggle>
                    </div>
                    <div class="md-form-field">
                        <mat-slide-toggle id="tvShows" formControlName="tvShows">TV Shows</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 col-sm-12">
                    <div class="md-form-field">
                        <div>
                            <br />
                            <button mat-raised-button type="submit" [disabled]="form.invalid" class="mat-stroked-button accent mat-accent" placeholder="API key">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
</div>