<settings-menu>
</settings-menu>
<div class="small-middle-container">
<wiki [url]="'https://github.com/tidusjar/Ombi/wiki/DogNzb-Settings'"></wiki>
<div *ngIf="form">
    <fieldset>
        <legend>DogNzb Settings</legend>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)" style="padding-top:2%;">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="enable" formControlName="enabled" ng-checked="form.enabled">
                        <label for="enable">Enable</label>
                    </div>
                </div>


               
                <div class="form-group">
                    <label for="ApiKey" class="control-label">API Key</label>
                 
                        <input type="text" class="form-control form-control-custom" [ngClass]="{'form-error': form.get('apiKey').hasError('required')}" id="ApiKey" name="ApiKey" formControlName="apiKey">

                        <small *ngIf="form.get('apiKey').hasError('required')" class="error-text">The API Key is required</small>
                </div>
                



                <div class="form-group">
                    <div>
                        <button type="submit" [disabled]="form.invalid" class="btn btn-primary-outline ">Submit</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="movies" formControlName="movies" ng-checked="form.movies">
                        <label for="movies">Enable for Movies</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="tvShows" formControlName="tvShows" ng-checked="form.tvShows">
                        <label for="tvShows">Enable for Tv Shows</label>
                    </div>
                </div>

            </div>
        </form>
    </fieldset>
</div>
</div>