<div class="options-sheet">
  <div class="options-header">
    <span class="options-title">{{'Requests.Options' | translate}}</span>
  </div>
  <mat-action-list class="options-list">
    <button id="requestApprove" *ngIf="data.canApprove && data.isAdmin && data.hasRegularRequest" (click)="approve()" mat-list-item class="option-item">
      <i class="fas fa-check option-icon approve"></i>
      <span mat-line>{{'Requests.RequestPanel.Approve' | translate}}</span>
    </button>
    <button id="requestDeny" *ngIf="data.canApprove && data.isAdmin && data.hasRegularRequest" (click)="deny()" mat-list-item class="option-item">
      <i class="fas fa-ban option-icon deny"></i>
      <span mat-line>{{'Requests.RequestPanel.Deny' | translate}}</span>
    </button>
    <button id="requestApprove4k" *ngIf="data.canApprove && data.isAdmin && (data.has4kRequest ?? false)" (click)="approve4K()" mat-list-item class="option-item">
      <i class="fas fa-check-double option-icon approve"></i>
      <span mat-line>{{'Requests.RequestPanel.Approve4K' | translate}}</span>
    </button>
    <button id="requestDeny4k" *ngIf="data.canApprove && data.isAdmin && (data.has4kRequest ?? false)" (click)="deny4K()" mat-list-item class="option-item">
      <i class="fas fa-times-circle option-icon deny"></i>
      <span mat-line>{{'Requests.RequestPanel.Deny4K' | translate}}</span>
    </button>
    <button id="requestChangeAvailability" *ngIf="data.type !== RequestType.tvShow && data.isAdmin" (click)="changeAvailability()" mat-list-item class="option-item">
      <i class="fas fa-exchange-alt option-icon availability"></i>
      <span mat-line>{{'Requests.RequestPanel.ChangeAvailability' | translate}}</span>
    </button>
    <button id="requestDelete" *ngIf="data.isAdmin || data.manageOwnRequests" (click)="delete()" mat-list-item class="option-item delete">
      <i class="fas fa-trash option-icon"></i>
      <span mat-line>{{'Requests.RequestPanel.Delete' | translate}}</span>
    </button>
  </mat-action-list>
</div>
