<mat-nav-list>
  <a id="requestDelete" *ngIf="data.isAdmin || data.manageOwnRequests" (click)="delete()" mat-list-item>
    <span mat-line>{{'Requests.RequestPanel.Delete' | translate}}</span>
  </a>
  <a id="requestApprove" *ngIf="data.canApprove && data.isAdmin" (click)="approve()" mat-list-item>
    <span mat-line>{{'Requests.RequestPanel.Approve' | translate}}</span>
  </a>
  <a id="requestChangeAvailability" *ngIf="data.type !== RequestType.tvShow && data.isAdmin" (click)="changeAvailability()" mat-list-item>
    <span mat-line>{{'Requests.RequestPanel.ChangeAvailability' | translate}}</span>
  </a>
</mat-nav-list>