::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    background-color: rgba(255,255,255,.15);
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

pre::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.2);
}

pre::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.15);
}
