$primary-colour: #df691a;
$primary-colour-outline: #ff761b;
$bg-colour: #333333;
$bg-colour-disabled: #252424;

#customInputSwitch > div > .ui-inputswitch-off {
    border: 1px solid $bg-colour !important;
    background: $bg-colour-disabled !important;
    color: white;
}

#customInputSwitch > div > .ui-inputswitch-on {
    border: 1px solid $primary-colour-outline !important;
    background: $primary-colour !important;
    color: white;
}

#dialogOverride > div > .ui-dialog-content {
    border: 1px solid $bg-colour-disabled !important;
    background: $bg-colour !important;
    color: white;
}
/*#dialogOverride > div > .ui-dialog-titlebar {
    background: $primary-colour !important;
    color: white;
}*/

.label {
    margin: 3px;
}

@media (max-width: 924px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}