@Model string;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>RequestPlex.UI</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/nancy-logo.png" alt="Nancy logo" /><br />
This view was rendered using the Nancy Razor view engine
    @if (1 == 1)
    {
        <div>@Model</div>
    }
</body>
</html>
