 <h1 id="searchTitle">Search</h1>
<h4>Search Para</h4>
<br />
<!-- Nav tabs -->


<ul id="nav-tabs" class="nav nav-tabs" role="tablist">
   
    <li role="presentation" class="active">
        <a id="movieTabButton" href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-film"></i> Movies</a>

    </li>
   
    <li role="presentation">
        <a id="actorTabButton" href="#ActorsTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Actors</a>

    </li>
   
    <li role="presentation">
        <a id="tvTabButton" href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-television"></i> TV Shows</a>

    </li>
   
    <li role="presentation">
        <a href="#MusicTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-music"></i> Albums</a>
    </li>
   
</ul>