
<img class="landing-header" src="{{baseUrl}}/images/logo.png" width="300" />
<div id="area" class="landing-block shadow">

    <div class="media">
        <div id="contentBody" class="media-body">
            <h4 class="media-heading landing-title" id="statusTitle">Welcome to Ombi</h4>
            <div class="form-group">
                <small>we are just going to run though the initial Ombi setup!</small>

                <div style="text-align: center; margin-top: 20px">
                    <a (click)="next()" data-test="nextbtn" class="btn btn-primary-outline">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
