.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .right-spacing {
    margin-right:2%;
  }