<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
      <mat-toolbar color="primary">Ombi</mat-toolbar>
      <mat-nav-list>
          <a mat-list-item routerLink="/">Home</a>
          <a mat-list-item routerLink="/search">Search</a>
          <a mat-list-item routerLink="/settings">Settings</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
              <mat-icon aria-label="Side nav toggle icon"></mat-icon>
          </button>


          <span class="example-fill-remaining-space"></span>

      </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>