<h1 id="searchTitle">Search</h1>
<h4>Want to watch something that is not currently available?! No problem! Just search for it below and request it!</h4>
<br />
<!-- Nav tabs -->


<ul id="nav-tabs" class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
        <a id="movieTabButton" href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-film"></i> Movies</a>

    </li>

    <li role="presentation">
        <a id="actorTabButton" href="#ActorsTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Actors</a>

    </li>

    <li role="presentation">
        <a id="tvTabButton" href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-television"></i> TV Shows</a>

    </li>
    <!--
     <li role="presentation">
         <a href="#MusicTab" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-music"></i> Albums</a>
     </li>-->

</ul>

<!-- Tab panes -->
<div class="tab-content">

    <movie-search></movie-search>

    <!-- Actors tab -->
    <div role="tabpanel" class="tab-pane" id="ActorsTab">
        <div class="input-group">
            <input id="actorSearchContent" type="text" class="form-control form-control-custom form-control-search form-control-withbuttons">
            <div class="input-group-addon">
                <i id="actorSearchButton" class="fa fa-search"></i>
            </div>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="actorsSearchNew" name="actorsSearchNew"><label for="actorsSearchNew">@UI.Search_NewOnly</label>
        </div>

        <br />
        <br />
        <!-- Movie content -->
        <div id="actorMovieList">
        </div>
    </div>

    <!-- TV tab -->
    <div role="tabpanel" class="tab-pane" id="TvShowTab">
        <div class="input-group">
            <input id="tvSearchContent" type="text" class="form-control form-control-custom form-control-search form-control-withbuttons">
            <div class="input-group-addon">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        @UI.Search_Suggestions
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="popularShows">Popular Shows</a></li>
                        <li><a id="trendingShows" href="#">Trending Shows</a></li>
                        <li><a id="mostWatchedShows" href="#">Most Watched Shows</a></li>
                        <li><a id="anticipatedShows" href="#">Most Anticipated Shows</a></li>
                    </ul>
                </div><i id="tvSearchButton" class="fa fa-search"></i>
            </div>
        </div>
        <br />
        <br />
        <!-- TV content -->
        <div id="tvList">
        </div>
    </div>
</div>


