<div class="col" style="text-align: -webkit-right;">
    <div *ngIf="!text" class="col-md-4 ml-auto ">
        <a href="{{domain}}{{url}}" target="_blank">
        <button mat-raised-button color="accent">
            <span>Wiki</span>
        </button>
    </a>
    </div>

    <div *ngIf="text" class="col-md-4 ml-auto ">
            <a href="{{domain}}{{url}}" target="_blank">
            <button mat-raised-button color="accent">
                <span>{{text}}</span>
            </button>
            </a>
        </div>
</div>