<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="list-group table-of-contents">
        <a class="list-group-item" href="/admin">Request Plex Settings</a>
        <a class="list-group-item" href="/couchpotato">CouchPotato Settings</a>
        <a class="list-group-item" href="/sonarr">Sonarr Settings</a>
        <a class="list-group-item" href="/sickbeard">Sickbeard Settings</a>
    </div>
</div>