@Html.Partial("/Admin/_Sidebar")
@{
    int port;
    var authToken = string.Empty;
    if (Model.Port == null)
    {
        port = 3579;
    }
    else
    {
        port = Model.Port;
    }

    if (Model.PlexAuthToken == null)
    {
        authToken = string.Empty;
    }
    else
    {
        authToken = Model.PlexAuthToken;
    }
}
<div class="col-sm-8">
    <form class="form-horizontal" method="POST" id="mainForm">
        <fieldset>
            <legend>Request Plex Settings</legend>
            <div class="form-group">
                <label for="portNumber" class="col-lg-2 control-label">Port</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="portNumber" name="Port" placeholder="Port Number" value="@port">
                </div>
            </div>

            <div class="form-group">
                <label for="authToken" class="col-lg-2 control-label">Plex Authorization Token</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="authToken" name="PlexAuthToken" placeholder="Plex Auth Token" value="@authToken">
                </div>
            </div>

            <div class="form-group">
                <label for="userpass" class="col-lg-2 control-label">Username and Password</label>
                <div class="col-lg-4">
                    <input type="text" class="form-control" id="username" name="Username" placeholder="Username">
                </div>
                <div class="col-lg-4 col-lg-push-1">
                    <input type="password" class="form-control" id="password" name="Username" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button id="requestToken" class="btn btn-primary">Request Token</button>
                </div>
            </div>

            <div class="form-group">
                <label for="userAuth" class="col-lg-2 control-label">Enable User Authentication</label>
                <div class="col-lg-4">
                    <input type="checkbox" class="form-control" id="userAuth" name="UserAuthentication">
                </div>
            </div>
            <small>Current users that are allowed to authenticate: </small>
            <select id="users" multiple="" class="form-control">
            </select>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button id="refreshUsers" class="btn btn-primary">Refresh Users</button>
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <div>
                <small class="col-lg-10 col-lg-offset-2">Please note, you will have to restart after changing these settings.</small>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>


@if (Model.Errored)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        Please enter in a correct port number
    </div>
}

<script>
    $(function () {

        loadUserList();

        $('#refreshUsers').click(function() {
            loadUserList();
        });

        $('#requestToken').click(function (e) {
            var $form = $("#mainForm");
            $.ajax({
                type: $form.prop("method"),
                url: "admin/requestauth",
                data: $form.serialize(),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.Result === true) {
                        generateNotify("Success!", "success");
                        $('#authToken').val(response.authToken);
                    } else {
                        generateNotify(response.Message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });



        function loadUserList() {
            $.ajax({
                type: "Get",
                url: "admin/getusers",
                dataType: "json",
                success: function (response) {
                    response.each(function (user) {
                        $('#users').append("<option>" + user + "</option>");
                    });
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });

        }


    });
</script>