<div class="col-sm-8 col-sm-push-1">
    <fieldset>
        <legend>Plex Configuration</legend>

        <div class="form-group">
            <label for="Ip" class="control-label">Hostname or IP</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="Ip" name="Ip" placeholder="localhost"  [(ngModel)]="settings.ip" value="{{settings.ip}}">
            </div>
        </div>
 
        <div class="form-group">
            <label for="portNumber" class="control-label">Port</label>
            <div>
                <input type="text" [(ngModel)]="settings.port" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="{{settings.port}}">
            </div>
            </div>
       
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="ssl" [(ngModel)]="settings.ssl" ng-checked="settings.ssl">
                <label for="ssl">SSL</label>
            </div>
        </div>
        
        <div class="form-group">
            <div class="checkbox">


                <input type="checkbox" id="EnableTvEpisodeSearching" [(ngModel)]="settings.enableEpisodeSearching" ng-checked="settings.enableEpisodeSearching">
                <label for="EnableTvEpisodeSearching">Enable Episode Searching</label>

            </div>
            <small>
                If enabled then we will lookup all episodes on your Plex server and store them in the local database. This will stop episode requests that already exist on Plex (that might not be in Sonarr).
                Please be aware that this is a very resource intensive process and while the Plex Episode Cacher job is running the application may appear slow (Depending on the size of your Plex library).
            </small>
        </div>
        
        
        <div class="form-group">
            <label for="authToken" class="control-label">Plex Authorization Token</label>
            <div class="">
                <input type="text" class="form-control-custom form-control" id="authToken"  [(ngModel)]="settings.plexAuthToken" placeholder="Plex Auth Token" value="{{settings.plexAuthToken}}">
            </div>
        </div>
            
        <div class="form-group">
            <label for="MachineIdentifier" class="control-label">Machine Identifier</label>
            <div class="">
                <input type="text" class="form-control-custom form-control" id="MachineIdentifier" name="MachineIdentifier"  [(ngModel)]="settings.machineIdentifier"  value="{{settings.machineIdentifier}}">
            </div>
        </div>
        
        <div class="form-group">
            <label for="username" class="control-label">Username and Password</label>
            <div>
                <input type="text" class="form-control form-control-custom" id="username" [(ngModel)]="username" placeholder="username">
            </div>
            <br />
            <div>
                <input type="password" class="form-control form-control-custom" id="password"  [(ngModel)]="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <button id="requestToken" (click)="requestToken()" class="btn btn-primary-outline">Request Token <i class="fa fa-key"></i></button>
            </div>
        </div>

        <div class="form-group">
            <div>
                <button id="testPlex" type="submit" (click)="testPlex()" class="btn btn-primary-outline">Test Connectivity <div id="spinner"></div></button>
            </div>
        </div>

      

        <div class="form-group">
            <div>
                <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>
    </fieldset>
</div>