@import "@angular/material/theming";
@import "./styles/variables.scss";
//MINE
@media (max-width: 570px) {
    h1 {
        font-size: 1.5rem;
    }
    .mobile-top-text {
        margin-bottom: 170px;
    }

    #info-wrapper .sidebar-poster {
        margin-top: -126px !important;
    }
}

#summary-wrapper .full-screenshot,
.summary-wrapper .full-screenshot,
#watching-wrapper .full-screenshot,
.hero-wrapper .full-screenshot,
#statics-top-wrapper .full-screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position: 50% 10%;
    opacity: 0;
    transition: all 1s;
}

#summary-wrapper,
.summary-wrapper {
    background-color: #000;
    background-size: cover;
    background-position: 50% 10%;
    transition: all .5s;
    height: 600px;
    color: #fff;
    position: relative;
}

#summary-wrapper .full-screenshot.enabled,
.summary-wrapper .full-screenshot.enabled,
#watching-wrapper .full-screenshot.enabled,
.hero-wrapper .full-screenshot.enabled,
#statics-top-wrapper .full-screenshot.enabled {
    opacity: 1;
}

#summary-wrapper .shadow-base,
.summary-wrapper .shadow-base {
    bottom: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
}

.shadow-base {
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-repeat: repeat-x;
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4D000000', GradientType=0);
}

.available-bottom-border {
    border-bottom: solid 8px #1DE9B6;
}

#summary-wrapper .summary .container,
.summary-wrapper .summary .container {
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
}

.grey-text {
    color: #999;
}

#summary-wrapper .summary .container h1,
.summary-wrapper .summary .container h1 {
    margin: 0;
    text-shadow: 1px 1px 5px #000;
    line-height: 1.2;
}

#info-wrapper {
    min-height: 600px;
}

#info-wrapper .sidebar.affixable.affix-top {
    position: relative !important;
}

#info-wrapper .sidebar-poster {
    margin-top: -280px;
    width: 250px;
}

#info-wrapper .sidebar .poster {
    border: solid 3px #fff;
    position: relative;
    -webkit-box-shadow: 0 0 20px 0 #666;
    box-shadow: 0 0 20px 0 #666;
}

#info-wrapper .sidebar .poster img {
    width: 100%;
}

.full-width {
    width: 100%;
}

#info-wrapper .sidebar .poster .real {
    height: 100%;
    top: 0;
    left: 0;
}

.card-spacer {
    padding-top: 1%;
}

.card-full {
    height: 100%;
}

.imdb-color {
    color: black;
    background-color: #f5de50;
}

.btn-spacing {
    margin-right: 10px;
}

.spacing-below {
    margin-bottom: 15px;
}

.left-seperator {
    margin-left: 40px;
}

.tagline {
    margin-top: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px 5px #000;
}

.preview-poster {
    width: 173px;
}

.media-icons {
    color: #FFF;
    padding: 5px;
}

.media-row {
    position:absolute;
    bottom:0;
    margin-bottom:20px;
}

.cast-profile-img {
    border-radius: 100%;
    width: 170px;
}


.crew-profile-img {
    border-radius: 100%;
    width: 170px;
}


.small-middle-container {
    margin: auto;
    width: 95%;
}

.keywords-panel {
    margin-top: 8%;
}

.medium-font {
    font-size: 16px;
}

.issuesPanel {
    padding-top: 1%;
    padding-bottom: 1%;
}

.no-info {
    text-align: center;
    padding-top: 15%;
}

.content-end {
    text-align: end;
}

.rating-small {
    width: 1.4em;
}
.stream-small {
    width: 3em;
    border-radius: 1em;
    margin-right: 10px;
    margin-top: 5px;
}

.social-icons-container{
    position:absolute;
    top:0px;
    right:0px;
    width:100%;
    background-color:rgba(15,23,31,.6);
}

.social-icons-container-inner{
    text-align:right;
    display:flex;
    justify-content: flex-end;
    padding-right:2.5%
}

.viewon-btn {
    background-color: transparent;
    text-decoration: none;
}

.viewon-btn.plex {
    color: #E5A00D;
    box-shadow: inset 0px 0px 0px 1px #e5a00d;
}
.viewon-btn.emby {
    color: #52b54a;
    box-shadow: inset 0px 0px 0px 1px #52b54a;
}
.viewon-btn.jellyfin {
    color: #00a4dc;
    box-shadow: inset 0px 0px 0px 1px #00a4dc;
}

::ng-deep .p-carousel-indicators {
    display: none !important;
    }


#info-wrapper{
    margin-top:-200px;
}
.full-screenshot.enabled.overlay{
    background-image: linear-gradient(to bottom, transparent, 50%, $ombi-background-primary);
}

.row.justify-content-center.justify-content-sm-start.header-container{
    flex-wrap: nowrap;
}

.details-button-container{
    width:100%;
    position:relative;
}

.info-wrapper .row{
    flex-wrap:wrap;
}

.rating{
    display:flex;
    justify-content: space-evenly;
    width:100%;
    flex-wrap: wrap;
}

.left-panel-details .label{
    font-weight:500;
}

.left-panel-details .streaming-on-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow:row wrap;
}

.left-panel-details .streaming-on-content .label{
    white-space:nowrap;
    padding-right:10px;
}

.left-panel-details{
    font-weight:100;
}

.genre-button-container .mat-chip-list .mat-chip-list-wrapper{
    margin-top:3px;
    margin:0;
    margin-left: -6px;
}

.keyword-button-container .mat-chip-list .mat-chip-list-wrapper{
    margin-top:3px;
    margin:0;
    margin-left: -6px;
}

.mat-card-header{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom:10px;
}

.media-row .mat-raised-button{
    padding:2px 1.5em;
    margin-top:10px;
    margin-left:10px;
}

.main-content-container{
    position:relative;
}

@media (max-width:500px){
    .row.justify-content-center.justify-content-sm-start.header-container{
        flex-wrap:wrap;
    }

    .media-row{
        position:relative;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .media-row .mat-raised-button{
        width:100%;
        margin-left:0px;
    }

    .media-row .btn-spacing{
        margin-right:0;
    }

    .media-row span{
        width:100%;
    }
}

.placeholder {
    height: 100px;
    display: block;
}
