<div class="mat-elevation-z8">

    <grid-spinner [loading]="isLoading"></grid-spinner>

  <mat-form-field>
      <mat-select placeholder="Requests to Display" [(value)]="gridCount" (selectionChange)="ngAfterViewInit()">
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="30">30</mat-option>
        <mat-option value="100">100</mat-option>
      </mat-select>
    </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="table" matSort matSortActive="title"
    matSortDisableClear matSortDirection="desc">


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="requestCount">
      <th mat-header-cell *matHeaderCellDef > Request Count </th>
      <td mat-cell *matCellDef="let element"> {{element.childRequests.length}} </td>
    </ng-container>


    <ng-container matColumnDef="overview">
        <th mat-header-cell *matHeaderCellDef > Overview </th>
        <td mat-cell *matCellDef="let element"> 
           <small>{{element.overview}}</small>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear> Status </th>
          <td mat-cell *matCellDef="let element"> 
             <small>{{element.status}}</small>
          </td>
        </ng-container>

        <ng-container matColumnDef="releaseDate">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear> Release Date </th>
            <td mat-cell *matCellDef="let element"> 
               <small>{{element.releaseDate  | amLocal | amDateFormat: 'LL'}}</small>
            </td>
          </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" [routerLink]="'/details/movie/' + element.theMovieDbId">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="gridCount"></mat-paginator>
</div>
