.login-gradient-bar {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.4) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.poster-desc {
  padding: 0 24px 16px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
