<settings-menu></settings-menu>

<fieldset *ngIf="settings">
    <legend>The Movie Database</legend>
    <div class="col-md-6">
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="showAdultMovies" name="showAdultMovies" [(ngModel)]="settings.showAdultMovies">
                <label for="showAdultMovies" tooltipPosition="top" pTooltip="Include adult movies (pornography) in results">Show Adult Movies</label>
            </div>
        </div>

        <div class="form-group">
            <label for="excludedKeywordIds" class="control-label" pTooltip="Prevent movies with certain keywords from being suggested. May require a restart to take effect.">
                Excluded Keyword IDs for Movie Suggestions
            </label>
            <div>
                <input type="text" [(ngModel)]="settings.excludedKeywordIds" class="form-control form-control-custom " id="excludedKeywordIds"
                       name="excludedKeywordIds" placeholder="155477,190370,250773" value="{{settings.excludedKeywordIds}}">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>
    </div>
</fieldset>