@import "~styles/variables.scss";

.ombi-card {
    padding: 5px;
}
::ng-deep .p-carousel-indicators {
  display: none !important;
  }

    
.image {
    border-radius: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  
  .c {
    position: relative;
  }
  
.c:hover .image {
    opacity: 0.3;
  }
  
  .c:hover .middle {
    opacity: 1;
  }
  
.small-text {
  font-size: 11px;
}
.title {
  font-size: 16px;
}
.top-left {
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 16px;
}


.right {
  text-align: right;
  margin-top:-61px;
}

.discover-filter-buttons-group {
  background: $ombi-background-primary;
  border: 1px solid $ombi-background-primary-accent;
  border-radius: 30px;
  color:#fff;
  margin-bottom:10px;
  margin-right: 30px;

  .discover-filter-button{
    background:inherit;
    color:inherit;
    padding:0 0px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height:40px;
  }

  .button-active{
    background:$ombi-active;
  }


}
::ng-deep .discover-filter-button .mat-button-toggle-button:focus{
  outline:none;
}

.card-skeleton {
   padding: 5px;
}