<settings-menu></settings-menu>
<div class="small-middle-container" *ngIf="settings">
    <fieldset style="width:100%;">
        <legend>Plex Configuration</legend>

        <settings-plex-form-field [label]="'Enable'" [type]="'checkbox'" [id]="'enable'" [(value)]="settings.enable"></settings-plex-form-field>

        <settings-plex-form-field [label]="'Enable User Watchlist Requests'" [type]="'checkbox'" [id]="'enable'" [(value)]="settings.enableWatchlistImport">
            <small bottom>When a Plex User adds something to their watchlist in Plex, it will turn up in Ombi as a Request if enabled. This <b>only</b> applies to users that are logging in with their Plex Account
                <br>Request limits if set are all still applied
            </small>
        </settings-plex-form-field>

        <settings-plex-form-field [label]="'Request All'" disabled [type]="'checkbox'" [id]="'monitorAll'" [(value)]="settings.monitorAll">
            <small bottom>If true then watchlist requests for TV Shows, it will request the <strong><em>whole</em></strong> season. Otherwise it will only request the latest season.
            </small>
        </settings-plex-form-field>


        <settings-plex-form-field [label]="'Advanced Options'" [type]="'checkbox'" [id]="'advanced'" [(value)]="advanced"></settings-plex-form-field>

        <hr>

        <div class="row">
            <mat-tab-group #tabGroup [selectedIndex]="selected.value" (selectedTabChange)="addTab($event)"
                (selectedIndexChange)="selected.setValue($event)" animationDuration="0ms" style="width:100%;">
                <mat-tab *ngFor="let server of settings.servers" [label]="server.name">

                    <div class="col-md-6 col-6 col-sm-6 align-right">
                        <button type="button" (click)="removeServer(server)"
                            class="mat-focus-indicator mat-flat-button mat-button-base mat-warn">Remove Server</button>
                    </div>
                    <br />
                    <br />

                    <settings-plex-form
                        [server]="server"
                        [advancedEnabled]="advanced"
                        [loadedServers]="loadedServers"
                        (loadLibraries)="loadLibraries(server)"
                        (loadServers)="requestServers($event)"
                        (test)="testPlex(server)"
                        (runSync)="runSync($event)"
                        (selectServer)="selectServer($event, server)"
                        >
                    </settings-plex-form>

                </mat-tab>
                <mat-tab label="" disabled=true> </mat-tab>
                <mat-tab label="Add Server" position=100> </mat-tab>

            </mat-tab-group>
            <div class="col-md-2">
                <div class="form-group">
                    <div>
                        <button mat-raised-button (click)="save()" type="submit" id="save"
                            class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<!--(){{settings|json}}-->
