<settings-menu></settings-menu>
<div class="small-middle-container" *ngIf="settings">
    <fieldset style="width:100%;">
        <legend>Plex Configuration</legend>
        <div class="col-12">
            <div class="md-form-field align-right">
                <button (click)="openWatchlistUserLog()" type="button" class="mat-focus-indicator mat-flat-button mat-button-base mat-accent">Watchlist User Errors</button>
            </div>

        </div>
        <settings-plex-form-field [label]="'Enable'" [type]="'checkbox'" [id]="'enable'" [(value)]="settings.enable"></settings-plex-form-field>

        <settings-plex-form-field [label]="'Enable User Watchlist Requests'" [type]="'checkbox'" [id]="'enableWatchlistImport'" [(value)]="settings.enableWatchlistImport">
            <small bottom>When a Plex User adds something to their watchlist in Plex, it will turn up in Ombi as a Request if enabled. This <b>only</b> applies to users that are logging in with their Plex Account
                <br>Request limits if set are all still applied
            </small>
        </settings-plex-form-field>

        <settings-plex-form-field [disabled]="!settings.enableWatchlistImport" [label]="'Watchlist - Request Whole Show'" disabled [type]="'checkbox'" [id]="'monitorAll'" [(value)]="settings.monitorAll">
            <small bottom>If enabled then watchlist requests for TV Shows will request the <strong><em>whole</em></strong> show. If not enabled it will only request the latest season.
            </small>
        </settings-plex-form-field>



        <hr>

<div class="row">
<div class="col-md-7">
        <h2 style="margin: 1em 0 0 0;">Servers</h2>
        <mat-list style="display:flex; flex-flow: wrap;">
            <mat-card class="server-card" *ngFor="let server of settings.servers">
                <button mat-button (click)="edit(server)" id="{{server.name}}-button">
                    <h3>{{server.name}}</h3>
                </button>
            </mat-card>

            <mat-card class="server-card new-server-card">
                <button mat-button (click)="newServer()" id="newServer">
                    <i class="fas fa-plus fa-xl"></i>
                    <h3>Manually Add Server</h3>
                </button>
            </mat-card>
        </mat-list>


<div class="row">

    <br />
        <div class="form-group col-2">
            <button mat-raised-button (click)="runSync(PlexSyncType.Full)" type="button" id="fullSync"
                class="mat-focus-indicator mat-stroked-button mat-button-base">Full
                Sync</button><br />
        </div>
        <div class="form-group col-2">
            <button mat-raised-button (click)="runSync(PlexSyncType.RecentlyAdded)" type="button" id="recentlyAddedSync"
                class="mat-focus-indicator mat-stroked-button mat-button-base">Partial Sync</button>
        </div>
        <div class="form-group col-2">
            <button mat-raised-button (click)="runSync(PlexSyncType.ClearAndReSync)" type="button" id="clearData"
                class="mat-focus-indicator mat-stroked-button mat-button-base">
                Clear Data And Resync
            </button>
        </div>
        <div class="form-group col-12">
            <button mat-raised-button (click)="runSync(PlexSyncType.WatchlistImport)" type="button" id="watchlistImport"
                class="mat-focus-indicator mat-stroked-button mat-button-base">
                Run Watchlist Import
            </button>
        </div>
</div>

        <div class="row">

            <div class="col-md-2">
                <div class="form-group">
                    <div>
                        <button mat-raised-button (click)="save()" type="submit" id="save"
                            class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-md-5">
        <div class="md-form-field">
            <label for="username" class="control-label">
                <h3>Plex Credentials</h3>
                <small>These fields are optional to automatically fill in your Plex server settings. <br>
                This will pass your username and password to the Plex.tv API to grab the servers associated with this user.
            <br>
            If you have 2FA enabled on your account, you need to append the 2FA code to the end of your password.</small>
            </label>
        </div>
    
        <settings-plex-form-field [label]="'Username'" [id]="'username'" [(value)]="username"></settings-plex-form-field>
        <settings-plex-form-field [label]="'Password'" [id]="'password'" [type]="'password'" [(value)]="password"></settings-plex-form-field>
    
        <div class="md-form-field">
            <div class="right">
                <button mat-raised-button id="loadServers" (click)="requestServers()"
                    class="mat-stroked-button">Load Servers
                    <i class="fas fa-key"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-2 align-self-center">
                Please select the server:
            </div>
            <div class="md-form-field col-10">
                <div *ngIf="!loadedServers">
                    <mat-form-field appearance="outline" floatLabel=auto>
                        <input disabled  matInput placeholder="No Servers Loaded" id="servers">
                    </mat-form-field>
                </div>
    
                <div *ngIf="loadedServers">
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Servers Loaded! Please Select" id="servers">
                            <mat-option (click)="selectServer(s)"
                                *ngFor="let s of loadedServers.servers.server" [value]="s.server">
                                {{s.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>

    </fieldset>
</div>
<!--(){{settings|json}}-->
