<form method="POST">
    Username <input class="form-control" type="text" name="Username"/>
    <br/>
    Password <input class="form-control" name="Password" type="password"/>
    <br/>
    <input class="btn btn-success" type="submit" value="Login"/>
</form>