<h1>Login</h1>
<div class="row">
    <label class="col-md-5">
        Want to watch a movie or tv show but it's not currently on Plex?
        Login below with your Plex.tv username and password! <span title="Your login details are only used to authenticate your Plex account."><i class="fa fa-question-circle"></i></span>
    </label>
</div>
<form method="POST" id="loginForm">
    <div class="row">
        <div class="col-md-2">
            <label style="padding-top: 8px"> Username </label>
        </div>
        <div class="col-md-5">
            <input class="form-control form-control-custom col-md-5" type="text" name="Username" />
        </div>
    </div>
    <br />
    @if (Model.UsePassword)
    {
        <div class="row">
            <div class="col-md-2">
                <label style="padding-top: 8px"> Password </label>
            </div>
            <div class="col-md-5">
                <input class="form-control form-control-custom col-md-5" name="Password" type="password" />
            </div>
        </div>
    }
    <br />
    <input id="loginBtn" class="btn btn-success" type="submit" value="Login" />
</form>


<script>
    $(function () {

        $('#loginBtn').click(function (e) {
            e.preventDefault();
            var $form = $("#loginForm");
            $.ajax({
                type: $form.prop("method"),
                url: $form.prop("action"),
                data: $form.serialize(),
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.result === true) {
                        window.location.replace("/search");
                    } else {
                        generateNotify(response.message, "warning");
                    }
                },
                error: function (e) {
                    console.log(e);
                    generateNotify("Something went wrong!", "danger");
                }
            });
        });



    });
</script>