@import "~styles/shared.scss";
.small-middle-container {
    margin: auto;
    width: 95%;
    margin-top: 10px;
}

.col-md-10 {
    display: grid;
}

.col-md-2 {
    display: contents;
}

.control-label {
    font-weight: 400;
}

.row {
    display: block;
}

.btn-danger-outline {
    background-color: #E84C3D;
}

.btn-success-outline {
    background-color: #1b9d1b;
}

::ng-deep .dark .btn:hover {
    box-shadow: 0 5px 11px 0 rgba(255, 255, 255, 0.18), 0 4px 15px 0 rgba(255, 255, 255, 0.15);
    color: inherit;
}

@media (min-width:1440px) {
    .col-md-2 {
        display: inline-table;
    }
}