
<settings-menu></settings-menu>
<div *ngIf="settings">
    <fieldset>
        <legend>
            Emby Configuration
        </legend>

        <div class="row">
            <div class="form-group col-md-3">
                <div class="checkbox">
                    <input type="checkbox" id="enable" [(ngModel)]="settings.enable" [checked]="settings.enable">
                    <label for="enable">Enable</label>
                </div>
            </div>
            <div class="col-md-2 col-md-push-7">
                <button type="button" (click)="addTab()" class="btn btn-success-outline">Add Server</button>
            </div>
        </div>

        <ngb-tabset>
            <div *ngFor="let server of settings.servers">
                <ngb-tab [id]="server.id" [title]="server.name">
                    <ng-template ngbTabContent>
                        <br />
                        <br />
                        <div class="col-md-2" style="float: right;">
                            <button type="button" (click)="removeServer(server)" class="btn btn-danger-outline">Remove Server</button>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="control-label">Server name</label>
                                <div>
                                    <input type="text" class="form-control form-control-custom " id="name" name="name" placeholder="Server" [(ngModel)]="server.name" value="{{server.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Ip" class="control-label">Hostname or IP</label>
                                <div>
                                    <input type="text" class="form-control form-control-custom " id="Ip" name="Ip" placeholder="localhost" [(ngModel)]="server.ip" value="{{server.ip}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="portNumber" class="control-label">Port</label>
                                <div>
                                    <input type="text" [(ngModel)]="server.port" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="{{server.port}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <input type="checkbox" id="ssl" [(ngModel)]="server.ssl" ng-checked="server.ssl">
                                    <label for="ssl">SSL</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="authToken" class="control-label">Emby Api Key</label>
                                <div class="">
                                    <input type="text" class="form-control-custom form-control" id="authToken" [(ngModel)]="server.apiKey" placeholder="Emby Api Key" value="{{server.apiKey}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="authToken" class="control-label">Externally Facing Hostname
                                    <i class="fa fa-question-circle"
                                    pTooltip="This will be the external address that users will naviagte to when they press the 'View On Emby' button"></i>                                    
                                </label>
                                <div>
                                    <input type="text" class="form-control-custom form-control" id="authToken" [(ngModel)]="server.serverHostname" placeholder="e.g. https://jellyfin.server.com/" value="{{server.serverHostname}}">
                                    <small><span *ngIf="server.serverHostname">Current URL: "{{server.serverHostname}}/#!/itemdetails.html?id=1"</span>
                                    <span *ngIf="!server.serverHostname">Current URL: "https://app.emby.media/#!/itemdetails.html?id=1</span></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button id="testEmby" type="button" (click)="test(server)" class="btn btn-primary-outline">Test Connectivity <div id="spinner"></div></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </div>
        </ngb-tabset>
        <div class="col-md-1">
            <div class="form-group">
                <div>
                    <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div>
                    <button (click)="runCacher()" type="button" id="save" class="btn btn-primary-outline">Manually Run Cacher</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>