<settings-menu>
</settings-menu>
<div class="small-middle-container">
<div *ngIf="form">
    <fieldset>
        <legend>CouchPotato Settings</legend>
        <form novalidate [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12" style="float: right; width:100%; text-align:right;">
                    <div class="md-form-field">
                        <mat-slide-toggle formControlName="enabled" id="enable">Enable</mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-8 col-sm-12">
                    <label for="username" class="control-label"><h3>Server Configuration</h3></label>
                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>Hostname or IP</mat-label>
                            <input matInput id="Ip" name="Ip" placeholder="Example: localhost" formControlName="ip" >
                            <mat-error>The IP/Hostname is required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>Port</mat-label>
                            <input matInput id="port" name="port" placeholder="Example: 8989" formControlName="port">
                            <mat-error>The Port is required</mat-error>
                        </mat-form-field>
                        <mat-slide-toggle formControlName="ssl">SSL</mat-slide-toggle>
                    </div>
                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>API Key</mat-label>
                            <input matInput id="apiKey" name="apiKey" placeholder="API Key" formControlName="apiKey">
                            <mat-error>The API Key is required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="md-form-field">
                        <mat-form-field appearance="outline" floatLabel=always>
                            <mat-label>Base URL</mat-label>
                            <input matInput id="SubDir" name="SubDir" placeholder="Example: /sonarr" formControlName="subDir">
                        </mat-form-field>
                    </div>
                    <div class="md-form-field">
                        <label for="username" class="control-label"><h3>Plex Credentials</h3></label>
                        <div>
                            <mat-form-field appearance="outline" floatLabel=auto>
                                <mat-label>Username</mat-label>
                                <input matInput id="username" placeholder="username" formControlName="username" value="{{username}}">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" floatLabel=auto>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" id="password" placeholder="Password" formControlName="password" value="{{password}}">
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button class="mat-focus-indicator mat-stroked-button mat-button-base" (click)="requestToken(form)">Request Api Key <i class="fa fa-key"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-4 col-sm-12">
                    <label for="username" class="control-label"><h3>Interface</h3></label>
                    <div class="form-group col-md-12">
                        <div id="profiles">
                            <div class="md-form-field" style="display:contents;">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quality Profiles</mat-label>
                                    <mat-select formControlName="defaultProfileId">
                                      <mat-option *ngFor="let profile of profiles" value="{{profile._id}}">{{profile.label}}</mat-option>
                                    </mat-select>
                                    <mat-error>A Default Quality Profile is required</mat-error>
                                  </mat-form-field>
                            </div>
                            <div class="md-form-field" style="display:inline;margin-left:20px;">
                            <button mat-raised-button id="profiles" (click)="getProfiles(form)" class="mat-stroked-button load">
                                    Load Quality Profiles <span *ngIf="profilesRunning" class="fa fa-spinner fa-spin"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:2em;">
                    <div class="form-group">
                        <div>
                            <button mat-raised-button [disabled]="form.invalid" (click)="test(form)" class="mat-focus-indicator mat-stroked-button mat-button-base">Test Connectivity <span id="spinner"></span></button>
                        </div>
                    </div>


                    <div class="form-group">
                        <div>
                            <button mat-raised-button [disabled]="form.invalid" class="mat-focus-indicator mat-stroked-button mat-button-base mat-accent">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
</div>