<h1 [translate]="'Search.Title'"></h1>
<h4 [translate]="'Search.Paragraph'"></h4>
<br />
<!-- Nav tabs -->


<ul id="nav-tabs" class="nav nav-tabs nav-justified" role="tablist">

    <li role="presentation" class="active">
        <a id="movieTabButton" href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab" (click)="selectMovieTab()"><i class="fa fa-film"></i>  {{ 'Search.MoviesTab' | translate }}</a>
    </li>
    
    <li role="presentation">
        <a id="tvTabButton" href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab" (click)="selectTvTab()"><i class="fa fa-television"></i> {{ 'Search.TvTab' | translate }}</a>
    </li>
    <li role="presentation" *ngIf="musicEnabled">
        <a id="tvTabButton" href="#MusicTab" aria-controls="profile" role="tab" data-toggle="tab" (click)="selectMusicTab()"><i class="fa fa-music"></i> {{ 'Search.MusicTab' | translate }}</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div [hidden]="!showMovie">
        <movie-search [issueCategories]="issueCategories" [issuesEnabled]="issuesEnabled"></movie-search>
    </div>

    <div [hidden]="!showTv">
        <tv-search [issueCategories]="issueCategories" [issuesEnabled]="issuesEnabled"></tv-search>
    </div>
    <div [hidden]="!showMusic">
        <music-search></music-search>
    </div>
</div>


