<h1 id="searchTitle">Search</h1>
<h4>Want to watch something that is not currently available?! No problem! Just search for it below and request it!</h4>
<br />
<!-- Nav tabs -->


<ul id="nav-tabs" class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
        <a id="movieTabButton" href="#MoviesTab" aria-controls="home" role="tab" data-toggle="tab" (click)="selectTab()"><i class="fa fa-film"></i> Movies</a>
    </li>
    
    <li role="presentation">
        <a id="tvTabButton" href="#TvShowTab" aria-controls="profile" role="tab" data-toggle="tab" (click)="selectTab()"><i class="fa fa-television"></i> TV Shows</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

    <div [hidden]="!showMovie">
        <movie-search></movie-search>
    </div>

    <div [hidden]="!showTv">
        <tv-search></tv-search>
    </div>
</div>


