<!-- Movie tab -->
<div role="tabpanel" class="tab-pane" id="TvShowTab">
    <div class="input-group">
        <input id="search" type="text" class="form-control form-control-custom form-control-search form-control-withbuttons" (keyup)="search($event)">
        <div class="input-group-addon right-radius">
            <div class="btn-group">
                <a href="#" class="btn btn-sm btn-primary-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Suggestions
                    <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a (click)="popularShows()">Popular Shows</a></li>
                    <li><a (click)="trendingShows()">Trending Shows</a></li>
                    <li><a (click)="mostWatchedShows()">Most Watched Shows</a></li>
                    <li><a (click)="anticipatedShows()">Most Anticipated Shows</a></li>
                </ul>
            </div><i id="tvSearchButton" class="fa fa-search"></i>
        </div>
    </div>
    <br />
    <br />
    <!-- Movie content -->
    <div id="actorMovieList">
    </div>


<br />
    <br />
    <!-- TV content -->
    <div id="tvList">
        
        <div *ngIf="searchApplied && tvResults?.length <= 0" class='no-search-results'>
            <i class='fa fa-film no-search-results-icon'></i><div class='no-search-results-text'>Sorry, we didn't find any results!</div>
        </div>
        <p-treeTable [value]="tvResults">
            <p-column>
                <ng-template let-col let-node="rowData" pTemplate="header">
                    Results
                </ng-template>
                <ng-template let-col let-node="rowData" pTemplate="body">
                    <!--This is the section that holds the parent level search results set-->
                    <div *ngIf="!node.leaf">
                        <div class="row">
                            <div class="col-sm-2">

                                <img *ngIf="node?.data?.banner" class="img-responsive poster" width="150" [src]="node.data.banner" alt="poster">

                            </div>
                            <div class="col-sm-8">
                                <div>

                                    <a href="http://www.imdb.com/title/{{node.data.imdbId}}/" target="_blank">
                                        <h4>{{node.data.title}} ({{node.data.firstAired | date: 'yyyy'}})</h4>

                                    </a>
                                    <span *ngIf="node.data.status" class="label label-primary" target="_blank">{{node.data.status}}</span>


                                    <span *ngIf="node.data.firstAired" class="label label-info" target="_blank">Air Date: {{node.data.firstAired | date: 'dd/MM/yyyy'}}</span>

                                    <span *ngIf="node.data.network" class="label label-info" target="_blank">{{node.data.network}}</span>

                       
                                    <ng-template [ngIf]="node.data.available"><span class="label label-success">Available</span></ng-template>
                                    <ng-template [ngIf]="node.data.partlyAvailable"><span class="label label-warning">Partially Available</span></ng-template>


                                    <a *ngIf="node.data.homepage" href="{{node.data.homepage}}" target="_blank"><span class="label label-info">HomePage</span></a>

                                    <a *ngIf="node.data.trailer" href="{{node.data.trailer}}" target="_blank"><span class="label label-info">Trailer</span></a>


                                    <br />
                                    <br />
                                </div>
                                <p style="font-size: 0.9rem !important">{{node.data.overview}}</p>
                            </div>


                            <div class="col-sm-2">
                                <div *ngIf="!node.data.fullyAvailable" class="dropdown">
                                    <button class="btn btn-primary-outline dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-plus"></i> Request
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#" (click)="allSeasons(node.data, $event)">All Seasons</a></li>
                                        <li><a href="#" (click)="firstSeason(node.data, $event)">First Season</a></li>
                                        <li><a href="#" (click)="latestSeason(node.data, $event)">Latest Season</a></li>
                                        <li><a href="#" (click)="openClosestTab($event)">Select ...</a></li>
                                    </ul>
                                </div>
                                
                                <div *ngIf="node.data.fullyAvailable">
                                    <button style="text-align: right" class="btn btn-success-outline disabled" disabled><i class="fa fa-check"></i> Available</button>
                                </div>
                                <br />
                                <div *ngIf="node.data.available">
                                    <a *ngIf="node.data.plexUrl" style="text-align: right" class="btn btn-sm btn-success-outline" href="{{node.data.plexUrl}}" target="_blank"><i class="fa fa-eye"></i> View On Plex</a>
                                </div>
                                <div *ngIf="!node.data.available">
                                    <br/>
                                    <br/>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--This is the section that holds the child seasons if they want to specify specific episodes-->
                    <div *ngIf="node.leaf">
                        <seriesinformation [seriesId]="node.data.id"></seriesinformation>
                    </div>
                    
                    <hr />
                </ng-template>
            </p-column>
        </p-treeTable>
    </div>
</div>