
<settings-menu></settings-menu>
<div *ngIf="settings">
    <fieldset>
        <legend>Emby Configuration</legend>
        
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" [(ngModel)]="settings.enable" ng-checked="settings.enable">
                <label for="enable">Enable</label>
            </div>
        </div>

        <div class="form-group">
            <label for="Ip" class="control-label">Hostname or IP</label>
            <div>
                <input type="text" class="form-control form-control-custom " id="Ip" name="Ip" placeholder="localhost" [(ngModel)]="settings.ip" value="{{settings.ip}}">
            </div>
        </div>

        <div class="form-group">
            <label for="portNumber" class="control-label">Port</label>
            <div>
                <input type="text" [(ngModel)]="settings.port" class="form-control form-control-custom " id="portNumber" name="Port" placeholder="Port Number" value="{{settings.port}}">
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="ssl" [(ngModel)]="settings.ssl" ng-checked="settings.ssl">
                <label for="ssl">SSL</label>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">


                <input type="checkbox" id="EnableTvEpisodeSearching" [(ngModel)]="settings.enableEpisodeSearching" ng-checked="settings.enableEpisodeSearching">
                <label for="EnableTvEpisodeSearching">Enable Episode Searching</label>

            </div>
        </div>


        <div class="form-group">
            <label for="authToken" class="control-label">Emby Api Key</label>
            <div class="">
                <input type="text" class="form-control-custom form-control" id="authToken" [(ngModel)]="settings.apiKey" placeholder="Emby Api Key" value="{{settings.apiKey}}">
            </div>
        </div>

        <div class="form-group">
            <div>
                <button id="testPlex" type="submit" (click)="test()" class="btn btn-primary-outline">Test Connectivity <div id="spinner"></div></button>
            </div>
        </div>



        <div class="form-group">
            <div>
                <button (click)="save()" type="submit" id="save" class="btn btn-primary-outline">Submit</button>
            </div>
        </div>
    </fieldset>
</div>