<h1>Recently Added</h1>

<hr />
<p-calendar [(ngModel)]="range" showButtonBar="true" selectionMode="range" (onClose)="close()"></p-calendar>
<hr />

<ngu-carousel [inputs]="carouselTile">
            <ngu-tile NguCarouselItem *ngFor="let movie of movies">
                <img class="img-responsive poster" src="{{movie.posterPath}}" style="width: 300px" alt="poster">
                <b>{{movie.title}}</b>
            </ngu-tile>

          <button NguCarouselPrev class='leftRs'><i class="fa fa-arrow-left"></i></button>
          <button NguCarouselNext class='rightRs'><i class="fa fa-arrow-right"></i></button>
    </ngu-carousel>



<hr/>

<ngu-carousel [inputs]="carouselTile">
        <ngu-tile NguCarouselItem *ngFor="let t of tv">
            <img class="img-responsive poster" src="{{t.posterPath}}" style="width: 300px" alt="poster">
            <b>{{t.title}}</b>
        </ngu-tile>

      <button NguCarouselPrev class='leftRs'><i class="fa fa-arrow-left"></i></button>
      <button NguCarouselNext class='rightRs'><i class="fa fa-arrow-right"></i></button>
</ngu-carousel>
