<h1>Recently Added</h1>

<hr />
<p-calendar [(ngModel)]="range" showButtonBar="true" selectionMode="range" (onClose)="close()"></p-calendar>
<hr />

<ngu-carousel
      [inputs]="carouselTile">

            <ngu-tile NguCarouselItem *ngFor="let movie of movies">
                <img class="img-responsive poster" src="{{movie.posterPath}}" style="width: 300px" alt="poster">
            </ngu-tile>

          <button NguCarouselPrev class='leftRs'>&lt;</button>
          <button NguCarouselNext class='rightRs'>&gt;</button>
    </ngu-carousel>


<hr/>