<ombi>
    <div class="app-loading-container">

        <div class="app-loading">
            Loading
            <span class="app-loading-one">.</span>
            <span class="app-loading-two">.</span>
            <span class="app-loading-three">.</span>
        </div>
    </div>
</ombi>
