<section class="twilio">
    <header class="twilio__header">
        <div class="twilio__avatar" aria-hidden="true">
            <mat-icon>contactless</mat-icon>
        </div>
        <div>
            <h2 class="twilio__title">Twilio</h2>
            <p class="twilio__subtitle">Configure the Twilio integrations available in Ombi.</p>
        </div>
    </header>

    <mat-tab-group class="twilio__tabs" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="150ms">
        <mat-tab label="WhatsApp">
            <app-whatsapp></app-whatsapp>
        </mat-tab>
    </mat-tab-group>
</section>
