
    .small-middle-container{
        margin: auto;
        width: 75%;
        padding-top: 15%;
    }


@media only screen and (max-width: 992px) {
    div.centered {
        max-height: 100%;
        overflow-y: auto;
        width: 100%;
        padding: 50% 12.5%;
    }
}

div.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.online{
    color:lightgreen;
}


.partial {
    color: #ffd800
}

.offline {
    color: #F44336
}

p {
    font-size: 14px !important;
}

span, b, i, p {
    color:white !important;
}

::ng-deep body {
    background-color:#303030 !important;
}