<div class="small-middle-container">
    @if (count()) {
        <mat-tab-group>
            <mat-tab label="{{'Issues.PendingTitle' | translate}}">
                <ng-template matTabContent>
                    @if (hasPendingIssues()) {
                        <issues-table 
                            [issues]="pendingIssues()" 
                            (changePage)="changePagePending($event)" 
                            [totalRecords]="count()?.pending">
                        </issues-table>
                    }
                </ng-template>
            </mat-tab>
            
            @if (hasInProgressIssues()) {
                <mat-tab label="{{'Issues.InProgressTitle' | translate}}">
                    <ng-template matTabContent>
                        @if (inProgressIssues()) {
                            <issues-table 
                                [issues]="inProgressIssues()" 
                                (changePage)="changePageInProg($event)" 
                                [totalRecords]="count()?.inProgress">
                            </issues-table>
                        }
                    </ng-template>
                </mat-tab>
            }
            
            <mat-tab label="{{'Issues.ResolvedTitle' | translate}}">
                <ng-template matTabContent>
                    @if (hasResolvedIssues()) {
                        <issues-table 
                            [issues]="resolvedIssues()" 
                            (changePage)="changePageResolved($event)" 
                            [totalRecords]="count()?.resolved">
                        </issues-table>
                    }
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    }
</div>