<div class="small-middle-container">
    <div class="row" *ngIf="count">

            <div *ngIf="pendingIssues.length  > 0" class="col-4">
                <h2>{{'Issues.PendingTitle' | translate}}</h2>
                <issues-table [issues]="pendingIssues" (changePage)="changePagePending($event)" [totalRecords]="count.pending"></issues-table>
            </div>

            <div *ngIf="inProgressIssues.length  > 0" class="col-4">
                <h2>{{'Issues.InProgressTitle' | translate}}</h2>
                <issues-table [issues]="inProgressIssues" (changePage)="changePageInProg($event)" [totalRecords]="count.inProgress"></issues-table>
            </div>

            <div *ngIf="resolvedIssues.length  > 0" class="col-4">
                <h2>{{'Issues.ResolvedTitle' | translate}}</h2>
                <issues-table [issues]="resolvedIssues" (changePage)="changePageResolved($event)" [totalRecords]="count.resolved"></issues-table>
            </div>
    </div>
</div>