<form [formGroup]="form" *ngIf="form">
  <h1 id="advancedOptionsTitle">
    <i class="fas fa-sliders-h"></i> Advanced Search
  </h1>
  <hr />
  <div class="alert alert-info" role="alert">
    <i class="fas fa-x7 fa-exclamation-triangle glyphicon"></i>
    <span>{{ "MediaDetails.AutoApproveOptions" | translate }}</span>
  </div>

  <div style="max-width: 0; max-height: 0; overflow: hidden">
    <input autofocus="true" />
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form-field">
        <mat-radio-group formControlName="type" aria-label="Select an option">
          <mat-radio-button value="movie">Movies </mat-radio-button>
          <mat-radio-button style="padding-left: 5px;" value="tv">TV Shows </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" floatLabel=always>
        <mat-label>Year</mat-label>
        <input matInput id="releaseYear" name="releaseYear" formControlName="releaseYear">
    </mat-form-field>
  </div>

    <div class="col-md-6">
      <keyword-search [form]="form"></keyword-search>
    </div>
    <div class="col-md-6">
      <genre-select [form]="form" [mediaType]="form.controls.type.value"></genre-select>
    </div>

    </div>

  <div mat-dialog-actions class="right-buttons">
    <button
      mat-raised-button
      id="cancelButton"
      [mat-dialog-close]=""
      color="warn"
    >
      <i class="fas fa-times"></i> {{ "Common.Cancel" | translate }}
    </button>
    <button
      mat-raised-button
      id="requestButton"
      (click)="submitRequest()"
      color="accent"
    >
      <i class="fas fa-plus"></i> {{ "Common.Request" | translate }}
    </button>
  </div>
</form>
