<form method="POST">
    <br />
    Old Password <input class="form-control" name="OldPassword" type="password" />
    New Password <input class="form-control" name="NewPassword" type="password" />
    New Password again <input class="form-control" name="NewPasswordAgain" type="password" />
    <br />
   <br />
    <input class="btn btn-success-outline" type="submit" value="Change Password" />
</form>
