@using PlexRequests.UI.Helpers
@{
    var baseUrl = Html.GetBaseUrl().ToHtmlString();
    var url = string.Empty;
    if (!string.IsNullOrEmpty(baseUrl))
    {
        url = "/" + baseUrl;
    }
}
<form method="POST">
    Username <input class="form-control form-control-custom" type="text" name="username" />
    <br />
    Password <input class="form-control form-control-custom" name="Password" type="password" />
    <div class="checkbox">
        <input name="RememberMe" id="RememberMe" type="checkbox" checked="checked" />
        <label for="RememberMe">Remember Me</label>
    </div>
    <input class="btn btn-success-outline" type="submit" value="Login" />
    <input type="hidden" id="DateTimeOffset" name="DateTimeOffset" />
    <input type="hidden" id="redirect" name="redirect" value="@Model.Redirect" />
</form>
@if (!Model.AdminExists)
{
    <div>If you have not yet created an Admin account you can do here: <a href="@url/register">Register</a></div>
}
@if (Model.Errored)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        Invalid Username or Password!
    </div>
}

<script>
    $(function () {
        var dtOffset = new Date().getTimezoneOffset();
        $('#DateTimeOffset').val(dtOffset);
    });
</script>
