<form method="POST">
    Username <input class="form-control form-control-custom" type="text" name="username" />
    <br />
    Password <input class="form-control form-control-custom" name="Password" type="password" />
    <br />
   <br />
    <input class="btn btn-success-outline" type="submit" value="Create User" />
</form>
@if (Model.Errored)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        An admin account already exists! 
    </div>
}